<script type="text/javascript">
	dojo.require("dijit._editor.plugins.ViewSource");
	dojo.require("dojox.editor.plugins.InsertEntity");
	dojo.require("dojox.editor.plugins.UploadImage");
	dojo.require("dojox.editor.plugins.LocalImage");
	dojo.require("dojox.editor.plugins.PrettyPrint");
</script>

<h1>Edit Biography</h1>
<?php echo $this->biographyEditor; ?>