<div id="Calendar">
	<div id="CalHeader">
		<div id="CalTabs">
        	<?php
        		// This needs to be fixed on the AJAX/JS side of things.
        		// Works for initial load, but next call only gets three months back.
				$monthsAhead = 3;
				$date = new DateTime();

				for($i = 0; $i < $monthsAhead; $i++) {
					$date->setDate(date('Y'), date('m') + $i, '1');
					if($i == 1) { $nextMonth = $date->format('F'); }
					if($i == 0){
						echo '<div class="tab calTabActive" id="' . $date->format('F') . '">' . $date->format('F') . '</div>';
					} else {
						echo '<a href="' . strtolower($date->format('F')) . '/"><div class="tab" id="' . $date->format('F') . '">' . $date->format('F') . '</div></a>';
					}
				}
			?>
            <span class="theDate"><?php echo date('Y'); ?></span>
            <div style="clear: both;"></div>
        </div>
	</div>

	<div id="ThickBorder"></div>
	<div id="AllEvents">
	<?php
		if(count($this->eventList) != 0) {
			$this->partialLoop()->setObjectKey('event');
			echo $this->partialLoop('_partials/_eventListItem.phtml', $this->eventList);
		} else {
			echo '<div class="noEvents"><img src="/images/headers/eventless.png" style="margin-top: 21px; margin-left: 10px;" with="165" height="30" border="0" alt="No Events" /></div>';
		}
	?>
	</div>
	<p id="NextMonth"><a id="<?php echo $nextMonth; ?>" href="<?php echo strtolower($nextMonth); ?>/">&nbsp;&nbsp;Go to <?php echo $nextMonth; ?> »</a></p>
</div>