<?php
if (isset($_POST['Send']) and $_POST['Send'] == "Reserve Your Space") {
	$rsvpResult = addRSVP($_POST, $this->id);
	echo '<div class="emailSent"><img src="/images/headers/rsvp_sent.png" width="285" height="30" border="0" alt="Thank you, your RSVP has been sent" /></div><br />';
}

$imageSize = getimagesize(APPLICATION_PATH . '/../html/images/events/' . $this->event->flyerfront);
if($imageSize[0] < $imageSize[1]) { // Tall Image
	$style = 'float: left; margin-right: 15px; width: 285px;';
} else {
	$style = '';
}
?>

<div style="<?php echo $style; ?>">
	<div id="EventFlyer22" style="max-height: 400px; text-align: center;">
		<img id="event_flyer" style="max-height: 400px; max-width: 100%;" src="/images/events/<?php echo $this->event->flyerfront; ?>" border="0" alt="Flyer" />
	</div>
	<?php if($this->event->flyerback) { ?>
		<div id="DiscogOptions">
				<div class="thumb" style="float: right;"><a href="back" id="Thumb2" onClick="document.getElementById('event_flyer').src = '/images/events/<?php echo $this->event->flyerback; ?>'; return false;"><img src="/images/buttons/back.png" width="42" height="22" border="0" alt="Flyer Back" /></a></div>
				<div class="thumb" style="float: right;"><a href="front" id="Thumb1" onClick="document.getElementById('event_flyer').src = '/images/events/<?php echo $this->event->flyerfront; ?>'; return false;"><img src="/images/buttons/front.png" width="42" height="22" border="0" alt="Flyer Front" /></a></div>
				<div style="clear: both"></div>
		</div>
	<?php } ?>
</div>

<h3 style="margin-bottom: 6px;"><?php echo stripslashes($this->event->title); ?></h3>
<p><?php echo trim(stripslashes($this->event->description)); ?></p>
<div style="clear: both;"></div>
<?php if ($this->event->rsvp != '') { ?>
<div id="RSVP">
	<div id="RsvpHeader">
		<p>R.S.V.P. for this event</p>
	</div>
	<div id="RsvpForm">
		<form enctype="application/x-www-form-urlencoded" action="" method="post"><dl>
        <input type="hidden" name="rsvp_email" value="<?php echo $eventsinfo['rsvp']; ?>" />
        <div>
        <dt id="email_address-label"><label for="email_address" class="required">Email Address:</label></dt>
        <dd id="email_address-element">
        <input type="text" name="email_address" id="email_address" value="" onFocus="select();" /></dd>
        </div>
        <div>
        <dt id="first_name-label"><label for="first_name" class="required">First Name:</label></dt>
        <dd id="first_name-element">
        <input type="text" name="first_name" id="first_name" value="" onFocus="select();" /></dd>
        </div>
        <div>
        <dt id="last_name-label"><label for="last_name" class="required">Last Name:</label></dt>
        <dd id="last_name-element">
        <input type="text" name="last_name" id="last_name" value="" onFocus="select();" /></dd>
        </div>
        <div>
        <dt id="Send-label">&nbsp;</dt><dd id="Send-element">
        <input type="submit" name="Send" id="Send" value="Reserve Your Space" /></dd></div><div></div></dl></form>
    </div>
</div>
<?php } ?>

<br /><span><a href="/events/"><span class="button">Back to Events</span></a></span>