img#event_flyer {
	max-height: 400px;
}

#EventFlyer22 {
	width: 100%;
}

#RSVP {
	margin-top: 15px;
	border: 1px dotted #666;
	background: transparent url(/images/backgrounds/eventFeatured.png) repeat top left;
}

#RSVP #RsvpHeader {
	padding-left: 10px;
	padding-top: 5px;
	border-bottom: 1px dotted #666;
	height: 20px;
	background: #000 url(/images/backgrounds/rsvp_header.jpg) repeat-x top left;
}

#RSVP #RsvpHeader p {
	font: italic 14px 'Georgia', serif;
	text-transform: uppercase;
}

#RSVP #RsvpForm {
	padding-left: 10px;
}

#RSVP #RsvpForm dt {
	font: normal 12px 'Trebuchet MS', 'Lucida Grande', Arial, sans-serif;
	float: left;
	margin-top: 3px;
}

#RSVP #RsvpForm dd {
	margin: 0;
	float: right;
}

#RSVP #RsvpForm div {
	clear: both;
	margin-right: 15px;
}

#RSVP #RsvpForm div input#email_address,
#RSVP #RsvpForm div input#first_name,
#RSVP #RsvpForm div input#last_name {
	margin-bottom: 5px;
	width: 400px;
}

#Calendar {
	width: 528px;
}

#CalHeader {
	width: 528px;
	height: 27px;
}

#ThickBorder {
	width: 528px;
	height: 10px;
	background-color: #FFF100;
	border-left: 1px solid #754c28;
	border-right: 1px solid #754c28;
}

#CalTabs {
	border: 1px solid #754c28;
	width: 528px;
	background: transparent url(/images/backgrounds/calHeader.jpg) no-repeat top left;
}

.tab {
	float: left;
	width: 70px;
	height: 18px;
	padding-top: 7px;
	margin-bottom: -1px;
	border-right: 1px solid #754c28;
	border-bottom: 1px solid #754c28;
	text-align: center;
	font: normal 12px 'Myriad Pro', Helvetica, sans-serif;
	background: transparent url(/images/backgrounds/calTab.png) repeat-x bottom left;
}

#CalTabs div.calTabActive {
	border-bottom-color: #FFF100;
	color: #3B2314;
	font-weight: bold;
	width: 70px;
	background: transparent url(/images/backgrounds/tabActive.gif) repeat-x top left;
}

#CalTabs a, #CalTabs a:visited {
	color: #c3996b;
	text-decoration: none;
}

#CalTabs a:hover {
	text-decoration: none;
	color: #3B2314;
}

#CalTabs a div.tab:hover {
	background: transparent url(/images/backgrounds/calTabHover.png) repeat-x top left;
}

.event {
	width: 528px;
	padding-top: 5px 0;
	border-bottom: 1px solid #999999;
}

.eventInfo {
	float: right;
	width: 375px;
	margin-top: 5px;
	margin-bottom: 10px;
}

.eventImage {
	float: left;
	margin-top: 14px;
	margin-bottom: 10px;
}

.singleEvent {
	margin-bottom: 10px;
}

.event h4 {
	font-size: 18px;
	margin-top: 6px;
	margin-bottom: 5px;
	font-family: 'Georgia', serif;
	font-weight: bold;
}

.event a, .event a:visited,
.eventMonthlies a, .eventMonthlies a:visited {
	color: #FFF100;
	text-decoration: none;
}

.event a:hover, .eventMonthlies a:hover {
	color: #FFF100;
	text-decoration: underline;
}

.event p {
	color: #fff;
}

#NextMonth {
	width: 100%;
	background-color: #FFF100;
	color: #fff;
	padding: 3px 0;
	font: bold 11px Helvetica, Arial, sans-serif;
}

#NextMonth a, #NetMonth a:visited {
	color: #333;
	text-decoration: none;
}

#NextMonth a:hover {
	color: #000;
	text-decoration: none;
}

.noEvents {
	width: 530px;
	height: 75px;
	background: transparent url(/images/backgrounds/eventFeatured.png) repeat top left;
}

#Send {
	padding: 3px 8px;
	background-color: #37B34A;
	border: 1px solid #006838;
	color: #fff;
	font: normal 10px Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	cursor: pointer;
	margin-top: 15px;
}

#Send:hover {
	background-color: #319B3D;
}

#DiscogOptions {
	width: 100%;
	margin: 5px 0 0 0;
	padding-top: 5px;
	border-top: 1px dotted #ccc;
}

.emailSent {
	width: 530px;
	margin-top: 15px;
	height: 30px;
	border-top: 1px solid #333;
	border-bottom: 1px solid #333;
	background: transparent url(/images/backgrounds/email_sent.png) repeat top left;
}

.theDate {
	float: right;
	color: rgb(255, 255, 255);
	font: bold 16px 'Trebuchet MS', 'Lucida Grande', Helvetica,sans-serif;
	margin: 4px 10px 0pt 0pt;
}