#address-label, #subject-label, #body-label {
	display: none;
}

#address, #subject, #body {
	border: 1px solid #333;
	padding: 5px;
	width: 518px;
	background: transparent url(/images/backgrounds/eventFeatured.png) repeat top left;
}

#address, #subject {
	margin-bottom: 10px;
}

#body {
	height: 300px;
}

#Right form dd {
	margin: 0;
}

#Right form input, #Right form textarea {
	font: normal 15px 'Lucida Grande', Arial, sans-serif;
	color: #fff;
}

.emailSent {
	width: 530px;
	margin-top: 15px;
	height: 30px;
	border-top: 1px solid #333;
	border-bottom: 1px solid #333;
	background: transparent url(/images/backgrounds/email_sent.png) repeat top left;
}

#Send {
	width: 65px;
	height: 25px;
	background-color: #37B34A;
	border: 1px solid #006838;
	cursor: pointer;
}

#Send:hover {
	background-color: #319B3D;
}