html {
	-webkit-font-smoothing: antialiased;
	overflow-y: scroll;
}

body {
	margin: 0;
	padding: 0;
	text-align: center;
	color: #fff;
	background: #020201 url(/images/backgrounds/body.jpg) repeat top left;
}

p {
	font: normal 0.9em 'chaparral-pro', 'Trebuchet MS', 'Lucida Grande', Helvetica, sans-serif;
	color: #fff;
	margin: 0;
}

a, a:visited { color: #FFF100; text-decoration: none; }
a:hover { color: #FFF100; text-decoration: underline; }

h2 {
	font: normal 30px 'alternate-gothic-no-3-d', 'Trebuchet MS', 'Lucida Grande', Helvetica, sans-serif;
	margin-top: 0;
	text-transform: uppercase;
	margin-bottom: 0;
}

h3 {
	font: normal 28px 'alternate-gothic-no-3-d', 'Georgia', 'Trebuchet MS', 'Lucida Grande', Helvetica, sans-serif;
	color: #fff;
	margin: 0;
	text-transform: uppercase;
	margin-bottom: -5px;
}

h3 a, h3 a:visited { color: #fff; }
h3 a:hover { color: #FFF100; text-decoration: none; }

h4 {
	margin: 0 0 8px 0;
	color: #F9EC31;
	font: bold 18px 'Trebuchet MS', 'Lucida Grande', Helvetica, sans-serif;
}

hr {
	border: 0;
	height: 1px;
	background-color: #fff;
	margin: 0 0 20px 0;
}

#Page {
	margin: 0 auto 30px auto;
	width: 900px;
	background: #020201 url(/images/backgrounds/page.jpg) no-repeat top left;
	text-align: left;
	border: 1px solid #000;
	-webkit-box-shadow: 0 0 75px 5px #000;
	-moz-box-shadow: 0 0 75px 5px #000;
	box-shadow: 0 0 75px 5px #000;
}

#Nav {
	height: 30px;
	font: normal 20px 'alternate-gothic-no-3-d', 'Lucida Grande', Helvetica, sans-serif;
	text-transform: uppercase;
	padding-right: 35px;
	text-align: right;
	padding-top: 15px;
}
	
#Nav ul {
	display: inline;
}		

#Nav ul li {
	display: inline;
	color: #FFF100;
	font-weight: bold;
}

#Nav ul li ul li:before {
	/* content: "\002F \002F"; */
	content: "\007C";
	color: #fff;
}

#Nav ul li ul li:first-child:before {
	content: '';
}

#Nav ul li ul li ul {
	display: none;
}

#Nav ul li a.first {
	position: relative;
	left: -249px;
}

#Nav ul li a {
	color: #fff;
	text-decoration: none;
	padding: 5px 0;
	font-weight: normal;
}

#Nav ul li a.active {
	color: #FFF100;
}

#Nav ul li a:hover {
	color: #FFF100;
}

#Header {
	height: 115px;
	background-color: #555;
	border-top: 1px solid #fff;
	background: transparent url(/images/backgrounds/header.png) no-repeat top left;
}

#HeaderImage {
	float: right;
	position: relative;
	top: 79px;
	right: 0px;
}

#Logo {
	display: block;
	position: relative;
	float: left;
	top: -19px;
	left: 0;
}

#Content {
	min-height: 500px;
	margin-bottom: 15px;
}

#Left {
	float: left;
	width: 266px;
	margin: 0 35px;
	padding-top: 23px;
}

#Left > div {
	margin-bottom: 20px;
}

#MediaPlayer {
	background: transparent;
	width: 100%;
	overflow: hidden;
}

#NextEvent {
	background: #93592a url(/images/backgrounds/next_event.jpg) repeat-y center center;
	width: 100%;
	border: 1px solid #000;
}

#HiddenFlyerContainer {
	height: 0;
	overflow: hidden;
	margin-bottom: 10px;
}

#MailingList {
	height: 128px;
	background: #93592a url(/images/backgrounds/mailing_list.jpg) no-repeat center center;
	width: 100%;
	border: 1px solid #000;
}

#MailingList2 {
	height: 128px;
	background: #93592a url(/images/backgrounds/mailing_list.jpg) no-repeat center center;
	width: 100%;
	border: 1px solid #000;
}

.infoBox {
	margin: 3px;
	min-height: 122px;
}

.infoBoxHeader {
	height: 30px;
	background: transparent url(/images/backgrounds/infoBox_header.png) repeat top left;
}

.infoBoxBody {
	min-height: 82px;
	padding: 5px;
	background: transparent url(/images/backgrounds/infoBox_body.png) repeat top left;
	font: normal 13px/15px 'Trebuchet MS', 'Lucida Grande', Helvetica, sans-serif;
}

.infoBoxBody input {
	margin: 3px 0 7px 0;
	height: 20px;
	width: 241px;
	padding-left: 5px;
	background-color: #E6E6E6;
	border: 1px solid #808080;
	color: #666666;
}

.infoBoxBody img#Button {
	float: right;
	position: relative;
	bottom: -13px;
	right: 0;
}

.infoBoxBody input[type=submit] {
	float: right;
	position: relative;
	bottom: -8px;
	right: 0;
	cursor: pointer;
	width: 59px;
	height: 22px;
	border: 0;
	background: green url('/images/buttons/signup.gif') no-repeat top right;
}

#EnlargeImage_underlay {
	background-color: #000;
	opacity: .7;
}

#Right {
	float: left;
	width: 528px;
	margin-top: 22px;
}

#Footer {
	height: 40px;
	border-top: 1px solid #fff;
	color: #666;
}

#Footer p {
	margin: 0;
	padding: 7px 0 0 35px;
	font: normal 9px/13px 'Lucida Grande', Helvetica, sans-serif;
}

#Footer p a, #Footer p a:visited {
	color: #aaa;
	text-decoration: none;
}

#Footer p a:hover {
	color: #fff;
	text-decoration: none;
}

#Breadcrumbs {
	font: normal 11px Helvetica, Arial, sans-serif;
	margin-bottom: 10px;
	height: 13px;
	position: relative;
	z-index: 3;
}

.thumb {
	float: left;
	background-color: transparent;
	margin-left: 5px;
}

.first {
	margin: 0;
	display: none;
}

#Slideshow {
	height: 300px;
	position: relative;
	padding-left: 400px;
}

#Slideshow div {
	float: left;
	margin-right: 20px;
	border: none;
}

#Viewport {
	width: 528px;
	height: 300px;
	overflow: hidden;
	margin-bottom: -275px;
	position: relative;
	top: -300px;
	left: 0;
}

.homepageEntry { margin-bottom: 15px; }
.homepageEntry h2 a:hover { color: #FFF100; text-decoration: none; }
.homepageEntry h2 a { color: #FFFFFF; }
.homepageEntry p { color: #ffffff; }

#Dialog_underlay {
	background-color: #000;
	opacity: .8;
}

#theDialog { color: #333; }

#theDialog p {
	font-family: 'Lucida Grande', Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: inherit;
	margin-bottom: 10px;
}

#BioPara img {
	margin-right: 20px;
}

.button {
	padding: 3px 8px;
	height: 25px;
	background-color: #37B34A;
	border: 1px solid #006838;
	color: #fff;
	font: normal 10px Helvetica, Arial, sans-serif;
	text-transform: uppercase;
}

.button:hover {
	background-color: #319B3D;
}

.button a {
	width: inherit;
	height: 25px;
}

span a, span a:hover {
	color: #FFFFFF;
	text-decoration: none;
}

.postInfo {
	color: #9d8573;
	font: normal 10px 'Myriad Pro', Helvetica, sans-serif;
	margin-bottom: 10px;
}

.infoBox .infoBoxHeader .eventDate {
	float: right;
	margin-top: 13px;
	margin-right: 10px;
	font: bold 11px Arial;
	text-transform: uppercase;
	color: #FFF100;
}

.dijitDialogTitleBar { text-align: left; font: normal 22px 'alternate-gothic-no-3-d', 'quatro', 'Georgia', 'Trebuchet MS', 'Lucida Grande', Helvetica, sans-serif; text-transform: uppercase; }

#theEmbedDialog p { font-size: 12px; color: #000; text-align: left; }

#theEmbedDialog_underlay, #theDialog_underlay { background-color: #000000; }