#Mixes, #Discography {
	width: 528px;
	margin-bottom: 40px;
	height: 400px;
}

.discog_item {
	width: 110px;
	margin-right: 21px;
	margin-top: 15px;
	float: left;
	height: 170px;
}

.discog_item .image {
	width: 110px;
	height: 110px;
	margin-bottom: 5px;
}

.discog_item .title {
	width: 100%;
	font: bold 12px 'Trebuchet MS', 'Lucida Grande', Arial, sans-serif;
	text-align: center;
	padding-top: 0;
}

.discog_item .title a {
	color: #fff;
}

.discog_item .date {
	width: 100%;
	height: 15px;
	font: normal 10px 'Trebuchet MS', 'Lucida Grande', Arial, sans-serif;
	display: none;
}

.last {
	margin-right: 0;
}

ul.track_listing_list {
	list-style: none;
	padding: 0;
	margin: 0;
}

ul.track_listing_list li {
	margin: 0;
}

h4.track_listing {
	font: bold 13px 'Trebuchet MS', 'Lucida Grande', Arial, sans-serif;
	color: #F9EC31;
	margin: 20px 0 0 0;
	padding: 0;
}

span.number, span.track_name, span.track_artist {
	font: normal 11px 'Trebuchet MS', 'Lucida Grande', Arial, sans-serif;
	color: #fff;
}

span.number {
	color: #F9EC31;
}

span.track_name {
	font-weight: bold;
}

#PlayMix {
	float: right;
}

#DownloadMix {
	float: right;
	margin-right: 10px;
}

#DiscogHeader {
	margin-top: 5px;
}

#DiscogOptions {
	width: 100%;
	margin: 5px 0 15px 0;
	padding-top: 5px;
	border-top: 1px dotted #ccc;
}

#DiscogHeader .discogDate {
	font: normal 10px 'Trebuchet MS', 'Lucida Grande', Arial, sans-serif;
	color: #fff;
	margin-bottom: 10px;
}

#DiscogHeader p {
	text-align: justify;
}

#DiscogImageFull {
	min-height: 325px;
	text-align: center;
}

#DiscogImage {
	max-width: 528px;
}

.discogHeading {
	width: 515px;
	height: 30px;
	border-top: 1px solid #333;
	border-bottom: 1px solid #333;
	background: transparent url(/images/backgrounds/eventFeatured.png) repeat top left;
}

.imageThumb {
	height: 30px;
	float: left;
	padding-right: 5px;
	margin-bottom: 10px;
}

.image img.discogOverlay {
	position: relative;
	top: -116px;
	left: 0px;
	z-index: 10;
	display: none;
}

.image {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	float: left;
	padding: 5px;
	margin-right: 10px;
	margin-bottom: 10px;
	background: transparent url(/images/backgrounds/imageThumb.png) repeat top left;
	border: 1px solid #111;
	overflow: hidden;
}

/*
.image img.enlargeOverlay {
	position: relative;
	top: -94px;
	left: -5px;
	z-index: 10;
	display: none;
}
*/

.last {
	margin-right: 0;
}

