.album {
	margin-bottom: 20px;
	position: relative;
}

.album .thumbnail {
	width: 150px;
	height: 100px;
	float: left;
	margin-right: 20px;
	overflow: hidden;
	position: relative;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	padding: 5px;
	background: transparent url(/images/backgrounds/imageThumb.png) repeat top left;
	border: 1px solid #111;
	clear: both;
}

.album img {
	float: left;
	margin-right: 20px;
	position: relative;
	top: 0;
	left: 0;
}

.album img.albumOverlay {
	display: none;
	position: absolute;
	top: 5px;
	left: 5px;
}

.album span {
	position: absolute;
	top: 11px;
	left: 482px;
	font: normal 10px 'Trebuchet MS', 'Lucida Grande', Arial, sans-serif;
	color: #fff;
}

.album p {
	margin-left: 170px;
}

#PhotoHolder {
	width: 528px;
}

.image {
	width: 85px;
	height: 85px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	float: left;
	padding: 5px;
	margin-right: 10px;
	margin-bottom: 10px;
	background: transparent url(/images/backgrounds/imageThumb.png) no-repeat top left;
	border: 1px solid #111;
	overflow: hidden;
	position: relative;
}

.image img.enlargeOverlay {
	position: relative;
	top: -94px;
	left: -5px;
	z-index: 10;
	display: none;
}

.last {
	margin-right: 0;
}

#SlideInfo {
	text-align: center;
}

#CaptionHolder p {
	font: bold 11px 'Trebuchet MS', 'Lucida Grande', Helvetica, sans-serif;
	color: #4d4d4d;
}

#CaptionHolder {
	width: 100%;
	height: 13px;
	overflow: hidden;
}

#ImageCount {
	font: normal 9px 'Trebuchet MS', 'Lucida Grande', Helvetica, sans-serif;
	color: #4d4d4d;
}

#SlideImageHolder {
	height: 535px;
	background-color: #000;
	text-align: center;
	margin-bottom: 4px;
}

#LeftSideNav {
	width: 390px;
	height: 535px;
	position: absolute;
	top: 28px;
	left: 10px;
}

#RightSideNav {
	width: 390px;
	height: 535px;
	position: absolute;
	top: 28px;
	right: 10px;
}

.navArrow {
	width: 59px;
	height: 55px;
	background-color: #ffffff;
	margin-top: 240px;
	opacity: 0.0;
}

.navArrow img {
	margin-top: 11px;
	text-align: center;
	padding: 0;
}

#RightSideNavArrow {
	float: right;
	border-radius: 10px 0 0 10px;
	pointer-events: none;
}

#LeftSideNavArrow {
	float: left;
	border-radius: 0 10px 10px 0;
	pointer-events: none;
}