.link {
	width: 100%;
	height: 85px;
	margin-bottom: 10px;
}

.link .linkImage {
	float: left;
	margin-right: 15px;
	width: 75px;
	height: 75px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	padding: 5px;
	background: transparent url(/images/backgrounds/imageThumb.png) repeat top left;
	border: 1px solid #111;
	overflow: hidden;
}

.link .linkText {
	margin: 0;
	padding: 0;
}