#CommentName-label, #CommentEmail-label, #CommentComment-label {
	display: none;
}

#CommentName, #CommentEmail, #CommentComment {
	border: 1px solid #333;
	padding: 5px;
	width: 493px;
	background: transparent url(/images/backgrounds/eventFeatured.png) repeat top left;
}

#CommentComment {
	height: 200px;
}

#RSVP form input, #RSVP form textarea {
	font: normal 15px 'Lucida Grande', Arial, sans-serif;
	color: #fff;
}

#RSVP {
	margin-top: 15px;
	border: 1px dotted #666;
	background: transparent url(/images/backgrounds/eventFeatured.png) repeat top left;
}

#RSVP #RsvpHeader {
	padding-left: 10px;
	padding-top: 5px;
	border-bottom: 1px dotted #666;
	height: 20px;
	background: #000 url(/images/backgrounds/rsvp_header.jpg) repeat-x top left;
}

#RSVP #RsvpHeader p {
	font: italic 14px 'Georgia', serif;
	text-transform: uppercase;
}

#RSVP #RsvpForm {
	padding-left: 10px;
}

#RSVP #RsvpForm dt {
	font: normal 12px 'Trebuchet MS', 'Lucida Grande', Arial, sans-serif;
}

#RSVP #RsvpForm dd {
	margin: 0 0 10px 0;
}

.discogHeading {
	width: 100%;
	height: 30px;
	border-top: 1px solid #333;
	border-bottom: 1px solid #333;
	background: transparent url(/images/backgrounds/eventFeatured.png) repeat top left;
}

.entry {
	margin-bottom: 30px;
}

.entry img {
	margin-bottom: 10px;
}

#CalTabs {
	border: 1px solid #999999;
	width: 100%;
	background: transparent url(/images/backgrounds/tabs.gif) repeat-x top left;
}

#CalThickBorder {
	width: 100%;
	height: 5px;
	background-color: #FFF100;
	border-left: 1px solid #999999;
	border-right: 1px solid #999999;
}

.entryImages {
	margin-top: 10px;
}

.tab {
	float: left;
	width: 35px;
	height: 18px;
	padding-top: 7px;
	margin-bottom: -1px;
	border-right: 1px solid #999999;
	border-bottom: 1px solid #999999;
	text-align: center;
	font: normal 12px 'Myriad Pro', Helvetica, sans-serif;
}

#CalTabs a div.calTabActive {
	border-bottom-color: #FFF100;
	color: #3B2314;
	font-weight: bold;
	background: transparent url(/images/backgrounds/tabActive.gif) repeat-x top left;
}

#CalTabs a, #CalTabs a:visited {
	color: #666;
	text-decoration: none;
}

#CalTabs a:hover {
	text-decoration: none;
	color: #3B2314;
}

#CalTabs a div.tab:hover {
	background: transparent url(/images/backgrounds/tabHover.gif) repeat-x top left;
}

.comment {
	margin-top: 10px;
	border-bottom: 1px solid #333;
}

.comment p {
	color: #999;
}

#Send {
	padding: 0 10px;
	height: 25px;
	background-color: #37B34A;
	border: 1px solid #006838;
	cursor: pointer;
}

#Send:hover {
	background-color: #319B3D;
}