<h1>Audio Player</h1>

<p><?php echo $this->text; ?></p>

<audio id="audio" controls>
    <source src="/demos/freedom.mp3" type="audio/mpeg" />
</audio><br />
<audio id="audio2" controls preload="metadata">
    <source src="/demos/footsteps.mp3" type="audio/mpeg" />
</audio>

<div id="player" style="display: block">
  <button onClick="document.getElementById('audio').play()">Play</button>
  <button onClick="document.getElementById('audio').pause()">Pause</button>
</div>