<?php echo $this->doctype()."\n"; ?>
<html xmlns="http://www.w3.org/1999/xhtml">   

	<head>
		<?php echo $this->headMeta()."\n"; ?>
		<?php echo $this->headTitle()."\n"; ?>
		<?php echo $this->headLink()."\n"; ?>
		<?php echo $this->headScript()."\n"; ?>
		<script type="text/javascript" src="http://use.typekit.com/afi1cbs.js"></script>
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
	</head>

	<body class="mmg">
		<div id="Content">
			<?php echo $this->layout()->content; ?>
		</div>
	</body>   

</html>