<?php echo $this->doctype()."\n"; ?>
<html xmlns="http://www.w3.org/1999/xhtml">   

	<head>
		<?php
			$this->dojo()->setLocalPath('/scripts/dojo/dojo.js')->addStyleSheetModule('dijit.themes.claro');
			echo $this->dojo();
		?>
		<?php echo $this->headMeta()."\n"; ?>
		<?php echo $this->headTitle()."\n"; ?>
		<?php $this->headLink()->prependStylesheet('/modules/admin/styles/core.css'); ?>
		<?php echo $this->headLink()."\n"; ?>
		<?php echo $this->headScript()."\n"; ?>
		<script type="text/javascript" src="http://use.typekit.com/afi1cbs.js"></script>
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
	</head>

	<body class="claro">
		<div id="Header">
			<div id="ConditionalInfo">
				<p class="managingInfo"><b><?php echo date("F d, Y"); ?></b><br />Managing <?php echo $_SERVER["SERVER_NAME"]; ?></p>
				<button id="Logout"><a href="/admin/index/logout/">Logout</a></button>
			</div>
			<div id="TabHolder">
				<?php
					/**
					 * @todo There must be a better way to make navigation "Active".
					 */
					$navigation = Zend_Registry::get('admin');
					$this->navigation($navigation);
					$uri = $this->userAgent()->getServerValue('request_uri');
					$uriParts  = explode('/', $uri);
					if(count($uriParts) >= 4) {
						$trimmedUri = implode('/', array_slice($uriParts, 0, 3)) . '/';
						$activeNav = $this->navigation()->findByUri($trimmedUri);
					} else {
						$activeNav = $this->navigation()->findByUri($uri);
					}
					$activeNav->active = true;
					$activeNav->setClass("active");
					echo $this->navigation()->menu()->renderMenu($navigation);
				?>
			</div>
		</div>
		<div id="Content">
			<?php echo $this->layout()->content; ?>
		</div>
	</body>   

</html>