<style type="text/css">
	a.active { display: none; }
</style>

<img src="/images/foregrounds/left.png" width="48" height="300" border="0" style="float: left; position: relative; z-index: 25; top: 0; left: 0;" />
<img src="/images/foregrounds/right.png" width="48" height="300" border="0" style="float: right; position: relative; z-index: 25; top: 0; right: 0;" />
<div id="Viewport">
	<div id="Slideshow">
		<?php
			$i = 0;
			foreach($this->images as $image) {
				list($width, $height, $type, $attr) = getimagesize('images/home_slideshow/' . $image['image_url']);
				if($width&1) {
					$width = $width - 1;
				}
				if($image['caption'] == '') {
					echo '<div><img src="/images/home_slideshow/' . $image['image_url'] . '" width="' . $width . '" height="' . $height . ' border="0" /></div>';
				} else {
					echo '<div><a href="' . $image['caption'] . '" target="_blank"><img src="/images/home_slideshow/' . $image['image_url'] . '" width="' . $width . '" height="' . $height . ' border="0" /></a></div>';
				}
				$i++;
			}
			if($i < 6) {
				foreach($this->images as $image) {
					list($width, $height, $type, $attr) = getimagesize('images/home_slideshow/' . $image['image_url']);
					if($width&1) {
						$width = $width - 1;
					}
					if($image['caption'] == '') {
						echo '<div><img src="/images/home_slideshow/' . $image['image_url'] . '" width="' . $width . '" height="' . $height . ' border="0" /></div>';
					} else {
						echo '<div><a href="' . $image['caption'] . '" target="_blank"><img src="/images/home_slideshow/' . $image['image_url'] . '" width="' . $width . '" height="' . $height . ' border="0" /></a></div>';
					}
				}
			}
		?>
	</div>
</div>

<?php
	$this->partialLoop()->setObjectKey('newsItem');
	echo $this->partialLoop('_partials/_homepageNewsItems.phtml', $this->newsItems);
?>