
	
.mmg .dijitCalendarIncrementControl {
	
	width:15px;
	height:15px;
	background-image: url("images/spriteRoundedIconsSmall.png");
	background-repeat: no-repeat
}
.dj_ie6 .mmg .dijitCalendarIncrementControl {
	font-size:.1em;
	background-image: url("images/spriteRoundedIconsSmall.gif");
}
.mmg .dijitA11ySideArrow {
	display: none;
}
.mmg .dijitCalendarDecrease {
	background-position: top left;
}
.mmg .dijitCalendarIncrease {
	background-position: -30px top;
}
.mmg table.dijitCalendarContainer {
	font-size: 100%;
	border-spacing: 0;
	border-collapse: separate;
	border: 1px solid #ccc;
	margin: 0;
}
.mmg .dijitCalendarMonthContainer th {
	
	background:#d3d3d3 url("images/titleBar.png") repeat-x top;
	padding-top:.3em;
	padding-bottom:.2em;
	text-align:center;
}
.dj_ie6 .mmg .dijitCalendarMonthContainer th {
	padding-top:.2em;
	padding-bottom:.1em;
	
}
.mmg .dijitCalendarDayLabelTemplate {
	
	background:#fefefe;
	font-weight:normal;
	padding-top:.15em;
	padding-bottom:.2em;
	border-bottom: 1px solid #eeeeee;
	color:#293a4b;
	text-align:center;
}
.mmg .dijitCalendarBodyContainer {
	border-bottom: 1px solid #eeeeee;	
}
.mmg .dijitCalendarMonthLabel {
	color:#293a4b;
	font-weight: bold;
}
.mmg .dijitCalendarDateTemplate {
	
	font-size: 0.9em;
	font-weight: bold;
	text-align: center;
	padding: 0.3em 0.3em 0.05em 0.3em;
	letter-spacing: 1px;
	background-color: #fdfdfd;
	border:#fdfdfd solid 1px !important;
}
.dj_ie .mmg .dijitCalendarDateTemplate {
	padding: 0.1em .33em 0.02em .33em;
}
.mmg .dijitCalendarPreviousMonth,
.mmg .dijitCalendarNextMonth 		{
	
	color:#999999;
	background-color:#f5f5f5 !important;
	border:#f5f5f5 solid 1px !important;
}
.mmg .dijitCalendarPreviousMonthDisabled,
.mmg .dijitCalendarNextMonthDisabled	{
	
	background-color:#a4a5a6 !important;
}
.mmg .dijitCalendarCurrentMonth {
	
}
.mmg .dijitCalendarCurrentMonthDisabled {
		
	background-color:#bbbbbc !important;
}
.mmg .dijitCalendarDisabledDate {
	
	
	text-decoration:line-through !important;
	cursor:default !important;
}
.mmg .dijitCalendarCurrentDate {
	
	text-decoration:underline;
	font-weight:bold;
}
.mmg .dijitCalendarSelectedDate {
	
	background-color:#ffe284 !important;
	color:black !important;
	border:#f7c95c solid 1px !important;
}
.mmg .dijitCalendarYearContainer {
	
	background:white url("images/titleBar.png") repeat-x top;
}
.mmg .dijitCalendarYearLabel {
	
	margin:0;
	padding:0.4em 0 0.25em 0;
	text-align:center;
}
.mmg .dijitCalendarSelectedYear {
	
	color:black;
	padding:0.2em;
	padding-bottom:0.1em;
	background-color:#ffe284 !important;
	border:#f7c95c solid 1px !important;
}
.mmg .dijitCalendarNextYear,
.mmg .dijitCalendarPreviousYear {
	
	color:black !important;
	font-weight:normal;
}
