
.mmg .dojoDndItemBefore {
	border-top: 2px solid #369;
}
.mmg .dojoDndItemAfter {
	border-bottom: 2px solid #369;
}
.mmg .dojoDndItemOver {
	cursor:pointer;
}
.mmg table.dojoDndAvatar { -moz-border-radius: 0; border: 1px solid #ccc; border-collapse: collapse; background-color: #fff; font-size: 75%; color: black;}
.mmg .dojoDndAvatar td	{ border: none; }
.mmg .dojoDndAvatar tr	{ border: none; }
.mmg .dojoDndAvatarHeader td	{ height: 20px; padding: 0 0 0 21px; }
.mmg .dojoDndAvatarItem td { padding: 2px;}
.mmg.dojoDndMove .dojoDndAvatarHeader	{background-color: #f58383; background-image: url(images/dndNoMove.png); background-repeat: no-repeat; background-position: 2px center;}
.mmg.dojoDndCopy .dojoDndAvatarHeader	{background-color: #f58383; background-image: url(images/dndNoCopy.png); background-repeat: no-repeat; background-position: 2px center;}
.mmg.dojoDndMove .dojoDndAvatarCanDrop .dojoDndAvatarHeader	{background-color: #97e68d; background-image: url(images/dndMove.png); background-repeat: no-repeat; background-position: 2px center;}
.mmg.dojoDndCopy .dojoDndAvatarCanDrop .dojoDndAvatarHeader	{background-color: #97e68d; background-image: url(images/dndCopy.png); background-repeat: no-repeat; background-position: 2px center;}
