
.dijitRtl .mmg .dijitEditorIcon {
	background-image: url('images/editor_rtl.gif'); 
}
.dijitRtl .mmg .dijitDisabled .dijitEditorIcon {
	background-image: url('images/editorDisabled_rtl.gif'); 
}
.dijitRtl .mmg .dijitToolbar .dijitToolbarSeparator {
	background-image: url('images/editor_rtl.gif');
}
