.dijitIEFixedToolbar {
	position:absolute;
	
	top: expression(eval((document.documentElement||document.body).scrollTop));
}
.mmg .dijitToolbar .dijitToolbarSeparator {
	background: url('images/editor.gif');
}
.mmg .dijitEditorIcon {
	background-image: url('images/editor.gif'); 
	background-repeat: no-repeat;
	width: 18px;
	height: 18px;
	text-align: center;
}
.mmg .dijitDisabled .dijitEditorIcon {
	background-image: url('images/editorDisabled.gif'); 
}
.mmg .dijitEditorIconSep { background-position: 0px; }
.mmg .dijitEditorIconBackColor { background-position: -18px; }
.mmg .dijitEditorIconBold { background-position: -36px; }
.mmg .dijitEditorIconCancel { background-position: -54px; }
.mmg .dijitEditorIconCopy { background-position: -72px; }
.mmg .dijitEditorIconCreateLink { background-position: -90px; }
.mmg .dijitEditorIconCut { background-position: -108px; }
.mmg .dijitEditorIconDelete { background-position: -126px; }
.mmg .dijitEditorIconForeColor { background-position: -144px; }
.mmg .dijitEditorIconHiliteColor { background-position: -162px; }
.mmg .dijitEditorIconIndent { background-position: -180px; }
.mmg .dijitEditorIconInsertHorizontalRule { background-position: -198px; }
.mmg .dijitEditorIconInsertImage { background-position: -216px; }
.mmg .dijitEditorIconInsertOrderedList { background-position: -234px; }
.mmg .dijitEditorIconInsertTable { background-position: -252px; }
.mmg .dijitEditorIconInsertUnorderedList { background-position: -270px; }
.mmg .dijitEditorIconItalic { background-position: -288px; }
.mmg .dijitEditorIconJustifyCenter { background-position: -306px; }
.mmg .dijitEditorIconJustifyFull { background-position: -324px; }
.mmg .dijitEditorIconJustifyLeft { background-position: -342px; }
.mmg .dijitEditorIconJustifyRight { background-position: -360px; }
.mmg .dijitEditorIconLeftToRight { background-position: -378px; }
.mmg .dijitEditorIconListBulletIndent { background-position: -396px; }
.mmg .dijitEditorIconListBulletOutdent { background-position: -414px; }
.mmg .dijitEditorIconListNumIndent { background-position: -432px; }
.mmg .dijitEditorIconListNumOutdent { background-position: -450px; }
.mmg .dijitEditorIconOutdent { background-position: -468px; }
.mmg .dijitEditorIconPaste { background-position: -486px; }
.mmg .dijitEditorIconRedo { background-position: -504px; }
.mmg .dijitEditorIconRemoveFormat { background-position: -522px; }
.mmg .dijitEditorIconRightToLeft { background-position: -540px; }
.mmg .dijitEditorIconSave { background-position: -558px; }
.mmg .dijitEditorIconSpace { background-position: -576px; }
.mmg .dijitEditorIconStrikethrough { background-position: -594px; }
.mmg .dijitEditorIconSubscript { background-position: -612px; }
.mmg .dijitEditorIconSuperscript { background-position: -630px; }
.mmg .dijitEditorIconUnderline { background-position: -648px; }
.mmg .dijitEditorIconUndo { background-position: -666px; }
.mmg .dijitEditorIconWikiword { background-position: -684px; }
.mmg .dijitEditorIconToggleDir { background-position: -540px; }
.mmg .dijitEditorIconTabIndent { background-position: -702px; }
.mmg .dijitEditorIconSelectAll { background-position: -720px; }
.mmg .dijitEditorIconUnlink { background-position: -738px; }
