
.mmg .dijitMenu,
.mmg .dijitMenuBar {
	border: 1px solid #d3d3d3;
	margin: 0px;
	padding: 0px;
	background-color: #fff;
}
.mmg .dijitBorderContainer .dijitMenuBar {
	border: 1px #ccc solid;
}
.mmg .dijitMenuItem {
	font-family: sans-serif;
	margin: 0px;
	color: #243C5F;
}
.mmg .dijitMenuBar .dijitMenuItem {
	padding: 4px 5px;
}
.mmg .dijitMenuPreviousButton, .mmg .dijitMenuNextButton {
	font-style: italic;
}
.mmg .dijitMenuItem TD {
	padding:1px;
}
.mmg .dijitMenuPassive .dijitMenuItemHover,
.mmg .dijitMenuItemSelected {
	background-color: #ffe284; 
	color: #243C5F;
}
.mmg .dijitMenuItemIcon {
	width: 15px;
	height: 15px;
}
.mmg .dijitMenuExpand {
	width:15px;
	height:15px;
	background-image: url('images/spriteRoundedIconsSmall.png');
	background-position: -30px top;
}
.dj_ie6 .mmg .dijitMenuExpand {
	background-image:url('images/spriteRoundedIconsSmall.gif');
}
.mmg .dijitMenuSeparator {
	height: 1px;
}
.mmg .dijitMenuSeparatorTop {
	border-bottom: 1px solid #fff; 
}
.mmg .dijitMenuSeparatorBottom {
	border-top: 1px solid #d3d3d3;
}
.mmg .dijitCheckedMenuItemIconChar {
	display: none;
}
.mmg .dijitCheckedMenuItemIcon {
	background-image: url('images/spriteCheckbox.gif');
	background-position: -80px;
}
.mmg .dijitCheckedMenuItemChecked .dijitCheckedMenuItemIcon {
	background-position: -64px;
}
