
@import url("../dijit.css");
.mmg .dojoDndItemBefore {
	border-top: 2px solid #369;
}
.mmg .dojoDndItemAfter {
	border-bottom: 2px solid #369;
}
.mmg .dojoDndItemOver {
	cursor:pointer;
}
.mmg table.dojoDndAvatar { -moz-border-radius: 0; border: 1px solid #ccc; border-collapse: collapse; background-color: #fff; font-size: 75%; color: black;}
.mmg .dojoDndAvatar td	{ border: none; }
.mmg .dojoDndAvatar tr	{ border: none; }
.mmg .dojoDndAvatarHeader td	{ height: 20px; padding: 0 0 0 21px; }
.mmg .dojoDndAvatarItem td { padding: 2px;}
.mmg.dojoDndMove .dojoDndAvatarHeader	{background-color: #f58383; background-image: url(images/dndNoMove.png); background-repeat: no-repeat; background-position: 2px center;}
.mmg.dojoDndCopy .dojoDndAvatarHeader	{background-color: #f58383; background-image: url(images/dndNoCopy.png); background-repeat: no-repeat; background-position: 2px center;}
.mmg.dojoDndMove .dojoDndAvatarCanDrop .dojoDndAvatarHeader	{background-color: #97e68d; background-image: url(images/dndMove.png); background-repeat: no-repeat; background-position: 2px center;}
.mmg.dojoDndCopy .dojoDndAvatarCanDrop .dojoDndAvatarHeader	{background-color: #97e68d; background-image: url(images/dndCopy.png); background-repeat: no-repeat; background-position: 2px center;}
.mmg .dijitContentPane {
    padding: 0px;
}
.mmg .dijitTabContainerTop-dijitContentPane,
.mmg .dijitTabContainerLeft-dijitContentPane,
.mmg .dijitTabContainerRight-dijitContentPane,
.mmg .dijitTabContainerBottom-dijitContentPane,
.mmg .dijitAccordionContainer-dijitContentPane {
    background-color: #fff;
    padding: 5px;
}
.mmg .dijitSplitContainer-dijitContentPane,
.mmg .dijitBorderContainer-dijitContentPane {
    background-color: #fff;		
    padding: 5px;
}
 
 
.mmg .dijitTabPaneWrapper {
	background:#fff;
	border:1px solid #ccc;
	margin: 0;
	padding: 0;
}
.mmg .dijitTabInnerDiv {
	padding:0px 3px 0px 0px;
	margin: 0 0 0 4px;
	background: url(images/tabContainerSprite.gif) no-repeat;
	background-position: right -400px;
}
.mmg .dijitTab {
	line-height:normal;
	margin:0 2px 0 0;	
	padding:0px;
	background: url(images/tabContainerSprite.gif) no-repeat 0 -300px;
	color: #6d6d6d;
	border-bottom: 1px #ccc solid;
}
.mmg .dijitTabInnerDiv .dijitTabContent {
	padding:5px 3px 4px 4px;
	background: url(images/tabContainerSprite.gif) repeat-x 0 -350px;
	position: relative;
}
.dijitTabSpacer {
	font-size: 1px;
}
.mmg .dijitTabHover {
	color: #243C5F;
	background: url(images/tabContainerSprite.gif) no-repeat 0px -150px;
}
.mmg .dijitTabHover .dijitTabInnerDiv {
	background: url(images/tabContainerSprite.gif) no-repeat right -250px;
}
.mmg .dijitTabHover .dijitTabInnerDiv .dijitTabContent {
	background: url(images/tabContainerSprite.gif) repeat-x 0 -200px;
}
.mmg .dijitTabChecked,
.mmg .dijitTabCloseButtonChecked
{
	
	background: url(images/tabContainerSprite.gif) no-repeat 0px -0px;
}
.mmg .dijitTabChecked .dijitTabInnerDiv {
	background: url(images/tabContainerSprite.gif) no-repeat right -100px;
}
.mmg .dijitTabChecked .dijitTabInnerDiv .dijitTabContent {
	background: url(images/tabContainerSprite.gif) repeat-x 0 -50px;
	color: #243C5F !important;
}
.mmg .dijitTabContainerTabListNested {
	background: #FDFDFD;
	border: none;
	margin-bottom: 0px;		
}
.mmg .dijitTabContainerTabListNested .dijitTab {
	background: none;
	border: none;
	top: 0px;	
}
.mmg .dijitTabContainerTabListNested .dijitTab .dijitTabInnerDiv,
.mmg .dijitTabContainerTabListNested .dijitTab .dijitTabContent {
	background: none;
}
.mmg .dijitTabContainerTabListNested .dijitTabHover .dijitTabContent .tabLabel {
	text-decoration: underline;
}
.mmg .dijitTabContainerTabListNested .dijitTabChecked .tabLabel {
	text-decoration: underline;
	font-weight: bold;
}
.mmg .dijitTabContainerSpacerNested {
	
	height: 0px;
	border-bottom: 0px;
}
.mmg .dijitTabPaneWrapperNested {
	border: none;	
}
.mmg .dijitTab .closeImage {
	background: url(images/spriteRoundedIconsSmall.png) no-repeat -60px top;
	width: 15px;
	height: 15px;
}
.dj_ie6 .dijitTab .closeImage {
	background: url(images/spriteRoundedIconsSmall.gif) no-repeat -60px top;
}
.mmg .dijitTab .closeButton-hover .closeImage {
	background: url(images/spriteRoundedIconsSmall.png) no-repeat -60px -15px;
}
.dj_ie6 .mmg .dijitTab .closeButton-hover .closeImage {
	background: url(images/spriteRoundedIconsSmall.gif) no-repeat -60px -15px;
}
.mmg .dijitTab .dijitTabButtonSpacer {
	height: 15px;
	width: 1px;
}
.mmg .dijitTabContainerTop-tabs {
	margin-bottom: -1px;
	border-color: #ccc;
	padding-left: 3px;
}
.mmg .dijitTabContainerTop-container {
	border-top: none;
}
.mmg .dijitTabContainerTop-tabs .dijitTabChecked {
	border-bottom-color: #f8f8f8;
}
.mmg .dijitTabContainerTopStrip {
	border: 1px solid #ccc;
	padding-top: 2px;
	padding-left: 3px;
}
.mmg .dijitTabContainerTopStrip {
	background: #f2f2f2;
}
.mmg .dijitTabContainerBottom-tabs {
	margin-top: -1px;
	border-color: #ccc;
	padding-left: 3px;
}
.mmg .dijitTabContainerBottom-container {
	border-bottom: none;
}
.mmg .dijitTabContainerBottom-tabs .dijitTab {
	border-bottom: none;
	border-top: 1px solid #ccc;
	background: url(images/tabBottomEnabledSpriteLR.gif) no-repeat bottom left;
}
.mmg .dijitTabContainerBottom-tabs .dijitTabChecked {
	border-top-color:#f8f8f8;
}
.mmg .dijitTabContainerBottom-tabs .dijitTabInnerDiv .dijitTabContent {
	padding-top: 4px;
	padding-bottom: 5px;
	background: url(images/tabBottomEnabledC.gif) repeat-x bottom left;
}
.mmg .dijitTabContainerBottom-tabs .dijitTabInnerDiv {
	background: url(images/tabBottomEnabledSpriteLR.gif) no-repeat bottom right;
}
.mmg .dijitTabContainerBottom-tabs .dijitTabHover {
	color: #243C5F;
	background: url(images/tabBottomHoverSpriteLR.gif) no-repeat bottom left;
}
.mmg .dijitTabContainerBottom-tabs .dijitTabHover .dijitTabInnerDiv {
	background: url(images/tabBottomHoverSpriteLR.gif) no-repeat bottom right;
}
.mmg .dijitTabContainerBottom-tabs .dijitTabHover .dijitTabInnerDiv .dijitTabContent {
	background: url(images/tabBottomHoverC.gif) repeat-x bottom left;
}
.mmg .dijitTabContainerBottom-tabs .dijitTabChecked,
.mmg .dijitTabContainerBottom-tabs .dijitTabCloseButtonChecked
{
	
	background: url(images/tabBottomActiveSpriteLR.gif) no-repeat bottom left;
}
.mmg .dijitTabContainerBottom-tabs .dijitTabChecked .dijitTabInnerDiv {
	background: url(images/tabBottomActiveSpriteLR.gif) no-repeat bottom right;
}
.mmg .dijitTabContainerBottom-tabs .dijitTabChecked .dijitTabInnerDiv .dijitTabContent {
	background: url(images/tabBottomActiveC.gif) repeat-x bottom left;
}
.mmg .dijitTabContainerBottomStrip {
	padding-bottom: 2px;
	padding-left: 3px;	
	border: 1px solid #ccc;
}
.mmg .dijitTabContainerBottomStrip {
	background: #f2f2f2;
}
.mmg .dijitTabContainerBottom-spacer,
.mmg .dijitTabContainerTop-spacer {
	height: 2px;
	border: 1px solid #ccc;
	background: #f8f8f8;
}
.mmg .dijitTabContainerRight-tabs {
	margin-left: -1px;
	border-color: #ccc;
	padding-top: 3px;
}
.mmg .dijitTabContainerRight-container {
	border-right: none;
}
.mmg .dijitTabContainerRight-tabs .dijitTab {
	border-bottom: none;
	border-left: 1px solid #ccc;
	border-bottom: 1px solid #dedede !important;
}
.dj_ie .mmg .dijitTabContainerRight-tabs .dijitTabInnerDiv {
	border-bottom: solid #fff 1px;
}
.mmg .dijitTabContainerRight-tabs .dijitTabChecked {
	border-left-color: #f8f8f8;
}
.mmg .dijitTabContainerRight-tabs .dijitTabChecked {
	background: url(images/tabRightChecked.gif) no-repeat left top !important;
}
.dj_ie .mmg .dijitTabContainerRight-tabs .dijitTabChecked .dijitTabInnerDiv,
.dj_ie .mmg .dijitTabContainerRight-tabs .dijitTabCheckedHover .dijitTabInnerDiv {
	border-bottom: solid #efefef 1px;
}
.mmg .dijitTabContainerRight-tabs .dijitTab {
	background: url(images/tabContainerSprite.gif) no-repeat left -350px;
}
.mmg .dijitTabContainerRight-tabs .dijitTabHover .dijitTab {
	background: url(images/tabContainerSprite.gif) no-repeat left -200px;
}
.mmg .dijitTabContainerRightStrip {
	padding-right: 2px;
	padding-top: 3px;	
	border: 1px solid #ccc;
}
.mmg .dijitTabContainerRightStrip {
	background: #f2f2f2;
}
.mmg .dijitTabContainerLeft-tabs {
	margin-right: -1px;
	border-color: #ccc;
	padding-top: 3px;
}
.mmg .dijitTabContainerLeft-container {
	border-left: none;
}
.mmg .dijitTabContainerLeft-tabs .dijitTab {
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #dedede;
}
.mmg .dijitTabContainerLeft-tabs .dijitTabChecked {
	border-right: 1px solid #f8f8f8;
}
.mmg .dijitTabContainerLeft-tabs .dijitTabInnerDiv {
	background: url(images/tabContainerSprite.gif) no-repeat right -350px;
}
.mmg .dijitTabContainerLeft-tabs .dijitTabHover .dijitTabInnerDiv {
	background: url(images/tabContainerSprite.gif) no-repeat right -200px;
}
.mmg .dijitTabContainerLeft-tabs .dijitTabChecked .dijitTabInnerDiv,
.mmg .dijitTabContainerLeft-tabs .dijitTabCheckedHover .dijitTabInnerDiv {
	background: url(images/tabLeftChecked.gif) no-repeat right top;
}
.dj_ie .mmg .dijitTabContainerLeft-tabs .dijitTabChecked .dijitTabInnerDiv,
.dj_ie .mmg .dijitTabContainerLeft-tabs .dijitTabCheckedHover .dijitTabInnerDiv {
	border-bottom: solid #efefef 1px;
}
.dj_ie .mmg .dijitTabContainerLeft-tabs .dijitTabInnerDiv {
border-bottom: solid #fff 1px;
}
.mmg .dijitTabContainerLeftStrip {
	padding-left: 2px;
	padding-top: 3px;	
	border: 1px solid #ccc;
}
.mmg .dijitTabContainerLeftStrip {
	background: #f2f2f2;
}
.mmg .dijitTabContainerLeft-tabs .dijitTab,
.mmg .dijitTabContainerRight-tabs .dijitTab {
	margin-right:auto;
	margin-bottom:2px;	
}
.mmg .dijitTabContainerLeft-spacer,
.mmg .dijitTabContainerRight-spacer {
	width: 2px;
	border: 1px solid #ccc;
	background: #f8f8f8;
}
.mmg .dijitTabContainerTop-dijitContentPane .dijitTabContainerTop-tabs {
	border-left: 0px solid #ccc;
	border-top: 0px solid #ccc;
	border-right: 0px solid #ccc;
	padding-top: 0px;
	padding-left: 0px;	
}
.mmg .dijitAccordionContainer {
	border-color: #ccc;
	background-color: #fff;
}
.mmg .dijitAccordionTitle {
	background:#fafafa url(images/titleBar.png) repeat-x top left;
	border-top: 1px solid #dedede;
	padding: 5px 4px 6px 8px;
	cursor:pointer;
	font-size: 0.9em;
	font-weight: bold;
	color: #6d6d6d;
}
.mmg .dijitAccordionTitle-selected  {
	background: #f9f9f9 url(images/accordionItemActive.png) top repeat-x;
	font-weight: bold;
	border-top: 1px solid #dedede;
	border-bottom: 1px solid #dedede;
	padding: 5px 4px 5px 8px;
	cursor: default;	
	color: #243C5F;
}
.mmg .dijitAccordionArrow {
	background:url(images/spriteRoundedIconsSmall.gif) no-repeat -30px top;
	width:15px;
	height:15px;
	margin-top:-1px;
}
.mmg .dijitAccordionTitle-selected .dijitAccordionArrow {
	background:url(images/spriteRoundedIconsSmall.gif) no-repeat -15px top;
	margin-top:-1px;
}
.mmg .dijitAccordionText {
	margin-left: 4px;
	margin-right: 4px;
}
 
.mmg .dijitSplitContainerSizerH {
	background:url(images/splitContainerSizerV.png) repeat-y #fff;
	border:0;
	border-left:0px solid #d3d3d3;
	border-right:0px solid #d3d3d3;
	width:5px;
}
.mmg .dijitSplitContainerSizerH .thumb {
	background:url(images/splitContainerSizerV-thumb.png) no-repeat;
	left:1px;
	width:2px;
	height:19px;
}
.mmg .dijitSplitContainerSizerV {
	background:url(images/splitContainerSizerH.png) repeat-x #fff;
	border:0;
	border-top:0px solid #d3d3d3;
	border-bottom:0px solid #d3d3d3;
	height:2px;
}
.mmg .dijitSplitContainerSizerV .thumb {
	background:url(images/splitContainerSizerH-thumb.png) no-repeat;
	top:1px;
	width:19px;
	height:5px;
}
 
.mmg .dijitBorderContainer {
	background-color: #fcfcfc;
	padding: 5px;
}
.mmg .dijitSplitContainer-child,
.mmg .dijitBorderContainer-child {
	
    border: 1px #ccc solid;
}
.mmg .dijitBorderContainer-dijitTabContainerTop,
.mmg .dijitBorderContainer-dijitTabContainerBottom,
.mmg .dijitBorderContainer-dijitTabContainerLeft,
.mmg .dijitBorderContainer-dijitTabContainerRight {
	
	 border: none;
}
.mmg .dijitBorderContainer-dijitBorderContainer {
	
	border: none;
	padding: 0px;
}
.mmg .dijitSplitterH,
.mmg .dijitGutterH {
	background:#FCFCFC;
	border:0;
	border-left:0px solid #d3d3d3;
	border-right:0px solid #d3d3d3;
	height:5px;
}
.mmg .dijitSplitterH .dijitSplitterThumb {
	background:url(images/splitContainerSizerH-thumb.png) no-repeat;
	top:1px;
	width:19px;
	height:2px;
}
.mmg .dijitSplitterV,
.mmg .dijitGutterV {
	background:#FCFCFC;
	border:0;
	border-top:0px solid #d3d3d3;
	border-bottom:0px solid #d3d3d3;
	width:5px;
}
.mmg .dijitSplitterV .dijitSplitterThumb {
	background:url(images/splitContainerSizerV-thumb.png) no-repeat;
	left:1px;
	height:19px;
	width:5px;
}
.mmg .dijitSplitterActive {
	font-size: 1px;
	background-image: none;
	background-color: #aaa;
	-moz-opacity: 0.6;
	opacity: 0.6;
	filter: Alpha(Opacity=60);
	margin: 0;
}
.mmg .dijitInputField INPUT,
.mmg .dijitTextBox,
.mmg .dijitComboBox,
.mmg .dijitSpinner {
	margin: 0em 0.1em;
}
.mmg .dijitTextBox,
.mmg .dijitComboBox,
.mmg .dijitSpinner,
.mmg .dijitInlineEditor input,
.mmg .dijitTextArea {
	
	background-color :#E6E6E6;
	border-width: 0;
	line-height: normal;
	margin-bottom: 5px;
}
.dj_ie6 .mmg .dijitTextBox,
.dj_ie6 .mmg .dijitComboBox,
.dj_ie6 .mmg .dijitSpinner,
.dj_ie6 .mmg .dijitInlineEditor input,
.dj_ie6 .mmg .dijitTextArea {
	background:#fff url(images/validationInputBg.gif) repeat-x top left;
}
.mmg .dijitComboBox .dijitButtonNode {
	padding: 0 0.2em;
}
.mmg .dijitComboBox .dijitButtonNode,
.mmg .dijitSpinner .dijitButtonNode {
	
	border-color: #d3d3d3;
	border-left: 1px solid #d3d3d3;
}
.mmg .dijitTextBoxDisabled,
.mmg .dijitComboBoxDisabled,
.mmg .dijitSpinnerDisabled,
.mmg .dijitTextAreaDisabled {
	color: gray;
}
.dj_webkit .mmg .dijitTextBoxDisabled,
.dj_webkit .mmg .dijitComboBoxDisabled,
.dj_webkit .mmg .dijitSpinnerDisabled,
.dj_webkit .mmg .dijitTextareaDisabled {
	color: #eee;
}
.mmg .dijitTextBoxFocused,
.mmg .dijitComboBoxFocused,
.mmg .dijitSpinnerFocused, .mmg .dijitSpinnerUpArrowActive, .mmg .dijitSpinnerDownArrowActive,
.mmg .dijitTextAreaFocused {
	
	border-color:#b3b3b3;
}
.mmg .dijitComboBoxFocused .dijitButtonNode,
.mmg .dijitSpinnerFocused .dijitButtonNode,
.mmg .dijitSpinnerUpArrowActive .dijitButtonNode,
.mmg .dijitSpinnerDownArrowActive .dijitButtonNode {
	border-left-color:#d3d3d3;
}
.mmg .dijitSpinnerFocused .dijitDownArrowButton,
.mmg .dijitSpinnerUpArrowActive .dijitDownArrowButton,
.mmg .dijitSpinnerDownArrowActive .dijitDownArrowButton {
	border-top-color:#d3d3d3;
}
.mmg .dijitError {
	border-color:#b3b3b3;
	background-color:#f9f7ba;
	background-image:none;
}
.dj_ie6 .mmg .dijitError INPUT {
	
	background-color:#f9f7ba !important;
}
.mmg .dijitErrorFocused {
	background-color:#ff6;
	background-image:none;
}
.dj_ie6 .mmg .dijitErrorFocused INPUT {
	
	background-color:#ff6 !important;
}
.mmg .dijitValidationIcon {
	
	width: 16px;
	background: transparent url(images/warning.png) no-repeat center center;
}
.mmg .dijitComboBoxHighlightMatch {
	background-color:#d3d3d3;
}
.mmg .dijitButtonNode {
	
	
	border:1px solid #dedede;
	border-bottom:1px solid #dedede;
	padding: 0.1em 0.2em 0.2em 0.2em; 
	background: #fff url(images/buttonEnabled.png) repeat-x top left;
}
.mmg .dijitButtonNode button { 
	border: 0px; 
	background-color: transparent; 
} 
 
.mmg .dijitButtonText {
	text-align: center; 
	padding: 0 0.3em;
}
.mmg .dijitComboBox .dijitButtonNode {
	border-width: 0px 0px 0px 1px;
}
.mmg .dijitArrowButton {
	color: #111;
}
.mmg .dijitComboButton .dijitDownArrowButton {
	padding-right:4px;
}
.dj_ff2 .mmg .dijitComboButton .dijitButtonContentsFocused,
.dj_ff2 .mmg .dijitComboButton .dijitDownArrowButtonFocused {
	border: 1px black dotted !important;
}
.mmg .dijitButtonDisabled .dijitButtonNode,
.mmg .dijitToggleButtonDisabled .dijitButtonNode,
.mmg .dijitDropDownButtonDisabled .dijitButtonNode,
.mmg .dijitComboButtonDisabled .dijitButtonNode,
.mmg .dijitComboBoxDisabled,
.mmg .dijitSpinnerDisabled,
.mmg .dijitSpinnerDisabled .dijitButtonNode {
	
	border-color: #dedede;
	background:#fafafa url(images/buttonDisabled.png) top repeat-x;
	opacity: 0.60; 
}
.mmg .dijitButtonHover .dijitButtonNode,
.mmg .dijitButtonNodeHover,
.mmg .dijitToggleButtonHover .dijitButtonNode,
.mmg .dijitDropDownButtonHover .dijitButtonNode,
.mmg .dijitComboButtonHover .dijitButtonContents,
.mmg .dijitComboButtonDownArrowHover .dijitDownArrowButton,
.mmg .dijitComboBoxHover .dijitDownArrowButton,
.mmg .dijitSpinnerUpArrowHover .dijitUpArrowButton,
.mmg .dijitSpinnerDownArrowHover .dijitDownArrowButton {
	
	
	color:#243C5F;
	background:#fcfcfc url(images/buttonHover.png) repeat-x top left;
}
.mmg .dijitSpinnerUpArrowActive .dijitUpArrowButton,
.mmg .dijitSpinnerDownArrowActive .dijitDownArrowButton,
.mmg .dijitButtonActive .dijitButtonNode,
.mmg .dijitToggleButtonActive .dijitButtonNode,
.mmg .dijitDropDownButtonActive .dijitButtonNode,
.mmg .dijitComboButtonActive .dijitButtonContents,
.mmg .dijitDownArrowActive .dijitDownArrowButton,
.mmg .dijitComboBoxActive .dijitDownArrowButton,
.mmg .dijitStackController .dijitToggleButtonChecked .dijitButtonNode {
	
	border-color:#dedede;
	background: #f5f5f5 url(images/buttonActive.png) top left repeat-x;
}
.mmg .dijitArrowButtonInner {
	background:url(images/spriteArrows.png) no-repeat left top;
	width: 11px;
}
.mmg .dijitUpArrowButton .dijitArrowButtonInner { 
	background:url(images/spriteArrows.png) no-repeat -22px top; 
	width: 11px;
}
.dj_ie6 .mmg .dijitArrowButtonInner {
	background:url(images/spriteArrows.gif) no-repeat left top;
	width: 11px;
}
.dj_ie6 .mmg .dijitUpArrowButton .dijitArrowButtonInner {
	background:url(images/spriteArrows.gif) no-repeat -22px top;
	width: 11px;
}
.mmg .dijitComboBox .dijitArrowButton .dijitArrowButtonInner {
	background:url(images/spriteArrows.png) no-repeat left center;
	width: 11px;
}
.dj_ie6 .mmg .dijitComboBox .dijitArrowButton .dijitArrowButtonInner {
	background:url(images/spriteArrows.gif) no-repeat left center;
}
.mmg .dijitComboBoxHover .dijitArrowButtonInner {
	
}
.mmg .dijitToggleButton .dijitCheckBox,
.mmg .dijitToggleButton .dijitCheckBoxIcon {
	background-image: url(images/spriteCheckbox.gif);
}
.mmg .dijitCheckBox,
.mmg .dijitCheckBoxIcon {		
	background-image: url(images/spriteCheckbox.gif); 
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	margin: 0;
	padding: 0;
}
.mmg .dijitCheckBox,
.mmg .dijitToggleButton .dijitCheckBoxIcon {
	
	background-position: -16px;
}
.mmg .dijitCheckBoxChecked,
.mmg .dijitToggleButtonChecked .dijitCheckBoxIcon {
	
	background-position: 0px;
}
.mmg .dijitCheckBoxDisabled {
	
	background-position: -48px;
}
.mmg .dijitCheckBoxCheckedDisabled {
	
	background-position: -32px;
}
.mmg .dijitCheckBoxHover {
	
	background-position: -80px;
}
.mmg .dijitCheckBoxCheckedHover {
	
	background-position: -64px;
}
.mmg .dijitToggleButton .dijitRadio,
.mmg .dijitToggleButton .dijitRadioIcon {
	background-image: url(images/spriteRadio.gif);
}
.mmg .dijitRadio,
.mmg .dijitRadioIcon	{		
	background-image: url(images/spriteRadio.gif); 
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	margin: 0;
	padding: 0;
}
.mmg .dijitRadio,
.mmg .dijitToggleButton .dijitRadioIcon {
	
	background-position: -16px;
}
.mmg .dijitRadioChecked,
.mmg .dijitToggleButtonChecked .dijitRadioIcon {
	
	background-position: 0px;
}
.mmg .dijitRadioDisabled {
	
	background-position: -48px;
}
.mmg .dijitRadioCheckedDisabled {
	
	background-position: -32px;
}
.mmg .dijitRadioHover {
	
	background-position: -80px;
}
.mmg .dijitRadioCheckedHover {
	
	background-position: -64px;
}
.mmg .dijitSliderProgressBarH {
	border-color: #aab0bb;
	background: #c0c2c5 url(images/sliderFull.png) repeat-x top left;
}
.mmg .dijitSliderProgressBarV {
	border-color: #aab0bb;
	background: #c0c2c5 url(images/sliderFullVertical.png) repeat-y bottom left;
}
.mmg .dijitSliderFocused .dijitSliderProgressBarH,
.mmg .dijitSliderFocused .dijitSliderLeftBumper {
	background-image:url(images/sliderFullFocus.png);
}
.mmg .dijitSliderFocused .dijitSliderProgressBarV,
.mmg .dijitSliderFocused .dijitSliderBottomBumper {
	background-image:url(images/sliderFullVerticalFocus.png);
}
.mmg .dijitSliderRemainingBarV {
	border-color: #b4b4b4;
	background: #dcdcdc url(images/sliderEmptyVertical.png) repeat-y bottom left;
}
.mmg .dijitSliderRemainingBarH {
	border-color: #b4b4b4;
	background: #dcdcdc url(images/sliderEmpty.png) repeat-x top left;
}
.mmg .dijitSliderBar {
	border-style: solid;
	outline:1px;
	
}
.mmg .dijitSliderFocused .dijitSliderBar {
	border-color:#727272;	
}
.dijit_a11y .dijitSliderProgressBar {
	background-color:#333 !important;
}
.mmg .dijitSliderImageHandleH {
	border:0px;
	width:15px;
	height:18px;
	background:url(images/preciseSliderThumb.png) no-repeat center top;
	#background:url(images/preciseSliderThumb.gif) no-repeat center top;
	cursor:pointer;
}
.mmg .dijitSliderFocused .dijitSliderImageHandleH {
	background-image:url(images/preciseSliderThumbFocus.png);
	#background-image:url(images/preciseSliderThumbFocus.gif);
}
.mmg .dijitSliderLeftBumper {
	border-left-width: 1px;
	border-color: #aab0bb;
	background: #c0c2c5 url(images/sliderFull.png) repeat-x top left;
}
.mmg .dijitSliderRightBumper {
	background: #dcdcdc url(images/sliderEmpty.png) repeat-x top left;
	border-color: #b4b4b4;
	border-right-width: 1px;
}
.mmg .dijitSliderImageHandleV {
	border:0px;
	width:20px;
	height:15px;
	background:url(images/sliderThumb.png) no-repeat center center;
	#background:url(images/sliderThumb.gif) no-repeat center center;
	cursor:pointer;
}
.mmg .dijitSliderFocused .dijitSliderImageHandleV {
	background-image:url(images/sliderThumbFocus.png);
	#background-image:url(images/sliderThumbFocus.gif);
}
.mmg .dijitSliderBottomBumper {
	border-bottom-width: 1px;
	border-color: #aab0bb;
	background: #c0c2c5 url(images/sliderFullVertical.png) repeat-y bottom left;
}
.mmg .dijitSliderTopBumper {
	background: #dcdcdc url(images/sliderEmptyVertical.png) repeat-y top left;
	border-color: #b4b4b4;
	border-top-width: 1px;
}
.mmg .dijitSliderIncrementIconH,
.mmg .dijitSliderIncrementIconV {
	background:url(images/spriteRoundedIconsSmall.png) no-repeat -45px top;
	#background:url(images/spriteRoundedIconsSmall.gif) no-repeat -45px top;
	width:15px; height:15px;
	cursor:pointer;
}
.mmg .dijitSliderIncrementIconH {
	background:url(images/spriteRoundedIconsSmall.png) no-repeat -30px top;
	#background:url(images/spriteRoundedIconsSmall.gif) no-repeat -30px top;
}
.mmg .dijitSliderDecrementIconH,
.mmg .dijitSliderDecrementIconV {
	width:15px;
	height:15px;
	cursor:pointer;
	background:url(images/spriteRoundedIconsSmall.png) no-repeat -15px top;
	#background:url(images/spriteRoundedIconsSmall.gif) no-repeat -15px top;
}
.mmg .dijitSliderDecrementIconH { 
	background:url(images/spriteRoundedIconsSmall.png) no-repeat 0px top; 
	#background:url(images/spriteRoundedIconsSmall.gif) no-repeat 0px top; 
}
.mmg .dijitSliderButtonInner {
	visibility:hidden;
}
.mmg .dijitSliderDisabled {
	opacity:0.6 !important;
}
.dj_ie .mmg .dijitSliderDisabled,
.dj_ie .mmg .dijitSliderDisabled .dijitRuleContainer,
.dj_ie .mmg .dijitSliderDisabled .dijitSliderRemainingBar,
.dj_ie .mmg .dijitSliderDisabled .dijitSliderProgressBar {
	filter: gray() alpha(opacity=40);
}
.mmg .dijitTreeNode {
    background : url(images/treeI.gif) no-repeat;
    background-position : top left;
    background-repeat : repeat-y;
    zoom: 1;	
}
.mmg .dijitTreeIsLast {
    background: url(images/treeI_half.gif) no-repeat;
}
.mmg .dijitTreeNodeHover {
	
	background-image: url(images/treeHover.png);
	background-repeat: repeat;
	background-color: none !important;
}
.mmg .dijitTreeLabel {
	font-weight: normal;
	margin-left: 3px;	
}
.mmg .dijitTreeIsRoot {
    margin-left: 0;
    background-image: none;
}
.mmg .dijitTreeExpando {
    width: 18px;
    height: 18px;
}
.mmg .dijitTreeRow {
	
	padding-bottom: 2px;
}
.mmg .dijitTreeContent {
    min-height: 18px;
    min-width: 18px;
    padding-left:1px;
}
.mmg .dijitTreeExpand {
    width: 18px;
    height: 18px;
    background-repeat : no-repeat;
}
.mmg .dijitTreeNodeEmphasized {
    background-color: Highlight;
    color: HighlightText;
}
.mmg .dijitTreeLabelFocused {
	outline: 1px invert dotted;
}
.mmg .dijitTreeExpandoOpened {
	background: url(images/spriteTree.gif) no-repeat -18px top;
}
.mmg .dijitTreeExpandoClosed {
	background-image: url(images/spriteTree.gif);
}
.mmg .dijitTreeExpandoLeaf {
	background: url(images/spriteTree.gif) no-repeat -36px top;
}
.mmg .dijitTreeExpandoLoading {
	background-image: url(images/treeExpand_loading.gif);
}
.mmg .dijitTreeIcon {
	width: 16px;
	height: 16px;
}
.mmg .dijitFolderOpened {
	background: url(images/spriteDivIcons.gif) no-repeat -16px top;
}
.mmg .dijitFolderClosed {
	background: url(images/spriteDivIcons.gif) no-repeat top left;
}
.mmg .dijitLeaf {
	background: url(images/spriteDivIcons.gif) no-repeat -32px top;
}
.mmg .dijitTreeNode .dojoDndItemBefore,
.mmg .dijitTreeNode .dojoDndItemAfter {
	border-bottom: none;
	border-top: none;
}
.mmg .dijitTreeNode .dojoDndItemBefore .dijitTreeContent {
	
	border-top: 2px solid #369;
}
.mmg .dijitTreeNode .dojoDndItemAfter .dijitTreeContent {
	
	border-bottom: 2px solid #369;
}
.mmg .dijitProgressBar {
	margin:2px 0px 2px 0px;
}
.mmg .dijitProgressBarEmpty{
	
	background:#fff url(images/progressBarEmpty.png) repeat-x center center;
	border-color: #f8d582 #f8d582 #f8d582 #f8d582;
}
.mmg .dijitProgressBarTile{
	
	background:#f0f0f0 url(images/progressBarFull.png) repeat-x center center;
}
.mmg .dijitProgressBarFull {
	border-right:1px solid #f8d582;
}
.mmg .dijitProgressBarLabel {
	
	color:#293a4b;
}
.mmg .dijitProgressBarIndeterminate .dijitProgressBarTile {
	
	background:#cad2de url(images/progressBarAnim.gif) repeat-x center center;
}
 
 
.mmg .dijitTitlePaneTitle {
	background: #cccccc;
	background:#fff url(images/titleBar.png) repeat-x top left;
	border:1px solid #bfbfbf;
	padding:3px 4px;
	cursor: pointer;
	font-size: 0.9em;
	font-weight: bold;
	color: #6d6d6d;
}
.mmg .dijitTitlePaneTitle-hover  {
	background: #f9f9f9 url(images/accordionItemActive.png) top repeat-x;
}
.mmg .dijitTitlePaneTitle * {
	vertical-align: middle;
}
.mmg .dijitTitlePane .dijitArrowNode {
	width:15px;
	height:15px;
}
.mmg .dijitTitlePaneFocused .dijitTitlePaneTextNode {
	color: #243C5F;
}
.mmg .dijitOpen .dijitTitlePaneTextNode {
	color: #243C5F;
}
.mmg .dijitTitlePane .dijitClosed .dijitArrowNode {
	background: url(images/spriteRoundedIconsSmall.png) no-repeat -30px top;
}
.dj_ie6 .mmg .dijitTitlePane .dijitClosed .dijitArrowNode {
	background:url(images/spriteRoundedIconsSmall.gif) no-repeat -30px top;
}
.mmg .dijitTitlePane .dijitOpen .dijitArrowNode {
	background:url(images/spriteRoundedIconsSmall.png) no-repeat -15px top;
}
.dj_ie6 .mmg .dijitTitlePane .dijitOpen .dijitArrowNode {
	background:url(images/spriteRoundedIconsSmall.gif) no-repeat -15px top;
}
.mmg .dijitTitlePane .dijitArrowNodeInner {
	display:none;
}
.dijit_a11y .dijitTitlePane .dijitArrowNodeInner {
	display:inline !important;
	font-family:monospace;
	cursor: pointer;
	padding-bottom:.2em;
}
.dijit_a11y .dijitTitlePane .dijitArrowNode {
	display:none;
}
.mmg .dijitTitlePaneContentOuter {
	background: #ffffff;
	border:1px solid #bfbfbf;
	border-top: 0px solid #3d3d3d;	
}
.mmg .dijitTitlePaneContentInner {
	padding:10px;
}
.dj_ie6 .mmg .dijitTitlePaneContentOuter,
.dj_ie6 .mmg .dijitTitlePane .dijitTitlePaneTitle {
	zoom: 1;
}
.mmg .dijitTitlePaneTextNode {
	margin-left: 4px;
	margin-right: 4px;
}
	
.mmg .dijitCalendarIncrementControl {
	
	width:15px;
	height:15px;
	background-image: url(images/spriteRoundedIconsSmall.png);
	background-repeat: no-repeat
}
.dj_ie6 .mmg .dijitCalendarIncrementControl {
	font-size:.1em;
	background-image: url(images/spriteRoundedIconsSmall.gif);
}
.mmg .dijitA11ySideArrow {
	display: none;
}
.mmg .dijitCalendarDecrease {
	background-position: top left;
}
.mmg .dijitCalendarIncrease {
	background-position: -30px top;
}
.mmg table.dijitCalendarContainer {
	font-size: 100%;
	border-spacing: 0;
	border-collapse: separate;
	border: 1px solid #ccc;
	margin: 0;
}
.mmg .dijitCalendarMonthContainer th {
	
	background:#d3d3d3 url(images/titleBar.png) repeat-x top;
	padding-top:.3em;
	padding-bottom:.2em;
	text-align:center;
}
.dj_ie6 .mmg .dijitCalendarMonthContainer th {
	padding-top:.2em;
	padding-bottom:.1em;
	
}
.mmg .dijitCalendarDayLabelTemplate {
	
	background:#fefefe;
	font-weight:normal;
	padding-top:.15em;
	padding-bottom:.2em;
	border-bottom: 1px solid #eeeeee;
	color:#293a4b;
	text-align:center;
}
.mmg .dijitCalendarBodyContainer {
	border-bottom: 1px solid #eeeeee;	
}
.mmg .dijitCalendarMonthLabel {
	color:#293a4b;
	font-weight: bold;
}
.mmg .dijitCalendarDateTemplate {
	
	font-size: 0.9em;
	font-weight: bold;
	text-align: center;
	padding: 0.3em 0.3em 0.05em 0.3em;
	letter-spacing: 1px;
	background-color: #fdfdfd;
	border:#fdfdfd solid 1px !important;
}
.dj_ie .mmg .dijitCalendarDateTemplate {
	padding: 0.1em .33em 0.02em .33em;
}
.mmg .dijitCalendarPreviousMonth,
.mmg .dijitCalendarNextMonth 		{
	
	color:#999999;
	background-color:#f5f5f5 !important;
	border:#f5f5f5 solid 1px !important;
}
.mmg .dijitCalendarPreviousMonthDisabled,
.mmg .dijitCalendarNextMonthDisabled	{
	
	background-color:#a4a5a6 !important;
}
.mmg .dijitCalendarCurrentMonth {
	
}
.mmg .dijitCalendarCurrentMonthDisabled {
		
	background-color:#bbbbbc !important;
}
.mmg .dijitCalendarDisabledDate {
	
	
	text-decoration:line-through !important;
	cursor:default !important;
}
.mmg .dijitCalendarCurrentDate {
	
	text-decoration:underline;
	font-weight:bold;
}
.mmg .dijitCalendarSelectedDate {
	
	background-color:#ffe284 !important;
	color:black !important;
	border:#f7c95c solid 1px !important;
}
.mmg .dijitCalendarYearContainer {
	
	background:white url(images/titleBar.png) repeat-x top;
}
.mmg .dijitCalendarYearLabel {
	
	margin:0;
	padding:0.4em 0 0.25em 0;
	text-align:center;
}
.mmg .dijitCalendarSelectedYear {
	
	color:black;
	padding:0.2em;
	padding-bottom:0.1em;
	background-color:#ffe284 !important;
	border:#f7c95c solid 1px !important;
}
.mmg .dijitCalendarNextYear,
.mmg .dijitCalendarPreviousYear {
	
	color:black !important;
	font-weight:normal;
}
.mmg .dijitTimePickerTick,
.mmg .dijitTimePickerMarker {
	border-color: #eeeeee;
}
.mmg .dijitTimePickerTick {
	color:white;
}
.mmg .dijitTimePickerMarker {
	background:#d3d3d3 url(images/titleBar.png) repeat-x top;
	color:#293a4b;
	font-weight: bold;
}
.mmg .dijitTimePickerItemSelected {
	color: black;
	background: #ffe284 none;
}
.mmg .dijitTimePickerItemHover {
	background: #d6d6dd none;
	color:black;
}
.mmg .dijitTimePickerItemHover,
.mmg .dijitTimePickerItemSelected {
	position: relative;
	z-index: 10;
}
.mmg .dijitTimePickerTick .dijitTimePickerItemInner {
	font-size:0.4em;
}
.mmg .dijitTimePickerItemHover .dijitTimePickerItemInner,
.mmg .dijitTimePickerItemSelected .dijitTimePickerItemInner {
	font-size:1em;
}
.mmg .dijitTimePickerMarkerHover {
	border-top: 1px solid #eeeeee;
}
.mmg .dijitTimePickerTickHover,
.mmg .dijitTimePickerTickSelected {
	margin-top:-0.3em;
	margin-bottom:-0.3em;
	border-bottom: none;
}
.dijit_a11y .dijitTimePickerTickHover {
	background-color: #CCC !important;
	border-top: 1px solid #333 !important;
	border-bottom: 1px solid #333 !important;
}
.dijit_a11y .dijitTimePickerMarkerHover {
	border-bottom-width: 2px;
}
.mmg .dijitToolbar {
	border-bottom: 1px solid #ccc;
	background:#eaeaea url(images/titleBar.png) repeat-x top left;
}
.dj_ie6 .mmg .dijitToolbar {
	height: 10px;
}
.mmg .dijitToolbar .dijitButtonNode,
.mmg .dijitToolbar .dijitComboButton .dijitButtonContents,
.mmg .dijitToolbar .dijitComboButton .dijitDownArrowButton {
	background: none;
	margin: 0px;
	padding: 0px;
	border: none;
	font-size: 12px;
}
.mmg .dijitToolbar .dijitButton,
.mmg .dijitToolbar .dijitToggleButton,
.mmg .dijitToolbar .dijitDropDownButton,
.mmg .dijitToolbar .dijitComboButton .dijitButtonContents,
.mmg .dijitToolbar .dijitComboButton .dijitDownArrowButton {
	background: none;	
	padding: 1px;	
}
.mmg .dijitToolbar .dijitButtonChecked,
.mmg .dijitToolbar .dijitToggleButtonChecked {
	background-color:#ffeeb9;
	border:1px solid #f7c95c;
	padding: 0;
}
.mmg .dijitToolbar .dijitButtonCheckedHover,
.mmg .dijitToolbar .dijitToggleButtonCheckedHover
 {
	background-color:#ffe284;
	border:1px solid #f7c95c;
	padding: 0;
}
.mmg .dijitToolbar .dijitButtonHover,
.mmg .dijitToolbar .dijitToggleButtonHover,
.mmg .dijitToolbar .dijitDropDownButtonHover,
.mmg .dijitToolbar .dijitComboButtonHover .dijitButtonContents,
.mmg .dijitToolbar .dijitComboButtonDownArrowHover .dijitDownArrowButton {
	
	border: 1px solid #f7c95c;
	padding: 0;
	background-color:#ffe284;
}
.mmg .dijitToolbar label {	
	padding: 3px 3px 0 6px;
}
.dj_ie .mmg .dijitToolbar .dijitComboButton .dijitButtonContentsFocused,
.dj_ie .mmg .dijitToolbar .dijitComboButton .dijitDownArrowButtonFocused,
.dj_ff2 .mmg.dijitToolbar .dijitComboButton .dijitButtonContentsFocused,
.dj_ff2 .mmg .dijitToolbar .dijitComboButton .dijitDownArrowButtonFocused {
	
	border: 1px #555 dotted !important;
	padding: 0px;
}
.mmg .dijitDialog {
	background: #eee;
	border: 1px solid #d3d3d3;
	-webkit-box-shadow: 0px 5px 10px #000;
	padding: 0px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.mmg .dijitDialog .dijitDialogTitle {
	
	font-size: 0.9em;
	color: #3243C5F;
	font-weight: bold;
	padding: 0px 4px;
}
.mmg .dijitDialog .dijitDialogPaneContent {
	background: #ffffff;
	border:none;
	border-top: 1px solid #d3d3d3; 
	padding:10px;
}
.mmg .dijitDialogTitleBar {
	background: #fafafa url(images/titleBar.png) repeat-x top left;
	padding: 5px 6px 3px 6px;
	cursor: move;
	outline: 0; 
}
.mmg .dijitDialogCloseIcon {
	
	background-image: url(images/spriteRoundedIconsSmall.png);
	background-repeat: no-repeat;
	background-position: -60px 0px;
	position: absolute;
	vertical-align: middle;
	right: 6px;
	top: 4px;
	height: 15px;
	width: 15px;
	cursor: pointer;
}
.dj_ie6 .mmg .dijitDialogCloseIcon {
	background-image: url(images/spriteRoundedIconsSmall.gif);
}
.mmg .dijitDialogCloseIcon-hover {
	background-position: -60px -15px;
}
.mmg .dijitTooltip,
.mmg .dijitTooltipDialog {
	
	background: transparent;	
}
.dijitTooltipBelow {
	
	padding-top: 10px;
}
.dijitTooltipAbove {
	
	padding-bottom: 10px;
}
.mmg .dijitTooltipContainer {
	
	background-color: #fff;
	border:1px solid #d3d3d3;
	padding:0.45em;
}
.mmg .dijitTooltipConnector {
	
	border:0px;
	z-index: 2;
}
.mmg .dijitTooltipABRight .dijitTooltipConnector {
	
	left: auto !important;
	right: 6px;
}
.mmg .dijitTooltipBelow .dijitTooltipConnector {
	
	top: 0px;
	left: 6px;
	background:url(images/tooltipConnectorUp.png) no-repeat top left;
	width:17px;
	height:11px;
}
.dj_ie6 .mmg .dijitTooltipBelow .dijitTooltipConnector {
	background-image: url(images/tooltipConnectorUp.gif);
}
.mmg .dijitTooltipAbove .dijitTooltipConnector {
	
	bottom: 0px;
	left: 6px;
	background:url(images/tooltipConnectorDown.png) no-repeat top left;
	width:17px;
	height:11px;
}
.dj_ie6 .mmg .dijitTooltipAbove .dijitTooltipConnector {
	background-image: url(images/tooltipConnectorDown.gif);
}
.dj_ie6 .mmg .dijitTooltipAbove .dijitTooltipConnector {
	bottom: -5px;
}
.mmg .dijitTooltipLeft {
	padding-right: 10px;
}
.dj_ie6 .mmg .dijitTooltipLeft {
	padding-left: 11px;
}
.mmg .dijitTooltipLeft .dijitTooltipConnector {
	
	right: 0px;
	bottom: 3px;
	background:url(images/tooltipConnectorRight.png) no-repeat top left;
	width:11px;
	height:17px;
}
.dj_ie6 .mmg .dijitTooltipLeft .dijitTooltipConnector {
	background-image: url(images/tooltipConnectorRight.gif);
}
.mmg .dijitTooltipRight {
	padding-left: 10px;
}
.mmg .dijitTooltipRight .dijitTooltipConnector {
	
	left: 0px;
	bottom: 3px;
	background:url(images/tooltipConnectorLeft.png) no-repeat top left;
	width:11px;
	height:17px;
}
.dj_ie6 .mmg .dijitTooltipRight .dijitTooltipConnector {
	background-image: url(images/tooltipConnectorLeft.gif);
}
.mmg .dijitMenu,
.mmg .dijitMenuBar {
	border: 1px solid #d3d3d3;
	margin: 0px;
	padding: 0px;
	background-color: #fff;
}
.mmg .dijitBorderContainer .dijitMenuBar {
	border: 1px #ccc solid;
}
.mmg .dijitMenuItem {
	font-family: sans-serif;
	margin: 0px;
	color: #243C5F;
}
.mmg .dijitMenuBar .dijitMenuItem {
	padding: 4px 5px;
}
.mmg .dijitMenuPreviousButton, .mmg .dijitMenuNextButton {
	font-style: italic;
}
.mmg .dijitMenuItem TD {
	padding:1px;
}
.mmg .dijitMenuPassive .dijitMenuItemHover,
.mmg .dijitMenuItemSelected {
	background-color: #ffe284; 
	color: #243C5F;
}
.mmg .dijitMenuItemIcon {
	width: 15px;
	height: 15px;
}
.mmg .dijitMenuExpand {
	width:15px;
	height:15px;
	background-image: url(images/spriteRoundedIconsSmall.png);
	background-position: -30px top;
}
.dj_ie6 .mmg .dijitMenuExpand {
	background-image:url(images/spriteRoundedIconsSmall.gif);
}
.mmg .dijitMenuSeparator {
	height: 1px;
}
.mmg .dijitMenuSeparatorTop {
	border-bottom: 1px solid #fff; 
}
.mmg .dijitMenuSeparatorBottom {
	border-top: 1px solid #d3d3d3;
}
.mmg .dijitCheckedMenuItemIconChar {
	display: none;
}
.mmg .dijitCheckedMenuItemIcon {
	background-image: url(images/spriteCheckbox.gif);
	background-position: -80px;
}
.mmg .dijitCheckedMenuItemChecked .dijitCheckedMenuItemIcon {
	background-position: -64px;
}
.dijitIEFixedToolbar {
	position:absolute;
	
	top: expression(eval((document.documentElement||document.body).scrollTop));
}
.mmg .dijitToolbar .dijitToolbarSeparator {
	background: url(images/editor.gif);
}
.mmg .dijitEditorIcon {
	background-image: url(images/editor.gif); 
	background-repeat: no-repeat;
	width: 18px;
	height: 18px;
	text-align: center;
}
.mmg .dijitDisabled .dijitEditorIcon {
	background-image: url(images/editorDisabled.gif); 
}
.mmg .dijitEditorIconSep { background-position: 0px; }
.mmg .dijitEditorIconBackColor { background-position: -18px; }
.mmg .dijitEditorIconBold { background-position: -36px; }
.mmg .dijitEditorIconCancel { background-position: -54px; }
.mmg .dijitEditorIconCopy { background-position: -72px; }
.mmg .dijitEditorIconCreateLink { background-position: -90px; }
.mmg .dijitEditorIconCut { background-position: -108px; }
.mmg .dijitEditorIconDelete { background-position: -126px; }
.mmg .dijitEditorIconForeColor { background-position: -144px; }
.mmg .dijitEditorIconHiliteColor { background-position: -162px; }
.mmg .dijitEditorIconIndent { background-position: -180px; }
.mmg .dijitEditorIconInsertHorizontalRule { background-position: -198px; }
.mmg .dijitEditorIconInsertImage { background-position: -216px; }
.mmg .dijitEditorIconInsertOrderedList { background-position: -234px; }
.mmg .dijitEditorIconInsertTable { background-position: -252px; }
.mmg .dijitEditorIconInsertUnorderedList { background-position: -270px; }
.mmg .dijitEditorIconItalic { background-position: -288px; }
.mmg .dijitEditorIconJustifyCenter { background-position: -306px; }
.mmg .dijitEditorIconJustifyFull { background-position: -324px; }
.mmg .dijitEditorIconJustifyLeft { background-position: -342px; }
.mmg .dijitEditorIconJustifyRight { background-position: -360px; }
.mmg .dijitEditorIconLeftToRight { background-position: -378px; }
.mmg .dijitEditorIconListBulletIndent { background-position: -396px; }
.mmg .dijitEditorIconListBulletOutdent { background-position: -414px; }
.mmg .dijitEditorIconListNumIndent { background-position: -432px; }
.mmg .dijitEditorIconListNumOutdent { background-position: -450px; }
.mmg .dijitEditorIconOutdent { background-position: -468px; }
.mmg .dijitEditorIconPaste { background-position: -486px; }
.mmg .dijitEditorIconRedo { background-position: -504px; }
.mmg .dijitEditorIconRemoveFormat { background-position: -522px; }
.mmg .dijitEditorIconRightToLeft { background-position: -540px; }
.mmg .dijitEditorIconSave { background-position: -558px; }
.mmg .dijitEditorIconSpace { background-position: -576px; }
.mmg .dijitEditorIconStrikethrough { background-position: -594px; }
.mmg .dijitEditorIconSubscript { background-position: -612px; }
.mmg .dijitEditorIconSuperscript { background-position: -630px; }
.mmg .dijitEditorIconUnderline { background-position: -648px; }
.mmg .dijitEditorIconUndo { background-position: -666px; }
.mmg .dijitEditorIconWikiword { background-position: -684px; }
.mmg .dijitEditorIconToggleDir { background-position: -540px; }
.mmg .dijitEditorIconTabIndent { background-position: -702px; }
.mmg .dijitEditorIconSelectAll { background-position: -720px; }
.mmg .dijitEditorIconUnlink { background-position: -738px; }
.dijitColorPalette {
	border:1px solid #d3d3d3;
	background:#fff;
	-moz-border-radius: 0px !important;
}
