
.dj_gecko-rtl .dijitInputField {
	direction: ltr; 
}
.dj_gecko-rtl .dijitInputField * {
	direction: rtl; 
}
.dijitRtl .dijitMenuItem {
	text-align: right;
}
.dijitRtl .dijitComboBox .dijitInputField {
	border-right-width:1px !important;
	border-left-width:0 !important;
}
.dijitRtl .dijitCalendarNextYear {
	margin:0 0.55em 0 0;
}
.dijitRtl .dijitCalendarPreviousYear {
	margin:0 0 0 0.55em;
}
.dijitRtl .dijitProgressBarFull .dijitProgressBarLabel {
	right:0; 
}
.dijitRtl .dijitSliderImageHandleV {
	left:auto;
	right:-6px;
}
.dj_ie-rtl .dijitSliderImageHandleV {
	right:-10px;
}
.dijitRtl .dijitSliderMoveableH {
	right:auto;
	left:0;
}
.dijitRtl .dijitRuleContainerV {
	float:right;
}
.dj_gecko-rtl .dijitRuleContainerV {
	float:left;
}
.dj_ie-rtl .dijitRuleContainerV {
	text-align:right;
}
.dj_ie-rtl .dijitRuleLabelV {
	text-align:left;
}
.dj_ie-rtl .dijitRuleLabelH {
	zoom:1;
}
.dj_ie-rtl .dijitSliderProgressBarH {
	right:0;
	left:auto;
}
.dj_gecko-rtl .dijitSliderProgressBarH {
	float:right;
	right:0;
	left:auto;
}
.dijitRtl .dijitSpinner .dijitInputLayoutContainer .dijitArrowButton {
	right: auto;
	left: 0;
	border-width: 0 1px 0 0 !important;
}
.dijitRtl .dijitSpinnerButtonContainer {
	float: left;
}
.dijitRtl .dijit_a11y .dijitSpinnerButtonContainer {
	margin-left: none;
	margin-right: 2px;
}
.dijitRtl DIV.dijitArrowButton, .dijitRtl .dijitValidationIcon, .dijitRtl .dijitValidationIconText {
	float: left;
}
.dijitRtl .dijitContentPaneLoading, .dijitRtl .dijitContentPaneError {
	background-position:right;
	padding-right:25px;
}
.dijitRtl .mmg .dijitTab {
	margin-right:0;
	margin-left:2px;		
}
.dijitRtl .mmg .dijitTabContainerTopStrip,
.dijitRtl .mmg .dijitTabContainerBottomStrip {
	padding-right: 3px;
	padding-left: 0px;
}
.dijitRtl .mmg .dijitTabContainerTop-tabs {
	padding-left: auto;
	padding-right: 3px;
}
.dijitRtl .mmg .dijitTabContainerBottom-tabs {
	padding-left: auto;
	padding-right: 3px;
}
.dijitRtl .mmg .dijitTabInnerDiv {
	padding-left: 3px;
	padding-right: 4px;
}
.dijitRtl .mmg .dijitTabPaneWrapper {
	#zoom: 1;
}
.dj_ie-rtl .mmg .dijitTabContainerLeft-tabs {
	margin-left: 0px !important;
}
.dj_ie-rtl .mmg .dijitTabContainerRight-tabs {
	margin-right: 0px !important;
}
.dijitRtl .mmg .dijitTabContainerLeft-tabs .dijitTab,
.dijitRtl .mmg .dijitTabContainerRight-tabs .dijitTab {
	margin-left:0px;
}
.dj_ie-rtl .mmg .dijitTab .dijitTabInnerDiv{
	width : 1%;
}
.dijitRtl .mmg .dijitAccordionArrow {
	background-position: 0px top;
}
.dijitRtl .mmg .dijitAccordionTitle-selected .dijitAccordionArrow {
	
	background-position: -15px top;
}
.dijitRtl .mmg .dijitSliderProgressBarH,
.dijitRtl .mmg .dijitSliderRemainingBarH,
.dijitRtl .mmg .dijitSliderLeftBumper,
.dijitRtl .mmg .dijitSliderRightBumper,
.dijitRtl .mmg .dijitSliderTopBumper {
	background-position: top right;
}
.dijitRtl .mmg .dijitSliderProgressBarV,
.dijitRtl .mmg .dijitSliderRemainingBarV,
.dijitRtl .mmg .dijitSliderBottomBumper {
	background-position: bottom right;
}
.dijitRtl .mmg .dijitSliderLeftBumper {
	border-left-width: 0px;
	border-right-width: 1px;
}
.dijitRtl .mmg .dijitSliderRightBumper {
	border-left-width: 1px;
	border-right-width: 0px;
}
.dijitRtl .mmg .dijitSliderIncrementIconH {
	background:url(images/spriteRoundedIconsSmall.png) no-repeat left top;
	#background:url(images/spriteRoundedIconsSmall.gif) no-repeat left top;
}
.dijitRtl .mmg .dijitSliderDecrementIconH {
	background:url(images/spriteRoundedIconsSmall.png) no-repeat -30px top;
	#background:url(images/spriteRoundedIconsSmall.gif) no-repeat -30px top;
}
.dijitRtl .mmg .dijitComboBox .dijitButtonNode {
	border-width: 0px 0px 0px 1px;
}
.dijitRtl .mmg .dijitComboBox .dijitButtonNode,
.dijitRtl .mmg .dijitSpinner .dijitButtonNode {
	
	border-color: #8ba0bd;
	border-left: 0px solid #8ba0bd;
	border-right: 1px solid #8ba0bd;
}
.dijitRtl .mmg .dijitTreeContainer .dijitTreeNode {
    background-image : none;
}
.dijitRtl .mmg .dijitTreeContainer .dijitTreeIsRoot {
}
.dijitRtl .mmg .dijitTreeContainer .dijitTreeIsLast {
    background-image: url(images/treeI_half_rtl.gif);
}
.dijitRtl .mmg .dijitTreeContainer .dijitTreeContent {
    padding-left: auto;
    padding-right: 1px;   
}
.dijitRtl .mmg .dijitTreeContainer .dijitTreeExpandoOpened {
	background: url(images/spriteTree_rtl.gif) no-repeat -18px top;
}
.dijitRtl .mmg .dijitTreeContainer .dijitTreeExpandoClosed {
	background-image: url(images/spriteTree_rtl.gif);
}
.dijitRtl .mmg .dijitTreeContainer .dijitTreeExpandoLeaf {
	background: none;
}
.dijitRtl .mmg .dijitTitlePane .dijitClosed .dijitArrowNode {
	background-position: 0px top;
}
.dj_ie6-rtl .mmg .dijitTitlePane .dijitClosed .dijitArrowNode {
	background-position: 0px top;
}
.dijitRtl .mmg .dijitCalendarDecrease {
	background-position: -30px top;
}
.dijitRtl .mmg .dijitCalendarIncrease {
	background-position: 0px top;
}
.dijitRtl .mmg .dijitDialogTitleBar .dijitDialogCloseIcon {
	right: auto;
	left: 5px;
}
.dijitRtl .mmg .dijitMenuItem .dijitMenuItemIcon {
	padding-left: 3px;
	padding-right: 0px;
}
.dijitRtl .mmg .dijitMenuItem .dijitMenuExpand {
	background-position: 0px top;
}
.dijitRtl .mmg .dijitEditorIcon {
	background-image: url(images/editor_rtl.gif); 
}
.dijitRtl .mmg .dijitDisabled .dijitEditorIcon {
	background-image: url(images/editorDisabled_rtl.gif); 
}
.dijitRtl .mmg .dijitToolbar .dijitToolbarSeparator {
	background-image: url(images/editor_rtl.gif);
}
