
.mmg .dijitTimePickerTick,
.mmg .dijitTimePickerMarker {
	border-color: #eeeeee;
}
.mmg .dijitTimePickerTick {
	color:white;
}
.mmg .dijitTimePickerMarker {
	background:#d3d3d3 url("images/titleBar.png") repeat-x top;
	color:#293a4b;
	font-weight: bold;
}
.mmg .dijitTimePickerItemSelected {
	color: black;
	background: #ffe284 none;
}
.mmg .dijitTimePickerItemHover {
	background: #d6d6dd none;
	color:black;
}
.mmg .dijitTimePickerItemHover,
.mmg .dijitTimePickerItemSelected {
	position: relative;
	z-index: 10;
}
.mmg .dijitTimePickerTick .dijitTimePickerItemInner {
	font-size:0.4em;
}
.mmg .dijitTimePickerItemHover .dijitTimePickerItemInner,
.mmg .dijitTimePickerItemSelected .dijitTimePickerItemInner {
	font-size:1em;
}
.mmg .dijitTimePickerMarkerHover {
	border-top: 1px solid #eeeeee;
}
.mmg .dijitTimePickerTickHover,
.mmg .dijitTimePickerTickSelected {
	margin-top:-0.3em;
	margin-bottom:-0.3em;
	border-bottom: none;
}
.dijit_a11y .dijitTimePickerTickHover {
	background-color: #CCC !important;
	border-top: 1px solid #333 !important;
	border-bottom: 1px solid #333 !important;
}
.dijit_a11y .dijitTimePickerMarkerHover {
	border-bottom-width: 2px;
}
