 
 
.mmg .dijitTitlePaneTitle {
	background: #cccccc;
	background:#fff url("images/titleBar.png") repeat-x top left;
	border:1px solid #bfbfbf;
	padding:3px 4px;
	cursor: pointer;
	font-size: 0.9em;
	font-weight: bold;
	color: #6d6d6d;
}
.mmg .dijitTitlePaneTitle-hover  {
	background: #f9f9f9 url("images/accordionItemActive.png") top repeat-x;
}
.mmg .dijitTitlePaneTitle * {
	vertical-align: middle;
}
.mmg .dijitTitlePane .dijitArrowNode {
	width:15px;
	height:15px;
}
.mmg .dijitTitlePaneFocused .dijitTitlePaneTextNode {
	color: #243C5F;
}
.mmg .dijitOpen .dijitTitlePaneTextNode {
	color: #243C5F;
}
.mmg .dijitTitlePane .dijitClosed .dijitArrowNode {
	background: url('images/spriteRoundedIconsSmall.png') no-repeat -30px top;
}
.dj_ie6 .mmg .dijitTitlePane .dijitClosed .dijitArrowNode {
	background:url('images/spriteRoundedIconsSmall.gif') no-repeat -30px top;
}
.mmg .dijitTitlePane .dijitOpen .dijitArrowNode {
	background:url('images/spriteRoundedIconsSmall.png') no-repeat -15px top;
}
.dj_ie6 .mmg .dijitTitlePane .dijitOpen .dijitArrowNode {
	background:url('images/spriteRoundedIconsSmall.gif') no-repeat -15px top;
}
.mmg .dijitTitlePane .dijitArrowNodeInner {
	display:none;
}
.dijit_a11y .dijitTitlePane .dijitArrowNodeInner {
	display:inline !important;
	font-family:monospace;
	cursor: pointer;
	padding-bottom:.2em;
}
.dijit_a11y .dijitTitlePane .dijitArrowNode {
	display:none;
}
.mmg .dijitTitlePaneContentOuter {
	background: #ffffff;
	border:1px solid #bfbfbf;
	border-top: 0px solid #3d3d3d;	
}
.mmg .dijitTitlePaneContentInner {
	padding:10px;
}
.dj_ie6 .mmg .dijitTitlePaneContentOuter,
.dj_ie6 .mmg .dijitTitlePane .dijitTitlePaneTitle {
	zoom: 1;
}
.mmg .dijitTitlePaneTextNode {
	margin-left: 4px;
	margin-right: 4px;
}
