.mmg .dijitToolbar {
	border-bottom: 1px solid #ccc;
	background:#eaeaea url("images/titleBar.png") repeat-x top left;
}
.dj_ie6 .mmg .dijitToolbar {
	height: 10px;
}
.mmg .dijitToolbar .dijitButtonNode,
.mmg .dijitToolbar .dijitComboButton .dijitButtonContents,
.mmg .dijitToolbar .dijitComboButton .dijitDownArrowButton {
	background: none;
	margin: 0px;
	padding: 0px;
	border: none;
	font-size: 12px;
}
.mmg .dijitToolbar .dijitButton,
.mmg .dijitToolbar .dijitToggleButton,
.mmg .dijitToolbar .dijitDropDownButton,
.mmg .dijitToolbar .dijitComboButton .dijitButtonContents,
.mmg .dijitToolbar .dijitComboButton .dijitDownArrowButton {
	background: none;	
	padding: 1px;	
}
.mmg .dijitToolbar .dijitButtonChecked,
.mmg .dijitToolbar .dijitToggleButtonChecked {
	background-color:#ffeeb9;
	border:1px solid #f7c95c;
	padding: 0;
}
.mmg .dijitToolbar .dijitButtonCheckedHover,
.mmg .dijitToolbar .dijitToggleButtonCheckedHover
 {
	background-color:#ffe284;
	border:1px solid #f7c95c;
	padding: 0;
}
.mmg .dijitToolbar .dijitButtonHover,
.mmg .dijitToolbar .dijitToggleButtonHover,
.mmg .dijitToolbar .dijitDropDownButtonHover,
.mmg .dijitToolbar .dijitComboButtonHover .dijitButtonContents,
.mmg .dijitToolbar .dijitComboButtonDownArrowHover .dijitDownArrowButton {
	
	border: 1px solid #f7c95c;
	padding: 0;
	background-color:#ffe284;
}
.mmg .dijitToolbar label {	
	padding: 3px 3px 0 6px;
}
.dj_ie .mmg .dijitToolbar .dijitComboButton .dijitButtonContentsFocused,
.dj_ie .mmg .dijitToolbar .dijitComboButton .dijitDownArrowButtonFocused,
.dj_ff2 .mmg.dijitToolbar .dijitComboButton .dijitButtonContentsFocused,
.dj_ff2 .mmg .dijitToolbar .dijitComboButton .dijitDownArrowButtonFocused {
	
	border: 1px #555 dotted !important;
	padding: 0px;
}
