
.mmg .dijitTreeNode {
    background : url('images/treeI.gif') no-repeat;
    background-position : top left;
    background-repeat : repeat-y;
    zoom: 1;	
}
.mmg .dijitTreeIsLast {
    background: url('images/treeI_half.gif') no-repeat;
}
.mmg .dijitTreeNodeHover {
	
	background-image: url(images/treeHover.png);
	background-repeat: repeat;
	background-color: none !important;
}
.mmg .dijitTreeLabel {
	font-weight: normal;
	margin-left: 3px;	
}
.mmg .dijitTreeIsRoot {
    margin-left: 0;
    background-image: none;
}
.mmg .dijitTreeExpando {
    width: 18px;
    height: 18px;
}
.mmg .dijitTreeRow {
	
	padding-bottom: 2px;
}
.mmg .dijitTreeContent {
    min-height: 18px;
    min-width: 18px;
    padding-left:1px;
}
.mmg .dijitTreeExpand {
    width: 18px;
    height: 18px;
    background-repeat : no-repeat;
}
.mmg .dijitTreeNodeEmphasized {
    background-color: Highlight;
    color: HighlightText;
}
.mmg .dijitTreeLabelFocused {
	outline: 1px invert dotted;
}
.mmg .dijitTreeExpandoOpened {
	background: url('images/spriteTree.gif') no-repeat -18px top;
}
.mmg .dijitTreeExpandoClosed {
	background-image: url('images/spriteTree.gif');
}
.mmg .dijitTreeExpandoLeaf {
	background: url('images/spriteTree.gif') no-repeat -36px top;
}
.mmg .dijitTreeExpandoLoading {
	background-image: url('images/treeExpand_loading.gif');
}
.mmg .dijitTreeIcon {
	width: 16px;
	height: 16px;
}
.mmg .dijitFolderOpened {
	background: url('images/spriteDivIcons.gif') no-repeat -16px top;
}
.mmg .dijitFolderClosed {
	background: url('images/spriteDivIcons.gif') no-repeat top left;
}
.mmg .dijitLeaf {
	background: url('images/spriteDivIcons.gif') no-repeat -32px top;
}
.mmg .dijitTreeNode .dojoDndItemBefore,
.mmg .dijitTreeNode .dojoDndItemAfter {
	border-bottom: none;
	border-top: none;
}
.mmg .dijitTreeNode .dojoDndItemBefore .dijitTreeContent {
	
	border-top: 2px solid #369;
}
.mmg .dijitTreeNode .dojoDndItemAfter .dijitTreeContent {
	
	border-bottom: 2px solid #369;
}
