
.dijitRtl .mmg .dijitTreeContainer .dijitTreeNode {
    background-image : none;
}
.dijitRtl .mmg .dijitTreeContainer .dijitTreeIsRoot {
}
.dijitRtl .mmg .dijitTreeContainer .dijitTreeIsLast {
    background-image: url('images/treeI_half_rtl.gif');
}
.dijitRtl .mmg .dijitTreeContainer .dijitTreeContent {
    padding-left: auto;
    padding-right: 1px;   
}
.dijitRtl .mmg .dijitTreeContainer .dijitTreeExpandoOpened {
	background: url('images/spriteTree_rtl.gif') no-repeat -18px top;
}
.dijitRtl .mmg .dijitTreeContainer .dijitTreeExpandoClosed {
	background-image: url('images/spriteTree_rtl.gif');
}
.dijitRtl .mmg .dijitTreeContainer .dijitTreeExpandoLeaf {
	background: none;
}
