<?php $this->headLink()->appendStylesheet('/styles/news.css'); ?>

<?php $creationDate = date('F j\, Y', strtotime($this->entry->creation_date)); ?>
<h2 style="margin-top: 0"><?php echo stripslashes($this->entry->title); ?></h2>

<hr style="margin-bottom: 2px; color: transparent; background-color: transparent; border: 1px dotted #ccc; border-style: none none dotted; " />
<div class="postInfo">
	Posted on <?php echo $creationDate; ?>
</div>

<p><?php echo trim($this->entry->article); ?></p>

<br /><span><a href="/news/"><span class="button">Back to News</span></a></span>

<div style="clear: both;"></div>