<div class="<?php if($this->partialCounter % 5 == 0) { echo 'discog_item last'; } else { echo 'discog_item'; } ?>">
	<a href="/admin/discography/delete/<?php echo $this->discogItem->id; ?>/"><img src="/images/icons/delete.png" class="delete" width="18" height="18" alt="delete" border="0" /></a>
	<div class="image">
		<a href="edit/<?php echo $this->discogItem->id; ?>/"><img src="/releases/<?php echo $this->discogItem->dir; ?>/<?php echo $this->discogItem->album_cover; ?>" alt="<?php echo stripslashes($this->discogItem->title); ?> Album Cover" width="110" border="0" height="110"></a>
		<a href="edit/<?php echo $this->discogItem->id; ?>/"><img style="display: none;" src="/images/foregrounds/discog_view_overlay.png" class="discogOverlay" alt="View Overlay" width="110" border="0" height="112"></a>
	</div>
</div>