<div class="event">
	<div class="eventImage">
		<a href="/admin/events/edit/<?php echo $this->escape($this->event->id); ?>/"><img src="<?php echo $this->imageResize('/images/events/' . $this->event->flyerfront, array('w' => 132, 'h' => 92, 'crop' => true)); ?>" alt="Flyer Front" width="132" height="92" border="0" /></a>
	</div>
	<div class="eventInfo">
		<h3><?php echo $this->escape($this->event->title); ?></h3>
		<p><b><?php echo date('l, F j', strtotime($this->event->date)); ?></b></p>
		<p><?php echo html_entity_decode($this->event->synopsis); ?></p>
	</div>
	<div class="eventActions">
		<a href="/admin/events/edit/<?php echo $this->escape($this->event->id); ?>/"><button type="button" value="edit" class="blue edit">edit</button></a>
		<a href="/admin/events/delete/<?php echo $this->escape($this->event->id); ?>/"><button type="button" value="delete" class="red delete">delete</button></a>
	</div>
	<div style="clear: both;"></div>
</div>