<?php $date = date('F j\, Y', strtotime($this->gallery->timestamp)); ?>
<?php $flatDir = str_replace('-', '', $this->gallery->dir); ?>
<?php $cover = $flatDir . '-cover'; ?>

<div class="row" id="<?php echo $this->escape($this->gallery->id); ?>">
	<div class="thumbnail" style="margin-right: 15px; float: left; height: 50px; width: 75px; background-color: #000000;">
		<img src="<?php echo $this->imageResize('/images/galleries/' . $this->gallery->dir . '/' . $this->partialLoop()->view->{$cover}, array('w' => 75, 'h' => 50, 'crop' => true)); ?>" alt="Cover Image" width="75" height="50" border="0" />
	</div>
	<div class="text">
		<h3><?php echo stripslashes($this->gallery->title); ?></h3>
		<p><b><?php echo $this->partialLoop()->view->{$flatDir}; ?> images</b>, published on <?php echo $date; ?></p>
	</div>
	<div class="actions">
		<a href="/admin/galleries/edit/<?php echo $this->escape($this->gallery->dir); ?>/"><button type="button" value="edit" class="blue edit">edit</button></a>
		<a href="/admin/galleries/delete/<?php echo $this->escape($this->gallery->id); ?>/"><button type="button" value="delete" class="red delete">delete</button></a>
	</div>
	<div style="clear: both;"></div>
</div>