<div id="<?php echo $this->escape($this->homepage->order); ?>" class="slide dojoDndItem">
	<img src="/images/home_slideshow/images/<?php echo $this->escape($this->homepage->image_url); ?>" border="0" />
	<div class="slideAction">
			<div class="actionOption" id="Link">
				Link
			</div>
			<div class="actionOption" id="Delete">
				Delete
			</div>
	</div>
</div>