<div class="row dojoDndItem" id="<?php echo $this->escape($this->linksItem->id); ?>">
	<div class="linkImage">
		<a href="http://<?php echo $this->linksItem->url; ?>" target="_blank"><img src="<?php echo $this->imageResize('/images/links/thumbs/' . $this->linksItem->image_url, array('w' => 75, 'h' => 75, 'crop' => true)); ?>" alt="Link Image" width="75" border="0" height="75"></a>
	</div>
	<div class="linkText">
		<h3><a href="http://<?php echo $this->linksItem->url; ?>" target="_blank"><?php echo stripslashes($this->linksItem->title); ?></a></h3>
		<p><?php echo trim(stripslashes($this->linksItem->description)); ?></p>
	</div>
	<div class="actions">
		<a href="/admin/links/add/<?php echo $this->escape($this->linksItem->id); ?>/"><button type="button" value="edit" class="blue edit">edit</button></a>
		<a href="/admin/links/delete/<?php echo $this->escape($this->linksItem->id); ?>/"><button type="button" value="delete" class="red delete">delete</button></a>
	</div>
	<div style="clear: both;"></div>
</div>