<?php
	$date = date('F j\, Y \a\t g\:i a', strtotime($this->entry->creation_date));
	if($this->entry->creation_date > date('Y-m-d G:i:s')) {
		$publish = '<span class="embargoed">Embargoed until ' . $date . '</span>';
	} else {
		$publish = '<span>Published on ' . $date . '</span>';
	}
?>

<div class="row" id="<?php echo $this->escape($this->entry->id); ?>">
	<div class="text">
		<h3><?php echo stripslashes($this->entry->title); ?></h3>
		<p><?php echo $publish; ?><span class="status">Status: <span class="<?php echo $this->entry->status; ?>"><?php echo ucfirst($this->entry->status); ?></span></span></p>
	</div>
	<div class="actions">
		<a href="/admin/news/edit/<?php echo $this->escape($this->entry->id); ?>/"><button type="button" value="edit" class="blue edit">edit</button></a>
		<a href="/admin/news/delete/<?php echo $this->escape($this->entry->id); ?>/"><button type="button" value="delete" class="red delete">delete</button></a>
	</div>
	<div style="clear: both;"></div>
</div>