<script src="/modules/admin/scripts/filedrag.js"></script>
<div style="width: 450px; margin: 10px 10px 0 10px;">
	<div id="LinkImage"></div>
	<div id="MainForm">
		<?php echo $this->linksForm; ?>
	</div>
	
	<div style="clear: both; float: right;">
		<a href="cancel/"><?php echo $this->cancelButton; ?></a>
		<a href="add/" style="text-decoration: none;"><?php echo $this->confirmNewButton; ?></a>
		<a href="add/<?php echo $this->id; ?>/" style="text-decoration: none;"><?php echo $this->confirmSaveButton; ?></a>
	</div>
	
	<form id="upload" action="/admin/links/upload/" method="POST" enctype="multipart/form-data"></form>
</div>