<div style="width: 400px; margin: 25px;">
	<img src="/modules/admin/images/icons/alert.png" width="64" height="64" alt="Alert!" border="0" style="float: left; margin-right: 25px;" />
	<div style="margin: 0; padding: 0;">
			<p>This action will permanently remove the link to <span class="info"><?php echo stripslashes($this->linkTitle[0]->title); ?></span>. This action cannot be undone!</p>
	</div>
	<div style="text-align: right; margin-top: 20px;">
		<form action="/admin/links/delete/<?php echo $this->id; ?>/" id="DeleteDialog" method="post">
			<span class="alert">Continue?</span>
			<a href="cancel/"><?php echo $this->cancelButton; ?></a>
			<a href="/admin/links/delete/<?php echo $this->id; ?>/"><?php echo $this->deleteButton; ?></a>
		</form>
	</div>
	<div style="clear: both;"></div>
</div>