<script type="text/javascript" src="/modules/admin/scripts/linkActions.js"></script>

<h1>Links</h1>
<div id="ToolBar">
	<a href="/admin/links/add/"><button type="button" value="add" class="blue add">Add new link</button></a>
</div>

<div id="LinkItems">
	<?php
		$this->partialLoop()->setObjectKey('linksItem');
		echo $this->partialLoop('_partials/_linksListItem.phtml', $this->links);
	?>
</div>

<div id="SaveChanges" style="clear: both; opacity: 0.0; padding-top: 20px;">
	Changes have been made, please <button id="SaveChangesBtn">Save</button> or <button id="CancelChangesBtn">Cancel</button> the changes.
</div>

<div id="PopUp">
	<div>
		<a href="save/" style="text-decoration: none;"><?php echo $this->confirmNewButton; ?></a>
		<a href="save/<?php echo $this->id; ?>/" style="text-decoration: none;"><?php echo $this->confirmSaveButton; ?></a>
		<a href="cancel/"><?php echo $this->cancelButton; ?></a>
	</div>
</div>