<script>
    // Include the class
    require([
        "dijit/_editor/plugins/ViewSource"
    ]);
	dojo.require("dojox.editor.plugins.PrettyPrint");
</script>

<h1>Add New Event</h1>

<?php echo $this->form; ?>

<input type="hidden" name="hiddenBack" id="hiddenBack" value="" />
<input type="hidden" name="hiddenFront" id="hiddenFront" value="" />