<script>
    // Include the class
    require([
        "dijit/_editor/plugins/ViewSource"
    ]);
	dojo.require("dojox.editor.plugins.PrettyPrint");
</script>

<style type="text/css">
	#cancel-element { float: right; position: absolute; top: 10px; right: 69px; }
</style>

<h1>Edit Event</h1>

<?php echo $this->form; ?>

<input type="hidden" name="hiddenBack" id="hiddenBack" value="<?php echo $this->hiddenBack; ?>" />
<input type="hidden" name="hiddenFront" id="hiddenFront" value="<?php echo $this->hiddenFront; ?>" />