<div id="ToolBar">
	<a href="/admin/events/add/"><button type="button" value="add" class="blue add">Add new event</button></a>
</div>

<div id="EventsList">
<?php
	$this->partialLoop()->setObjectKey('event');
	echo $this->partialLoop('_partials/_eventListItem.phtml', $this->eventList);
?>
</div>