<div id="ImageUploads">
	<div id="ThumbnailUpload" class="upload-space"></div>
	<div id="FlyerFrontUpload" class="upload-space"></div>
	<div id="FlyerBackUpload" class="upload-space"></div>
</div>
<div id="MainForm">
	<?php echo $this->form; // For the Edit option, we need to prepopulate the form fields ?>
</div>
<div style="clear: both; width: 100%;">
	<a href="cancel/"><?php echo $this->cancelButton; ?></a>
	<a href="save/" style="text-decoration: none;"><?php echo $this->confirmNewButton; ?></a>
	<a href="save/<?php echo $this->id; ?>/" style="text-decoration: none;"><?php echo $this->confirmSaveButton; ?></a>
</div>