<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>DJ AKALEPSE MEDIA PLAYER</title>
	
	<script type="text/javascript">
		function setTheCookie() {
			var date = new Date();
			date.setTime(date.getTime()+(1*24*60*60*1000));
			var expires = "; expires="+date.toGMTString();
			document.cookie = "playerState=external; expires=" + expires + "; path=/";
		}

		function clearCookies() {
			document.cookie = 'playerState=external; expires=Fri, 27 Jul 2001 02:47:11 UTC; path=/';
			document.cookie = 'imageHeight=; expires=Fri, 27 Jul 2001 02:47:11 UTC; path=/';
		}
	</script>

</head>
<body class="mmg" onload="setTheCookie();" onunload="clearCookies(); window.opener.returnPlayer();">
	<embed id="player" src="/media_player_cs3.swf?dataUrl=/xml/releases.xml" quality="high" bgcolor="#ffffff" base="/" width="267" height="435" name="media_player_cs3" align="middle" allowScriptAccess="always" allowFullScreen="false" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" />
	<script type="text/javascript">
		function playAlbumByIndex(i){
			document.getElementById('player').playAlbumByIndex(i);
		}
		function playAlbumByUrl(url){
			document.getElementById('player').playAlbumByUrl(url);
		}
		function playMe() {
			// playAlbumByUrl('http://akalepse.com/xml/playlist_<?php echo $this->requestId; ?>.xml');
			playAlbumByUrl('/releases/<?php echo $this->requestId; ?>/playlist.xml');
		}
		setTimeout(playMe, 1000);
	</script>
<body>

</html>