
.mmg .dijitButtonNode {
	
	
	border:1px solid #dedede;
	border-bottom:1px solid #dedede;
	padding: 0.1em 0.2em 0.2em 0.2em; 
	background: #fff url("../images/buttonEnabled.png") repeat-x top left;
}
.mmg .dijitButtonNode button { 
	border: 0px; 
	background-color: transparent; 
} 
 
.mmg .dijitButtonText {
	text-align: center; 
	padding: 0 0.3em;
}
.mmg .dijitComboBox .dijitButtonNode {
	border-width: 0px 0px 0px 1px;
}
.mmg .dijitArrowButton {
	color: #111;
}
.mmg .dijitComboButton .dijitDownArrowButton {
	padding-right:4px;
}
.dj_ff2 .mmg .dijitComboButton .dijitButtonContentsFocused,
.dj_ff2 .mmg .dijitComboButton .dijitDownArrowButtonFocused {
	border: 1px black dotted !important;
}
.mmg .dijitButtonDisabled .dijitButtonNode,
.mmg .dijitToggleButtonDisabled .dijitButtonNode,
.mmg .dijitDropDownButtonDisabled .dijitButtonNode,
.mmg .dijitComboButtonDisabled .dijitButtonNode,
.mmg .dijitComboBoxDisabled,
.mmg .dijitSpinnerDisabled,
.mmg .dijitSpinnerDisabled .dijitButtonNode {
	
	border-color: #dedede;
	background:#fafafa url("../images/buttonDisabled.png") top repeat-x;
	opacity: 0.60; 
}
.mmg .dijitButtonHover .dijitButtonNode,
.mmg .dijitButtonNodeHover,
.mmg .dijitToggleButtonHover .dijitButtonNode,
.mmg .dijitDropDownButtonHover .dijitButtonNode,
.mmg .dijitComboButtonHover .dijitButtonContents,
.mmg .dijitComboButtonDownArrowHover .dijitDownArrowButton,
.mmg .dijitComboBoxHover .dijitDownArrowButton,
.mmg .dijitSpinnerUpArrowHover .dijitUpArrowButton,
.mmg .dijitSpinnerDownArrowHover .dijitDownArrowButton {
	
	
	color:#243C5F;
	background:#fcfcfc url("../images/buttonHover.png") repeat-x top left;
}
.mmg .dijitSpinnerUpArrowActive .dijitUpArrowButton,
.mmg .dijitSpinnerDownArrowActive .dijitDownArrowButton,
.mmg .dijitButtonActive .dijitButtonNode,
.mmg .dijitToggleButtonActive .dijitButtonNode,
.mmg .dijitDropDownButtonActive .dijitButtonNode,
.mmg .dijitComboButtonActive .dijitButtonContents,
.mmg .dijitDownArrowActive .dijitDownArrowButton,
.mmg .dijitComboBoxActive .dijitDownArrowButton,
.mmg .dijitStackController .dijitToggleButtonChecked .dijitButtonNode {
	
	border-color:#dedede;
	background: #f5f5f5 url("../images/buttonActive.png") top left repeat-x;
}
.mmg .dijitArrowButtonInner {
	background:url("../images/spriteArrows.png") no-repeat left top;
	width: 11px;
}
.mmg .dijitUpArrowButton .dijitArrowButtonInner { 
	background:url("../images/spriteArrows.png") no-repeat -22px top; 
	width: 11px;
}
.dj_ie6 .mmg .dijitArrowButtonInner {
	background:url("../images/spriteArrows.gif") no-repeat left top;
	width: 11px;
}
.dj_ie6 .mmg .dijitUpArrowButton .dijitArrowButtonInner {
	background:url("../images/spriteArrows.gif") no-repeat -22px top;
	width: 11px;
}
