
.mmg .dijitToggleButton .dijitCheckBox,
.mmg .dijitToggleButton .dijitCheckBoxIcon {
	background-image: url('../images/spriteCheckbox.gif');
}
.mmg .dijitCheckBox,
.mmg .dijitCheckBoxIcon {		
	background-image: url('../images/spriteCheckbox.gif'); 
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	margin: 0;
	padding: 0;
}
.mmg .dijitCheckBox,
.mmg .dijitToggleButton .dijitCheckBoxIcon {
	
	background-position: -16px;
}
.mmg .dijitCheckBoxChecked,
.mmg .dijitToggleButtonChecked .dijitCheckBoxIcon {
	
	background-position: 0px;
}
.mmg .dijitCheckBoxDisabled {
	
	background-position: -48px;
}
.mmg .dijitCheckBoxCheckedDisabled {
	
	background-position: -32px;
}
.mmg .dijitCheckBoxHover {
	
	background-position: -80px;
}
.mmg .dijitCheckBoxCheckedHover {
	
	background-position: -64px;
}
