.mmg .dijitComboBox .dijitArrowButton .dijitArrowButtonInner {
	background:url("../images/spriteArrows.png") no-repeat left center;
	width: 11px;
}
.dj_ie6 .mmg .dijitComboBox .dijitArrowButton .dijitArrowButtonInner {
	background:url("../images/spriteArrows.gif") no-repeat left center;
}
.mmg .dijitComboBoxHover .dijitArrowButtonInner {
	
}
