
.mmg .dijitInputField INPUT,
.mmg .dijitTextBox,
.mmg .dijitComboBox,
.mmg .dijitSpinner {
	margin: 0em 0.1em;
}
.mmg .dijitTextBox,
.mmg .dijitComboBox,
.mmg .dijitSpinner,
.mmg .dijitInlineEditor input,
.mmg .dijitTextArea {
	
	background-color :#fff url("../images/validationInputBg.png") repeat-x top left;
	border:1px solid #d3d3d3;
	line-height: normal;
}
.dj_ie6 .mmg .dijitTextBox,
.dj_ie6 .mmg .dijitComboBox,
.dj_ie6 .mmg .dijitSpinner,
.dj_ie6 .mmg .dijitInlineEditor input,
.dj_ie6 .mmg .dijitTextArea {
	background:#fff url('../images/validationInputBg.gif') repeat-x top left;
}
.mmg .dijitComboBox .dijitButtonNode {
	padding: 0 0.2em;
}
.mmg .dijitComboBox .dijitButtonNode,
.mmg .dijitSpinner .dijitButtonNode {
	
	border-color: #d3d3d3;
	border-left: 1px solid #d3d3d3;
}
.mmg .dijitTextBoxDisabled,
.mmg .dijitComboBoxDisabled,
.mmg .dijitSpinnerDisabled,
.mmg .dijitTextAreaDisabled {
	color: gray;
}
.dj_webkit .mmg .dijitTextBoxDisabled,
.dj_webkit .mmg .dijitComboBoxDisabled,
.dj_webkit .mmg .dijitSpinnerDisabled,
.dj_webkit .mmg .dijitTextareaDisabled {
	color: #eee;
}
.mmg .dijitTextBoxFocused,
.mmg .dijitComboBoxFocused,
.mmg .dijitSpinnerFocused, .mmg .dijitSpinnerUpArrowActive, .mmg .dijitSpinnerDownArrowActive,
.mmg .dijitTextAreaFocused {
	
	border-color:#b3b3b3;
}
.mmg .dijitComboBoxFocused .dijitButtonNode,
.mmg .dijitSpinnerFocused .dijitButtonNode,
.mmg .dijitSpinnerUpArrowActive .dijitButtonNode,
.mmg .dijitSpinnerDownArrowActive .dijitButtonNode {
	border-left-color:#d3d3d3;
}
.mmg .dijitSpinnerFocused .dijitDownArrowButton,
.mmg .dijitSpinnerUpArrowActive .dijitDownArrowButton,
.mmg .dijitSpinnerDownArrowActive .dijitDownArrowButton {
	border-top-color:#d3d3d3;
}
.mmg .dijitError {
	border-color:#b3b3b3;
	background-color:#f9f7ba;
	background-image:none;
}
.dj_ie6 .mmg .dijitError INPUT {
	
	background-color:#f9f7ba !important;
}
.mmg .dijitErrorFocused {
	background-color:#ff6;
	background-image:none;
}
.dj_ie6 .mmg .dijitErrorFocused INPUT {
	
	background-color:#ff6 !important;
}
.mmg .dijitValidationIcon {
	
	width: 16px;
	background: transparent url('../images/warning.png') no-repeat center center;
}
.mmg .dijitComboBoxHighlightMatch {
	background-color:#d3d3d3;
}
