
.mmg .dijitToggleButton .dijitRadio,
.mmg .dijitToggleButton .dijitRadioIcon {
	background-image: url('../images/spriteRadio.gif');
}
.mmg .dijitRadio,
.mmg .dijitRadioIcon	{		
	background-image: url('../images/spriteRadio.gif'); 
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	margin: 0;
	padding: 0;
}
.mmg .dijitRadio,
.mmg .dijitToggleButton .dijitRadioIcon {
	
	background-position: -16px;
}
.mmg .dijitRadioChecked,
.mmg .dijitToggleButtonChecked .dijitRadioIcon {
	
	background-position: 0px;
}
.mmg .dijitRadioDisabled {
	
	background-position: -48px;
}
.mmg .dijitRadioCheckedDisabled {
	
	background-position: -32px;
}
.mmg .dijitRadioHover {
	
	background-position: -80px;
}
.mmg .dijitRadioCheckedHover {
	
	background-position: -64px;
}
