
.dijitRtl .mmg .dijitSliderProgressBarH,
.dijitRtl .mmg .dijitSliderRemainingBarH,
.dijitRtl .mmg .dijitSliderLeftBumper,
.dijitRtl .mmg .dijitSliderRightBumper,
.dijitRtl .mmg .dijitSliderTopBumper {
	background-position: top right;
}
.dijitRtl .mmg .dijitSliderProgressBarV,
.dijitRtl .mmg .dijitSliderRemainingBarV,
.dijitRtl .mmg .dijitSliderBottomBumper {
	background-position: bottom right;
}
.dijitRtl .mmg .dijitSliderLeftBumper {
	border-left-width: 0px;
	border-right-width: 1px;
}
.dijitRtl .mmg .dijitSliderRightBumper {
	border-left-width: 1px;
	border-right-width: 0px;
}
.dijitRtl .mmg .dijitSliderIncrementIconH {
	background:url('../images/spriteRoundedIconsSmall.png') no-repeat left top;
	#background:url('../images/spriteRoundedIconsSmall.gif') no-repeat left top;
}
.dijitRtl .mmg .dijitSliderDecrementIconH {
	background:url('../images/spriteRoundedIconsSmall.png') no-repeat -30px top;
	#background:url('../images/spriteRoundedIconsSmall.gif') no-repeat -30px top;
}
