
.mmg .dijitSliderProgressBarH {
	border-color: #aab0bb;
	background: #c0c2c5 url("../images/sliderFull.png") repeat-x top left;
}
.mmg .dijitSliderProgressBarV {
	border-color: #aab0bb;
	background: #c0c2c5 url("../images/sliderFullVertical.png") repeat-y bottom left;
}
.mmg .dijitSliderFocused .dijitSliderProgressBarH,
.mmg .dijitSliderFocused .dijitSliderLeftBumper {
	background-image:url("../images/sliderFullFocus.png");
}
.mmg .dijitSliderFocused .dijitSliderProgressBarV,
.mmg .dijitSliderFocused .dijitSliderBottomBumper {
	background-image:url("../images/sliderFullVerticalFocus.png");
}
.mmg .dijitSliderRemainingBarV {
	border-color: #b4b4b4;
	background: #dcdcdc url("../images/sliderEmptyVertical.png") repeat-y bottom left;
}
.mmg .dijitSliderRemainingBarH {
	border-color: #b4b4b4;
	background: #dcdcdc url("../images/sliderEmpty.png") repeat-x top left;
}
.mmg .dijitSliderBar {
	border-style: solid;
	outline:1px;
	
}
.mmg .dijitSliderFocused .dijitSliderBar {
	border-color:#727272;	
}
.dijit_a11y .dijitSliderProgressBar {
	background-color:#333 !important;
}
.mmg .dijitSliderImageHandleH {
	border:0px;
	width:15px;
	height:18px;
	background:url("../images/preciseSliderThumb.png") no-repeat center top;
	#background:url("../images/preciseSliderThumb.gif") no-repeat center top;
	cursor:pointer;
}
.mmg .dijitSliderFocused .dijitSliderImageHandleH {
	background-image:url("../images/preciseSliderThumbFocus.png");
	#background-image:url("../images/preciseSliderThumbFocus.gif");
}
.mmg .dijitSliderLeftBumper {
	border-left-width: 1px;
	border-color: #aab0bb;
	background: #c0c2c5 url("../images/sliderFull.png") repeat-x top left;
}
.mmg .dijitSliderRightBumper {
	background: #dcdcdc url("../images/sliderEmpty.png") repeat-x top left;
	border-color: #b4b4b4;
	border-right-width: 1px;
}
.mmg .dijitSliderImageHandleV {
	border:0px;
	width:20px;
	height:15px;
	background:url("../images/sliderThumb.png") no-repeat center center;
	#background:url("../images/sliderThumb.gif") no-repeat center center;
	cursor:pointer;
}
.mmg .dijitSliderFocused .dijitSliderImageHandleV {
	background-image:url("../images/sliderThumbFocus.png");
	#background-image:url("../images/sliderThumbFocus.gif");
}
.mmg .dijitSliderBottomBumper {
	border-bottom-width: 1px;
	border-color: #aab0bb;
	background: #c0c2c5 url("../images/sliderFullVertical.png") repeat-y bottom left;
}
.mmg .dijitSliderTopBumper {
	background: #dcdcdc url("../images/sliderEmptyVertical.png") repeat-y top left;
	border-color: #b4b4b4;
	border-top-width: 1px;
}
.mmg .dijitSliderIncrementIconH,
.mmg .dijitSliderIncrementIconV {
	background:url('../images/spriteRoundedIconsSmall.png') no-repeat -45px top;
	#background:url('../images/spriteRoundedIconsSmall.gif') no-repeat -45px top;
	width:15px; height:15px;
	cursor:pointer;
}
.mmg .dijitSliderIncrementIconH {
	background:url('../images/spriteRoundedIconsSmall.png') no-repeat -30px top;
	#background:url('../images/spriteRoundedIconsSmall.gif') no-repeat -30px top;
}
.mmg .dijitSliderDecrementIconH,
.mmg .dijitSliderDecrementIconV {
	width:15px;
	height:15px;
	cursor:pointer;
	background:url('../images/spriteRoundedIconsSmall.png') no-repeat -15px top;
	#background:url('../images/spriteRoundedIconsSmall.gif') no-repeat -15px top;
}
.mmg .dijitSliderDecrementIconH { 
	background:url('../images/spriteRoundedIconsSmall.png') no-repeat 0px top; 
	#background:url('../images/spriteRoundedIconsSmall.gif') no-repeat 0px top; 
}
.mmg .dijitSliderButtonInner {
	visibility:hidden;
}
.mmg .dijitSliderDisabled {
	opacity:0.6 !important;
}
.dj_ie .mmg .dijitSliderDisabled,
.dj_ie .mmg .dijitSliderDisabled .dijitRuleContainer,
.dj_ie .mmg .dijitSliderDisabled .dijitSliderRemainingBar,
.dj_ie .mmg .dijitSliderDisabled .dijitSliderProgressBar {
	filter: gray() alpha(opacity=40);
}
