<script>
    // Include the class
    require([
        "dijit/_editor/plugins/ViewSource"
    ]);
	dojo.require("dojox.editor.plugins.PrettyPrint");
</script>

<h1>Add Gallery</h1>

<?php echo $this->form; ?>

<div id="CreditCaption">
	<div style="float: left; width: 100px; height: 100px; background-color: #cccccc;">
		<img id="CCImage" src="" width="100" height="100" alt="0" border="0" />
	</div>
	<div style="float: left; width: 450px; margin-left: 15px;">
		Caption <input type="text" id="CaptionInput" name="caption" style="width: 100%; margin-bottom: 10px;" /><br />
		Credit: <input type="text" id="CreditInput" name="credit" style="width: 100%;" /><br />
	</div>
	<div style="clear: both;">
		Previous | Next
		<button id="CCSave" style="float: right;">Save</button>
	</div>
</div>