<h1>Galleries</h1>

<div id="ToolBar">
	<button id="Add"><a href="add/">Add Gallery</a></button>
</div>

<?php
	$this->partialLoop()->setObjectKey('gallery');
	echo $this->partialLoop('_partials/_galleriesItem.phtml', $this->entries);
?>