<script>
    // Include the class
    require([
        "dijit/_editor/plugins/ViewSource"
    ]);
	dojo.require("dojox.editor.plugins.PrettyPrint");
</script>

<h1>Post New Article</h1>

<?php echo $this->form; ?>