<script>
    // Include the class
    require([
        "dijit/_editor/plugins/ViewSource"
    ]);
    require(["dijit/_editor/plugins/LinkDialog"]);
	dojo.require("dojox.editor.plugins.PrettyPrint");
</script>

<h1>Edit Post</h1>

<?php echo $this->form; ?>