<h1>News Items</h1>

<div id="ToolBar">
	<button><a href="add/">Post New Article</a></button>
</div>

<?php
	$this->partialLoop()->setObjectKey('entry');
	echo $this->partialLoop('_partials/_newsItem.phtml', $this->newsItems);
?>