 
.mmg .dijitBorderContainer {
	background-color: #fcfcfc;
	padding: 5px;
}
.mmg .dijitSplitContainer-child,
.mmg .dijitBorderContainer-child {
	
    border: 1px #ccc solid;
}
.mmg .dijitBorderContainer-dijitTabContainerTop,
.mmg .dijitBorderContainer-dijitTabContainerBottom,
.mmg .dijitBorderContainer-dijitTabContainerLeft,
.mmg .dijitBorderContainer-dijitTabContainerRight {
	
	 border: none;
}
.mmg .dijitBorderContainer-dijitBorderContainer {
	
	border: none;
	padding: 0px;
}
.mmg .dijitSplitterH,
.mmg .dijitGutterH {
	background:#FCFCFC;
	border:0;
	border-left:0px solid #d3d3d3;
	border-right:0px solid #d3d3d3;
	height:5px;
}
.mmg .dijitSplitterH .dijitSplitterThumb {
	background:url("../images/splitContainerSizerH-thumb.png") no-repeat;
	top:1px;
	width:19px;
	height:2px;
}
.mmg .dijitSplitterV,
.mmg .dijitGutterV {
	background:#FCFCFC;
	border:0;
	border-top:0px solid #d3d3d3;
	border-bottom:0px solid #d3d3d3;
	width:5px;
}
.mmg .dijitSplitterV .dijitSplitterThumb {
	background:url("../images/splitContainerSizerV-thumb.png") no-repeat;
	left:1px;
	height:19px;
	width:5px;
}
.mmg .dijitSplitterActive {
	font-size: 1px;
	background-image: none;
	background-color: #aaa;
	-moz-opacity: 0.6;
	opacity: 0.6;
	filter: Alpha(Opacity=60);
	margin: 0;
}
