
.mmg .dijitContentPane {
    padding: 0px;
}
.mmg .dijitTabContainerTop-dijitContentPane,
.mmg .dijitTabContainerLeft-dijitContentPane,
.mmg .dijitTabContainerRight-dijitContentPane,
.mmg .dijitTabContainerBottom-dijitContentPane,
.mmg .dijitAccordionContainer-dijitContentPane {
    background-color: #fff;
    padding: 5px;
}
.mmg .dijitSplitContainer-dijitContentPane,
.mmg .dijitBorderContainer-dijitContentPane {
    background-color: #fff;		
    padding: 5px;
}
