 
 
.mmg .dijitTabPaneWrapper {
	background:#fff;
	border:1px solid #ccc;
	margin: 0;
	padding: 0;
}
.mmg .dijitTabInnerDiv {
	padding:0px 3px 0px 0px;
	margin: 0 0 0 4px;
	background: url("../images/tabContainerSprite.gif") no-repeat;
	background-position: right -400px;
}
.mmg .dijitTab {
	line-height:normal;
	margin:0 2px 0 0;	
	padding:0px;
	background: url("../images/tabContainerSprite.gif") no-repeat 0 -300px;
	color: #6d6d6d;
	border-bottom: 1px #ccc solid;
}
.mmg .dijitTabInnerDiv .dijitTabContent {
	padding:5px 3px 4px 4px;
	background: url("../images/tabContainerSprite.gif") repeat-x 0 -350px;
	position: relative;
}
.dijitTabSpacer {
	font-size: 1px;
}
.mmg .dijitTabHover {
	color: #243C5F;
	background: url("../images/tabContainerSprite.gif") no-repeat 0px -150px;
}
.mmg .dijitTabHover .dijitTabInnerDiv {
	background: url("../images/tabContainerSprite.gif") no-repeat right -250px;
}
.mmg .dijitTabHover .dijitTabInnerDiv .dijitTabContent {
	background: url("../images/tabContainerSprite.gif") repeat-x 0 -200px;
}
.mmg .dijitTabChecked,
.mmg .dijitTabCloseButtonChecked
{
	
	background: url("../images/tabContainerSprite.gif") no-repeat 0px -0px;
}
.mmg .dijitTabChecked .dijitTabInnerDiv {
	background: url("../images/tabContainerSprite.gif") no-repeat right -100px;
}
.mmg .dijitTabChecked .dijitTabInnerDiv .dijitTabContent {
	background: url("../images/tabContainerSprite.gif") repeat-x 0 -50px;
	color: #243C5F !important;
}
.mmg .dijitTabContainerTabListNested {
	background: #FDFDFD;
	border: none;
	margin-bottom: 0px;		
}
.mmg .dijitTabContainerTabListNested .dijitTab {
	background: none;
	border: none;
	top: 0px;	
}
.mmg .dijitTabContainerTabListNested .dijitTab .dijitTabInnerDiv,
.mmg .dijitTabContainerTabListNested .dijitTab .dijitTabContent {
	background: none;
}
.mmg .dijitTabContainerTabListNested .dijitTabHover .dijitTabContent .tabLabel {
	text-decoration: underline;
}
.mmg .dijitTabContainerTabListNested .dijitTabChecked .tabLabel {
	text-decoration: underline;
	font-weight: bold;
}
.mmg .dijitTabContainerSpacerNested {
	
	height: 0px;
	border-bottom: 0px;
}
.mmg .dijitTabPaneWrapperNested {
	border: none;	
}
.mmg .dijitTab .closeImage {
	background: url("../images/spriteRoundedIconsSmall.png") no-repeat -60px top;
	width: 15px;
	height: 15px;
}
.dj_ie6 .dijitTab .closeImage {
	background: url("../images/spriteRoundedIconsSmall.gif") no-repeat -60px top;
}
.mmg .dijitTab .closeButton-hover .closeImage {
	background: url("../images/spriteRoundedIconsSmall.png") no-repeat -60px -15px;
}
.dj_ie6 .mmg .dijitTab .closeButton-hover .closeImage {
	background: url("../images/spriteRoundedIconsSmall.gif") no-repeat -60px -15px;
}
.mmg .dijitTab .dijitTabButtonSpacer {
	height: 15px;
	width: 1px;
}
.mmg .dijitTabContainerTop-tabs {
	margin-bottom: -1px;
	border-color: #ccc;
	padding-left: 3px;
}
.mmg .dijitTabContainerTop-container {
	border-top: none;
}
.mmg .dijitTabContainerTop-tabs .dijitTabChecked {
	border-bottom-color: #f8f8f8;
}
.mmg .dijitTabContainerTopStrip {
	border: 1px solid #ccc;
	padding-top: 2px;
	padding-left: 3px;
}
.mmg .dijitTabContainerTopStrip {
	background: #f2f2f2;
}
.mmg .dijitTabContainerBottom-tabs {
	margin-top: -1px;
	border-color: #ccc;
	padding-left: 3px;
}
.mmg .dijitTabContainerBottom-container {
	border-bottom: none;
}
.mmg .dijitTabContainerBottom-tabs .dijitTab {
	border-bottom: none;
	border-top: 1px solid #ccc;
	background: url("../images/tabBottomEnabledSpriteLR.gif") no-repeat bottom left;
}
.mmg .dijitTabContainerBottom-tabs .dijitTabChecked {
	border-top-color:#f8f8f8;
}
.mmg .dijitTabContainerBottom-tabs .dijitTabInnerDiv .dijitTabContent {
	padding-top: 4px;
	padding-bottom: 5px;
	background: url("../images/tabBottomEnabledC.gif") repeat-x bottom left;
}
.mmg .dijitTabContainerBottom-tabs .dijitTabInnerDiv {
	background: url("../images/tabBottomEnabledSpriteLR.gif") no-repeat bottom right;
}
.mmg .dijitTabContainerBottom-tabs .dijitTabHover {
	color: #243C5F;
	background: url("../images/tabBottomHoverSpriteLR.gif") no-repeat bottom left;
}
.mmg .dijitTabContainerBottom-tabs .dijitTabHover .dijitTabInnerDiv {
	background: url("../images/tabBottomHoverSpriteLR.gif") no-repeat bottom right;
}
.mmg .dijitTabContainerBottom-tabs .dijitTabHover .dijitTabInnerDiv .dijitTabContent {
	background: url("../images/tabBottomHoverC.gif") repeat-x bottom left;
}
.mmg .dijitTabContainerBottom-tabs .dijitTabChecked,
.mmg .dijitTabContainerBottom-tabs .dijitTabCloseButtonChecked
{
	
	background: url("../images/tabBottomActiveSpriteLR.gif") no-repeat bottom left;
}
.mmg .dijitTabContainerBottom-tabs .dijitTabChecked .dijitTabInnerDiv {
	background: url("../images/tabBottomActiveSpriteLR.gif") no-repeat bottom right;
}
.mmg .dijitTabContainerBottom-tabs .dijitTabChecked .dijitTabInnerDiv .dijitTabContent {
	background: url("../images/tabBottomActiveC.gif") repeat-x bottom left;
}
.mmg .dijitTabContainerBottomStrip {
	padding-bottom: 2px;
	padding-left: 3px;	
	border: 1px solid #ccc;
}
.mmg .dijitTabContainerBottomStrip {
	background: #f2f2f2;
}
.mmg .dijitTabContainerBottom-spacer,
.mmg .dijitTabContainerTop-spacer {
	height: 2px;
	border: 1px solid #ccc;
	background: #f8f8f8;
}
.mmg .dijitTabContainerRight-tabs {
	margin-left: -1px;
	border-color: #ccc;
	padding-top: 3px;
}
.mmg .dijitTabContainerRight-container {
	border-right: none;
}
.mmg .dijitTabContainerRight-tabs .dijitTab {
	border-bottom: none;
	border-left: 1px solid #ccc;
	border-bottom: 1px solid #dedede !important;
}
.dj_ie .mmg .dijitTabContainerRight-tabs .dijitTabInnerDiv {
	border-bottom: solid #fff 1px;
}
.mmg .dijitTabContainerRight-tabs .dijitTabChecked {
	border-left-color: #f8f8f8;
}
.mmg .dijitTabContainerRight-tabs .dijitTabChecked {
	background: url("../images/tabRightChecked.gif") no-repeat left top !important;
}
.dj_ie .mmg .dijitTabContainerRight-tabs .dijitTabChecked .dijitTabInnerDiv,
.dj_ie .mmg .dijitTabContainerRight-tabs .dijitTabCheckedHover .dijitTabInnerDiv {
	border-bottom: solid #efefef 1px;
}
.mmg .dijitTabContainerRight-tabs .dijitTab {
	background: url("../images/tabContainerSprite.gif") no-repeat left -350px;
}
.mmg .dijitTabContainerRight-tabs .dijitTabHover .dijitTab {
	background: url("../images/tabContainerSprite.gif") no-repeat left -200px;
}
.mmg .dijitTabContainerRightStrip {
	padding-right: 2px;
	padding-top: 3px;	
	border: 1px solid #ccc;
}
.mmg .dijitTabContainerRightStrip {
	background: #f2f2f2;
}
.mmg .dijitTabContainerLeft-tabs {
	margin-right: -1px;
	border-color: #ccc;
	padding-top: 3px;
}
.mmg .dijitTabContainerLeft-container {
	border-left: none;
}
.mmg .dijitTabContainerLeft-tabs .dijitTab {
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #dedede;
}
.mmg .dijitTabContainerLeft-tabs .dijitTabChecked {
	border-right: 1px solid #f8f8f8;
}
.mmg .dijitTabContainerLeft-tabs .dijitTabInnerDiv {
	background: url("../images/tabContainerSprite.gif") no-repeat right -350px;
}
.mmg .dijitTabContainerLeft-tabs .dijitTabHover .dijitTabInnerDiv {
	background: url("../images/tabContainerSprite.gif") no-repeat right -200px;
}
.mmg .dijitTabContainerLeft-tabs .dijitTabChecked .dijitTabInnerDiv,
.mmg .dijitTabContainerLeft-tabs .dijitTabCheckedHover .dijitTabInnerDiv {
	background: url("../images/tabLeftChecked.gif") no-repeat right top;
}
.dj_ie .mmg .dijitTabContainerLeft-tabs .dijitTabChecked .dijitTabInnerDiv,
.dj_ie .mmg .dijitTabContainerLeft-tabs .dijitTabCheckedHover .dijitTabInnerDiv {
	border-bottom: solid #efefef 1px;
}
.dj_ie .mmg .dijitTabContainerLeft-tabs .dijitTabInnerDiv {
border-bottom: solid #fff 1px;
}
.mmg .dijitTabContainerLeftStrip {
	padding-left: 2px;
	padding-top: 3px;	
	border: 1px solid #ccc;
}
.mmg .dijitTabContainerLeftStrip {
	background: #f2f2f2;
}
.mmg .dijitTabContainerLeft-tabs .dijitTab,
.mmg .dijitTabContainerRight-tabs .dijitTab {
	margin-right:auto;
	margin-bottom:2px;	
}
.mmg .dijitTabContainerLeft-spacer,
.mmg .dijitTabContainerRight-spacer {
	width: 2px;
	border: 1px solid #ccc;
	background: #f8f8f8;
}
.mmg .dijitTabContainerTop-dijitContentPane .dijitTabContainerTop-tabs {
	border-left: 0px solid #ccc;
	border-top: 0px solid #ccc;
	border-right: 0px solid #ccc;
	padding-top: 0px;
	padding-left: 0px;	
}
