.dijitRtl .mmg .dijitTab {
	margin-right:0;
	margin-left:2px;		
}
.dijitRtl .mmg .dijitTabContainerTopStrip,
.dijitRtl .mmg .dijitTabContainerBottomStrip {
	padding-right: 3px;
	padding-left: 0px;
}
.dijitRtl .mmg .dijitTabContainerTop-tabs {
	padding-left: auto;
	padding-right: 3px;
}
.dijitRtl .mmg .dijitTabContainerBottom-tabs {
	padding-left: auto;
	padding-right: 3px;
}
.dijitRtl .mmg .dijitTabInnerDiv {
	padding-left: 3px;
	padding-right: 4px;
}
.dijitRtl .mmg .dijitTabPaneWrapper {
	#zoom: 1;
}
.dj_ie-rtl .mmg .dijitTabContainerLeft-tabs {
	margin-left: 0px !important;
}
.dj_ie-rtl .mmg .dijitTabContainerRight-tabs {
	margin-right: 0px !important;
}
.dijitRtl .mmg .dijitTabContainerLeft-tabs .dijitTab,
.dijitRtl .mmg .dijitTabContainerRight-tabs .dijitTab {
	margin-left:0px;
}
.dj_ie-rtl .mmg .dijitTab .dijitTabInnerDiv{
	width : 1%;
}
