<div id="PhotoHolder">
	<?php
		$this->partialLoop()->setObjectKey('image');
		echo $this->partialLoop('_partials/_galleriesImageItem.phtml', $this->images);
	?>
	<div style="clear: both;"></div>
</div>

<br /><span><a href="/photos/"><span class="button">Back to Galleries</span></a></span>