<div id="SlideShowNav" style="margin-bottom: 8px;">
	<a href="play/"><img src="/images/buttons/slideshow_play.gif" id="Play" width="100" height="11" border="0" style="float: left;" /></a>
	<a href="close/"><img src="/images/buttons/slideshow_close.gif" id="ShowClose" width="40" height="11" border="0" style="float: right;" /></a>
	<div style="clear: both;"></div>
</div>
<div id="SlideImageHolder">
	<img src="<?php echo $this->imageSource; ?>" id="SlideImage" border="0" alt="<?php echo $this->imageCaption; ?>" />
	<a href="previous/"><div id="LeftSideNav">
		<div id="LeftSideNavArrow" class="navArrow">
			<img src="/images/buttons/ArrowLeft.png" width="37" height="33" alt="Next" border="0" />
		</div>
	</div></a>
	<a href="next/"><div id="RightSideNav">
		<div id="RightSideNavArrow" class="navArrow">
			<img src="/images/buttons/ArrowRight.png" width="37" height="33" alt="Next" border="0" />
		</div>
	</div></a>
</div>
<div id="SlideInfo"><div id="CaptionHolder"><?php echo $this->imageStartCaption; echo $this->imageCaption; ?></div><p id="ImageCount">Image <?php echo $this->image; ?> of <?php echo $this->totalImages; ?></p></div>