<?php echo $this->doctype() ?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<script type="text/javascript" src="/scripts/dojo/dojo.js"></script>
	<?php echo $this->headTitle(); ?>
	<?php echo $this->headScript(); ?>
	<script type="text/javascript" src="/scripts/mediaPlayerPopOut.js"></script>
	<script type="text/javascript" src="/scripts/embed_code.js"></script>
	<link rel="stylesheet" type="text/css" href="/scripts/dijit/themes/mmg/mmg.css" />
	<?php $this->headLink()->prependStylesheet('/styles/core.css') ?>
	<?php echo $this->headLink(); ?>
	<script type="text/javascript" src="http://use.typekit.com/vcl3dvj.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
	<script type="text/javascript">
	
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-16692286-1']);
	  _gaq.push(['_trackPageview']);
	
	  (function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	
	</script>
</head>
<body class="mmg">
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=277248465626339";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>
	<div id="Page">
		<div id="Nav">
			<?php echo $this->navigation()->menu(); ?>
		</div>
		<div id="Header">
			<div style="border-bottom: 1px solid #fff; height: 114px; float: left; width: 335px;">
				<a href="/"><img src="/images/headers/logo_rev8.png" id="Logo" width="330" height="160" border="0" alt="DJ Akalepse Logo" /></a>
			</div>
			<div style="float: left;">
				<img src="/images/headers/<?php echo $this->headerImage; ?>.png" id="HeaderImage" width="528" height="70" border="0" alt="" />
			</div>
			<div style="border-bottom: 1px solid #fff; height: 114px; float: left; width: 37px;">&nbsp;</div>
			<div style="clear: both;"></div>
		</div>
		<div id="Content">
			<div id="Left">
				<div id="MediaPlayer">
					<div id="PlayerOnly" style="height: 435px;">
						<embed id="player" src="/media_player_cs3.swf?dataUrl=/xml/releases.xml?nocache=<?php echo time(); ?>" wmode="opaque" quality="high" bgcolor="#ffffff" base="/" width="267" height="435" name="media_player_cs3" align="middle" allowScriptAccess="sameDomain" allowFullScreen="false" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" />
					</div>
					<p>
						<a href="/popout/" id="ExternalPlayer">
							<img src="/images/buttons/externalize_tab.png" style="float: right;" width="112" height="19" alt="Externalize Player" border="0" /></a>
						<a href="/code/" id="EmbedCode">
							<img src="/images/buttons/embed_code.png" style="float: right; margin-right: 10px;" width="71" height="19" alt="Player Embed Code" border="0" /></a>
					</p>
				</div>
				<div id="NextEvent">
					<div class="infoBox">
						<div class="infoBoxHeader">
							<img src="/images/headers/next_event.png" width="130" height="30" border="0" alt="Next Event" />
							<span class="eventDate"><?php echo date('F j', strtotime($this->nextEvent()->date)); ?></span>
						</div>
						<div class="infoBoxBody" style="text-align: center;">
									<div id="HiddenFlyerContainer"><a href="/events/<?php echo $this->nextEvent()->id; ?>/"><img id="HiddenFlyer" src="/images/events/<?php echo $this->nextEvent()->flyerfront; ?>" alt="Small Flyer 1" width="250" border="0"></a></div>
									<h4><a href="/events/<?php echo $this->nextEvent()->id; ?>/"><?php echo $this->nextEvent()->title; ?></a></h4>
									<b><?php echo stripslashes($this->nextEvent()->who); ?></b><br />
									<?php echo stripslashes($this->nextEvent()->venue); ?><br />
									<?php echo stripslashes($this->nextEvent()->address); ?><br />
									<?php echo stripslashes($this->nextEvent()->cover); ?><br />
										<p style="margin-top: 5px; text-align: right; font-size: 10px;"><a href="/events/<?php echo $this->nextEvent()->id; ?>/">See the full event info</a></p>
						</div>
					</div>
				</div>

				<div id="MailingList2">
					<div class="infoBox">
						<div class="infoBoxHeader">
							<img src="/images/headers/mailing_list.png" width="130" height="30" border="0" alt="Mailing List" />
						</div>
						<div class="infoBoxBody" style="font-size: 11px;">
							<form action="http://akalepse.us4.list-manage1.com/subscribe/post?u=8a19f69b5651a26d05ed482a6&amp;id=5fc7a9a27d" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
								<div class="mc-field-group">
									<input type="email" onclick="this.value='';" value="Enter your email address" name="EMAIL" class="required email" id="mce-EMAIL">
									<input type="hidden" name="group[4017][1]" id="mce-AFFILIATION" value="1" />
									Sign up for the DJ Akalepse mailing list to keep up to date with news and events.
									<input type="submit" value="" name="subscribe" id="mc-embedded-subscribe" class="button" style="">
								</div>
							</form>
						</div>
						<div style="clear: both;"></div>
					</div>
				</div>
				<a href="http://www.facebook.com/akalepse/" target="_blank"><img src="/images/buttons/facebook.png" width="24" height="24" border="0" alt="Facebook" /></a>
				<a href="http://twitter.com/akalepse/" target="_blank"><img src="/images/buttons/twitter.png" width="24" height="24" border="0" alt="Twitter" /></a>
			</div>
			<div id="Right">
				<p id="Breadcrumbs"><?php echo $this->navigation()->breadcrumbs()->setMinDepth(1)->setLinkLast(false)->setSeparator(" » "); ?></p>
				<?php echo $this->layout()->content ?>
				<div style="margin-top: 40px; border-top: 1px solid #666; padding-top: 10px;">
					<div style="float: right; width: 88px;">
						<a href="https://twitter.com/share" class="twitter-share-button" data-via="akalepse" data-dnt="true">Tweet</a>
					</div>
					<div style="float: right; width: 58px; margin-right: 30px;">
						<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
						<fb:like send="false" layout="button_count" width="450" show_faces="false"></fb:like>
					</div>
				</div>
			</div>
			<div style="clear: both"></div>
		</div>
		<div id="Footer">
			<p>All content &copy;<?php echo date('Y'); ?> Akalepse.com. All rights reserved.<br />
			Web development by <a href="http://musicmediagroup.net" target="_blank">Music Media Group, Inc.</a> and <a href="http://mattshaw.net" target="_blank">Matt Shaw</a>.</p>
		</div>
	</div> 
	<script type="text/javascript">
        function playAlbumByIndex(i){
            document.getElementById('player').playAlbumByIndex(i);
        }
        function playAlbumByUrl(url){
            document.getElementById('player').playAlbumByUrl(url);
        }
    </script>
</body>
</html>