html {
	-webkit-font-smoothing: antialiased;
	overflow-y: scroll;
	}

body {
	background-color: #FFF;
	background: #F2F2F2 url(/modules/admin/images/backgrounds/header.gif) repeat-x;
	margin: 0;
	}

p {
	font-size: .8em;
	line-height: 1.2em;
	color: #666;
	text-align: justify;
	margin-bottom: .3em;
	}

h4 {
	font-style: italic;
	font-weight: normal;
	font-size: .9em;
	margin-bottom: .3em;
	}

h3 {
	font-family: "ff-meta-serif-web-pro-1","ff-meta-serif-web-pro-2";
	font-style: normal;
	font-weight: normal;
	font-size: 1.3em;
	color: rgb(41, 79, 115);
	margin: 0;
	}

h2 {}
	
h1 {
	font: normal 36px "quatro-1", "quatro-2", "Lucida Grande", helvetica, sans-serif;
	color: rgb(41, 79, 115);
	}

#Header {
	height: 65px;
	margin-bottom: 25px;
	border-bottom: 9px solid #294F73;
	padding-left: 50px;
	margin-top: 15px;
	}

#ConditionalInfo {
	width: 200px;
	position: absolute;
	height: 26px;
	top: 15px;
	right: 15px;
}

#Logout {
	float: right;
	position: absolute;
	top: 0;
	right: 0;
}

p.managingInfo {
	color: #fff;
	font: normal 11px 'Trebuchet MS';
	text-align: right;
	margin: 0 70px 0 0;
	}

#Content {
	padding-left: 50px;
	width: 777px;
	margin-bottom: 30px;
	}

#toggletab-description-Editor {
	border: 1px solid #000;
}

#toggletab-synopsis-Editor {
	border: 1px solid #000;
}

button {  
	display: inline-block;
	padding: 3px 6px;
	font-family: 'Lucida Grande', Arial, sans-serif;
	font-size: 11px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid rgba(0, 0, 0, 0.5);
	background:	-webkit-gradient(linear, left top, left bottom, from(#fbfcfb), to(#9d9e9d));
	background: -moz-linear-gradient(#fbfcfb, #9d9e9d);
	background-color: #c0c2c0;
	text-shadow: rgba(255, 255, 255, 0.4) 0px 1px;
	-webkit-box-shadow: rgba(255, 255, 255, 0.4) 0 1px;
	-moz-box-shadow: rgba(255, 255, 255, 0.4) 0 1px;
	box-shadow: rgba(255, 255, 255, 0.4) 0 1px;
	-webkit-user-select: none;
	-moz-user-select: none;
	cursor: pointer;
	}

button.red:hover { color: #9a0816; }
button.blue:hover { color: #0042a6; }
button.cancel:hover { color: #000; }

button:hover {
	background:	-webkit-gradient(linear, left top, left bottom, from(#fbfcfb), to(#bbbbbb));
	background: -moz-linear-gradient(#fbfcfb, #bbbbbb);
	background-color: #fff;
	}

button:active {  
    background: #B5B5B5;  
    -webkit-box-shadow: rgba(255, 255, 255, 0.3) 0 1px,  
                        black 0px 1px 3px inset,  
                        rgba(0, 0, 0, 0.3) 0px -5px 12px inset;  
  
    -moz-box-shadow: rgba(255, 255, 255, 0.3) 0 1px,  
                     black 0px 1px 3px inset,  
                     rgba(0, 0, 0, 0.3) 0px -5px 12px inset;  
  
    box-shadow: rgba(255, 255, 255, 0.3) 0 1px,  
                black 0px 1px 3px inset,  
                rgba(0, 0, 0, 0.3) 0px -5px 12px inset;  
  
    text-shadow: rgba(255, 255, 255, 0.2) 0px 1px;  
}

/*************************************************************************************/
/* Styles for the Resources Tabs *****************************************************/
/*************************************************************************************/

#TabHolder {
	padding-top: 39px;
}

#TabHolder ul {
	list-style-type: none;
	color: #666;
	padding: 0;
	margin: 0;
}

#TabHolder li {
	float: left;
	width: 90px;
	height: 25px;
	margin-bottom: -1px;
	border: 1px solid #aaaaaa;
	border-bottom: none;
	text-align: center;
	font: normal .8em/1em 'ff-meta-web-pro-1','ff-meta-web-pro-2', 'Myriad Pro', Helvetica, sans-serif;
	background: transparent url(/modules/admin/images/backgrounds/tab_background2.jpg) repeat-x bottom left;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	margin-left: 5px;
}

#LoginModal_underlay {
	background-color: #000;
	opacity: .7;
}

#TabHolder li.active {
	color: #fff;
	border-color: #294F73;
	background: none;
	background-color: #294F73;
}

#TabHolder li a, #TabHolder li a:visited {
	color: inherit;
	text-decoration: none;
	padding-top: 7px;
	width: 100%;
	height: 100%;
	display: block;
}

#TabHolder li a:hover {
	text-decoration: none;
	color: #294F73;
}

#TabHolder li.active a:hover {
	text-decoration: none;
	color: #fff;
}

button a {
	color: inherit;
	text-decoration: none;
}

#ToolBar {
	padding: 5px;
	border-top: 1px solid #b3b3b3;
	border-bottom: 1px solid #b3b3b3;
	background-color: #e4e4e4;
}

.info { font-weight: bold; }
.alert {
	font: normal 18px "quatro-1", "quatro-2", "Lucida Grande", helvetica, sans-serif;
	color: rgb(41, 79, 115);
	position: relative;
	top: 3px;
	margin-right: 25px;
}

#ModalDialog_underlay {
        background-color: #000;
}