.myClass {
	border: 1px solid #9BA0AF;
	width: 70%;
	margin: 20px 3% 0 3%;
	margin-top: 20px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #F6F6F6;
	padding: 15px;
}

fieldset {
	width: 700px;
	margin: 0;
}

form dd {
	margin: 0;
}

fieldset dl textarea {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #BBBBBB;
	color: #666666;
	-webkit-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
	-moz-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
	box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
	padding-left: 10px;
	background-position: 10px 6px;
	margin: 0 0.5%;
	display: block;
	width: 96%;
	margin: 0 10px;
}

fieldset dl textarea:focus {
	outline: none;
	border: 1px solid #77BACE;
	-webkit-box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
	-moz-box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
	box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
}

/* Modules */

.module {
border: 1px solid #9BA0AF;
width: 100%;
margin: 20px 3% 0 3%;
margin-top: 20px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
background: #ffffff;
}

#main .module header h3 {
display: block;
width: 90%;
float: left;
}

.module header {
height: 38px;
width: 100%;
background: #F1F1F4 url(../images/secondary_bar.png) repeat-x;
-webkit-border-top-left-radius: 5px; -webkit-border-top-right-radius: 5px;
-moz-border-radius-topleft: 5px; -moz-border-radius-topright: 5px;
border-top-left-radius: 5px; border-top-right-radius: 5px;
}

.module footer {
height: 32px;
width: 100%;
border-top: 1px solid #9CA1B0;
background: #F1F1F4 url(../images/module_footer_bg.png) repeat-x;
-webkit-border-bottom-left-radius: 5px; -webkit-border-bottom-right-radius: 5px;
-moz-border-radius-bottomleft: 5px; -moz-border-radius-bottomright: 5px;
-webkit-border-bottom-left-radius: 5px; -webkit-border-bottom-right-radius: 5px;
}

.module_content {
margin: 10px 20px;
color: #666;}

input[type=submit], input[type=reset] {
background-color: #D0D1D4;
border: 1px solid #A8A9A8;
-webkit-box-shadow: 0 1px 0 #fff;
-moz-box-shadow: 0 1px 0 #fff;
box-shadow: 0 1px 0 #fff;
font-weight: bold;
height: 22px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
padding: 0 10px;
color: #666;
text-shadow: 0 1px 0 #fff;
cursor: pointer;
}

input[type=submit]:hover {
color: #333333;
}

input[type=submit].alt_btn {
background-color: #D0D1D4;
border: 1px solid#30B0C8;
-webkit-box-shadow: 0 1px 0 #fff;
-moz-box-shadow: 0 1px 0 #fff;
box-shadow: 0 1px 0 #fff;
font-weight: bold;
height: 22px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
padding: 0 10px;
color: #003E49;
text-shadow: 0 1px 0 #6CDCF9;
cursor: pointer;
}

input[type=submit].alt_btn:hover {
color: #001217;
}

input[type=submit].btn_post_message {
background: #D0D1D4 url(../images/post_message.png) no-repeat;
display: block;
width: 37px;
border: none;
height: 24px;
cursor: pointer;
text-indent: -5000px;
}

input[type=submit].btn_post_message:hover {
background-position: 0 -24px;
}

/* New/Edit Article Module */

fieldset {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #F6F6F6;
	border: 1px solid #ccc;
	padding: 0;
	margin: 10px 0;
	width: 100%;
}

fieldset label, #venueForm-ContentPane label {
	display: block;
	float: left;
	width: 200px;
	height: 25px;
	line-height: 25px;
	text-shadow: 0 1px 0 #fff;
	font-family: "ff-meta-serif-web-pro-1","ff-meta-serif-web-pro-2";
	font-style: normal;
	font-weight: bold;
	font-size: 0.9em;
	margin: 0;
	color: #5f5f5f;
	padding-left: 11px;
	margin-top: 3px;
	text-transform: uppercase;
}

#venueForm-ContentPane label { width: 500px; }

fieldset input[type=text], #venueForm-ContentPane input[type=text] {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #BBBBBB;
	height: 20px;
	color: #444444;
	-webkit-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
	-moz-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
	box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
	padding-left: 10px;
	background-position: 10px 6px;
	margin: 0;
	display: block;
	float: left;
	width: 96%;
	margin: 0 10px;
}

input#title, #venueForm-ContentPane input[type=text] {
	height: 30px;
	font-family: "ff-meta-serif-web-pro-1","ff-meta-serif-web-pro-2";
	font-size: 24px;
	margin-bottom: 10px;
}

fieldset input[type=text]:focus, #venueForm-ContentPane input[type=text]:focus {
outline: none;
border: 1px solid #77BACE;
-webkit-box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
-moz-box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
}

fieldset select {
width: 96%;
margin: 0 10px;
border: 1px solid #bbb;
height: 20px;
color: #666666;
}

fieldset dl {
	margin: 0;
}

fieldset textarea {
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
border: 1px solid #BBBBBB;
color: #666666;
-webkit-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
-moz-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
padding-left: 10px;
background-position: 10px 6px;
margin: 0 0.5%;
display: block;
float: left;
width: 96%;
margin: 0 10px;
}

fieldset textarea:focus {
outline: none;
border: 1px solid #77BACE;
-webkit-box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
-moz-box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
}

.row {
	padding: 5px 0 10px 0;
	border-bottom: 1px solid #ccc;
	position: relative;
}

.row p {
	margin: 0;
}

.row .actions {
	float: right;
	position: absolute;
	top: 8px;
	right: 10px;
}

.row .status {
	float: right;
	margin-right: 12px;
	font-weight: bold;
	font-size: 11px;
}

.row .published {
	color: #1a8c0b;
}

.row .draft, .embargoed {
	color: #d20909;
}

#date-label { display: block; }
#fieldset-Date { padding: 10px 0 8px 0; }
#fieldset-Date dd {margin-bottom: 10px; }
dt#Date-label { display: none; }
#Title-label {display: none; }
#fieldset-Tools dt { display: none; }
#fieldset-Tools { padding: 10px; position: relative; width: 757px; }
#fieldset-Tools select { width: 150px; margin: 0; }
#submit-element { float: right; position: absolute; top: 10px; right: 10px; }
#copy-element { float: right; position: absolute; top: 10px; right: 140px; padding-right: 7px; border-right: 2px solid #ccc; }
#cancel-element { float: right; position: absolute; top: 10px; right: 85px; }
#synopsisForm-ContentPane { height: 400px; }
#synopsis-label { display: none; }
#description-label { display: none; }
#order-label, #order-element { display: none; }

.dragTitle {
	text-shadow: 0 1px 0 #fff;
	font-family: "ff-meta-serif-web-pro-1","ff-meta-serif-web-pro-2";
	font-style: normal;
	font-weight: bold;
	font-size: 1em;
	color: #909090;
	text-transform: uppercase;
	text-align: center;
	width: 100%;
	margin-top: 155px;
}

#UploadZoneFront, #UploadZoneBack {
	background: #eee url('/modules/admin/images/backgrounds/image_upload.png') repeat;
	float: left;
	width: 300px;
	height: 342px;
	margin-right: 30px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #BBBBBB;
	color: #444444;
	-webkit-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
	-moz-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
	box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
	text-align: center;
	padding-top: 13px;
}

#UploadZoneFront.hover, #UploadZoneBack.hover {
	border: 1px solid #77BACE;
	-webkit-box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
	-moz-box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
	box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
}

#flyerfront-label, #flyerback-label {
	display: none;
	width: 200px;
	text-shadow: 0 1px 0 #fff;
	font-family: "ff-meta-serif-web-pro-1","ff-meta-serif-web-pro-2";
	font-style: normal;
	font-weight: bold;
	font-size: 0.9em;
	color: #5f5f5f;
	text-transform: uppercase;
	margin: 0 7px;
}

.imageActions {
	background-color: rgba(0,0,0,0.8);
	width: 198px;
	height: 330px;
	position: absolute;
	top: 38px;
	left: 60px;
	opacity: 0;
}

.imageActions .actionOption {
	width: 90px;
	height: 14px;
	padding-top: 3px;
	margin: 5px;
	border: 1px solid #fff;
	font: bold normal 9px "ff-meta-web-pro-1","ff-meta-web-pro-2", Arial;
	color: #ffffff;
	text-align: center;
	text-transform: uppercase;
}

.coverDiv {
	background-color: red;
	width: 100%;
	height: 20px;
	position: absolute;
	top: 0;
	left: 0;
}

span.tabLabel {
	text-shadow: 0 1px 0 #fff;
	font-family: "ff-meta-serif-web-pro-1","ff-meta-serif-web-pro-2";
	font-style: normal;
	font-weight: bold;
	font-size: 0.9em;
	color: #5f5f5f;
	text-transform: uppercase;
	margin: 0 7px;
}

/* Bad form below, but this is for a specific person */
.nowrapTabStrip div div div div { outline: none; }