h3.singleEvent {
	font-size: 30px;
	font-weight: normal;
	font-style: italic;
	margin-top: 0;
	margin-bottom: 0;
}

h2 {
	font-size: 30px;
	font-weight: normal;
	font-style: italic;
	margin-top: 0;
	margin-bottom: 0;
}


.event {
	width: 770px;
	padding-top: 5px 0;
	border-bottom: 1px solid #999999;
	padding-bottom: 10px;
	}

.event:hover {
	/* background-color: #e6e6e6; */
	background:	-webkit-gradient(linear, left top, left bottom, from(#e6e6e6), to(#f2f2f2));
	background: -moz-linear-gradient(#fbfcfb, #9d9e9d);
	background-color: #c0c2c0;
	}

.eventInfo {
	float: left;
	width: 375px;
	margin-top: 5px;
	}

.eventImage {
	float: left;
	margin-top: 14px;
	padding-right: 20px;
	}

.eventActions {
	float: right;
	margin-top: 10px;
	margin-right: 10px;
	text-align: right;
	/* visibility: hidden; */
	}

.eventActions button {
	width: 50px;
}

#EventPopUp {
	width: 100%;
	}

#MainForm {
	float: left;
	width: 460px; height: 439px;
	margin: 15px 0;
	}

#ImageUploads {
	float: right;
	width: 215px;
	margin: 15px 0;
	}

/*********************** UPLOADER ****************************/

.upload-space {
	-webkit-border-radius: 5px; -moz-border-radius: 5px;
	float: left;
	padding: 5px;
	background: transparent url(/images/backgrounds/imageThumb.png) repeat top left;
	border: 1px solid #111;
	overflow: hidden;
	margin-bottom: 10px;
}

.qq-uploader { position:relative; width: 100%; }

.qq-upload-button {
    display:block; /* or inline-block */
    width: 200px; padding: 60px 0 7px 0; text-align:center; height: 67px; margin: 0;
    background:#555; color:#fff;
}

.qq-upload-button-hover {background:#666;}
.qq-upload-button-focus {outline:1px dotted black;}

.qq-upload-drop-area {
    position:absolute; top:0; left:0; width:100%; height:100%; min-height: 70px; z-index:2;
    background:#FF9797; text-align:center; 
}
.qq-upload-drop-area span {
    display:block; position:absolute; top: 50%; width:100%; margin-top:-8px; font-size:16px;
}
.qq-upload-drop-area-active {background:#FF7171;}

.qq-upload-list {display: none; margin:15px 35px; padding:0; list-style:disc;}
.qq-upload-list li { margin:0; padding:0; line-height:15px; font-size:12px;}
.qq-upload-file, .qq-upload-spinner, .qq-upload-size, .qq-upload-cancel, .qq-upload-failed-text {
    margin-right: 7px;
}

.qq-upload-file {}
.qq-upload-spinner {display:inline-block; background: url("/modules/admin/images/loading.gif"); width:15px; height:15px; vertical-align:text-bottom;}
.qq-upload-size,.qq-upload-cancel {font-size:11px;}

.qq-upload-failed-text {display:none;}
.qq-upload-fail .qq-upload-failed-text {display:inline;}