fieldset {
	width: 700px;
	margin: 0;
}

.checkboxRow {
	margin-top: 10px;
	line-height: 25px;
	text-shadow: 0 1px 0 white;
	font-family: "ff-meta-serif-web-pro-1","ff-meta-serif-web-pro-2";
	font-style: normal;
	font-weight: bold;
	font-size: 0.9em;
	color: #5F5F5F;
	text-transform: uppercase;
}

.checkboxRow > div {
	float: left;
}

.checkboxLabel {
	margin-right: 10px;
}

form dd {
	margin: 0;
}

#Tracklist {
	border: 1px solid #000;
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
}

#Tracklist input.trackInput {
	width: 282px;
}

#Tracklist input.artistInput {
	width: 157px;
}

#Tracklist th {
	background-color: #ccc;
	color: #ffffff;
	text-align: left;
}

th.track {
	width: 300px;
}

th.artist {
	width: 175px;
}

th.file {
	width: 143px;
}

th.actions {
	width: 125px;
}

.shortTitle, .shortDesc {
	width: 190px !important;
}
.dijitTextBox {
	width: 200px !important;
}

#UploadZone, #UploadZone3 {
	background: #eee url('/modules/admin/images/backgrounds/image_upload.png') repeat;
	height: 407px;
	width: 230px;
	border-radius: 5px;
	border: 1px solid #BBBBBB;
	padding: 10px 0 10px 10px;
	overflow: auto;
	position: relative;
	float: left;
}

#UploadZone input, #UploadZone2 input, #UploadZone3 input {
	width: 200px;
	margin-bottom: 40px;
}

#UploadZone label, #UploadZone2 label, #UploadZone3 label {
	display: block;
	float: left;
	width: 220px;
	text-shadow: 0 1px 0 #fff;
	font-family: "ff-meta-serif-web-pro-1","ff-meta-serif-web-pro-2";
	font-style: normal;
	font-weight: bold;
	font-size: 0.9em;
	margin: 0 0 15px 0;
	color: #5f5f5f;
	text-transform: uppercase;
	border-bottom: 3px solid #5f5f5f;
}

#UploadZone3 {
	margin-left: 10px;
}

#UploadZone2 {
	background: #eee url('/modules/admin/images/backgrounds/image_upload.png') repeat;
	height: 407px;
	width: 230px;
	border-radius: 5px;
	border: 1px solid #BBBBBB;
	padding: 10px 0 10px 10px;
	overflow: auto;
	position: relative;
	float: left;
	margin-left: 10px;
}

#UploadZone.hover, #UploadZone2.hover, #UploadZone3.hover {
	border: 1px solid #77BACE;
	-webkit-box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
	-moz-box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
	box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
}

#CCDialog_underlay {
    background-color: rgba(0,0,0,0.8);
}

#CCDialog {
	background-color: #ffffff;
	border-radius: 5px;
	overflow: hidden;
}

.dojoDndItemOver { border-right: 1px solid #333 !important; }
table.dojoDndAvatar { width: 25px; -moz-border-radius: 0; border: 1px solid #ccc; border-collapse: collapse; background-color: #fff; font-size: 75%; color: black; }
.dojoDndAvatar td { border: none; }

fieldset dl textarea {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #BBBBBB;
	color: #666666;
	-webkit-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
	-moz-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
	box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
	padding-left: 10px;
	background-position: 10px 6px;
	margin: 0 0.5%;
	display: block;
	width: 96%;
	margin: 0 10px;
}

fieldset dl textarea:focus {
	outline: none;
	border: 1px solid #77BACE;
	-webkit-box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
	-moz-box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
	box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
}

/* Modules */

.module {
border: 1px solid #9BA0AF;
width: 100%;
margin: 20px 3% 0 3%;
margin-top: 20px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
background: #ffffff;
}

#main .module header h3 {
display: block;
width: 90%;
float: left;
}

input[type=submit], input[type=reset] {
background-color: #D0D1D4;
border: 1px solid #A8A9A8;
-webkit-box-shadow: 0 1px 0 #fff;
-moz-box-shadow: 0 1px 0 #fff;
box-shadow: 0 1px 0 #fff;
font-weight: bold;
height: 22px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
padding: 0 10px;
color: #666;
text-shadow: 0 1px 0 #fff;
cursor: pointer;
}

input[type=submit]:hover {
color: #333333;
}

input[type=submit].alt_btn {
background-color: #D0D1D4;
border: 1px solid#30B0C8;
-webkit-box-shadow: 0 1px 0 #fff;
-moz-box-shadow: 0 1px 0 #fff;
box-shadow: 0 1px 0 #fff;
font-weight: bold;
height: 22px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
padding: 0 10px;
color: #003E49;
text-shadow: 0 1px 0 #6CDCF9;
cursor: pointer;
}

input[type=submit].alt_btn:hover {
color: #001217;
}

input[type=submit].btn_post_message {
background-color: #D0D1D4;
display: block;
width: 37px;
border: none;
height: 24px;
cursor: pointer;
text-indent: -5000px;
}

input[type=submit].btn_post_message:hover {
background-position: 0 -24px;
}

/* New/Edit Article Module */

fieldset {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #F6F6F6;
	border: 1px solid #ccc;
	padding: 0;
	margin: 10px 0;
	width: 100%;
}

fieldset label {
	display: block;
	float: left;
	width: 200px;
	height: 25px;
	line-height: 25px;
	text-shadow: 0 1px 0 #fff;
	font-family: "ff-meta-serif-web-pro-1","ff-meta-serif-web-pro-2";
	font-style: normal;
	font-weight: bold;
	font-size: 0.9em;
	margin: 0;
	color: #5f5f5f;
	padding-left: 11px;
	margin-top: 3px;
	text-transform: uppercase;
}

input[type=text] {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #BBBBBB;
	height: 20px;
	color: #444444;
	-webkit-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
	-moz-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
	box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
	padding-left: 10px;
	background-position: 10px 6px;
	margin: 0;
	display: block;
	float: left;
	width: 731px;
	margin: 0;
}

input#title {
	height: 30px;
	font-family: "ff-meta-serif-web-pro-1","ff-meta-serif-web-pro-2";
	font-size: 24px;
	margin-bottom: 10px;
}

input[type=text]:focus {
outline: none;
border: 1px solid #77BACE;
-webkit-box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
-moz-box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
}

fieldset select {
width: 96%;
margin: 0 10px;
border: 1px solid #bbb;
height: 20px;
color: #666666;
}

fieldset dl {
	margin: 0;
}

fieldset textarea {
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
border: 1px solid #BBBBBB;
color: #666666;
-webkit-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
-moz-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
padding-left: 10px;
background-position: 10px 6px;
margin: 0 0.5%;
display: block;
float: left;
width: 96%;
margin: 0 10px;
}

fieldset textarea:focus {
outline: none;
border: 1px solid #77BACE;
-webkit-box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
-moz-box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
}

.row {
	padding: 10px 0 10px 0;
	border-bottom: 1px solid #ccc;
	position: relative;
}

.row p {
	margin: 0;
}

.row .actions {
	float: right;
	position: absolute;
	top: 8px;
	right: 10px;
}

.row .status {
	float: right;
	margin-right: 12px;
	font-weight: bold;
	font-size: 11px;
}

.row .published {
	color: #1a8c0b;
}

.row .draft, .embargoed {
	color: #d20909;
}

#fieldset-Date dd { float: right; margin-right: 10px;}
#fieldset-Date { padding: 10px 0 8px 0; }
dt#Date-label { display: none; }
#Title-label {display: none; }
#fieldset-Tools dt { display: none; }
#fieldset-Tools { padding: 10px; position: relative; width: 757px; }
#fieldset-Tools select { width: 150px; margin: 0; }
#submit-element { float: right; position: absolute; top: 10px; right: 10px; }
#reset-element { float: right; position: absolute; top: 10px; right: 85px; }
#description-Editor { width: 530px; float: right; clear: both; }
#description-label { width: 530px; float: right; }
#imagesForm-ContentPane dl { margin-bottom: 0; }
#order-label, #order-element, #cover-label, #cover-element { display: none; }

.imageActions {
	background-color: rgba(0,0,0,0.8);
	width: 100px;
	height: 100px;
	position: absolute;
	top: 5px;
	left: 5px;
	opacity: 0;
}

.imageActions .actionOption {
	width: 90px;
	height: 14px;
	padding-top: 3px;
	margin: 5px;
	border: 1px solid #fff;
	font: bold normal 9px "ff-meta-web-pro-1","ff-meta-web-pro-2", Arial;
	color: #ffffff;
	text-align: center;
	text-transform: uppercase;
}

dt {
	line-height: 25px;
	text-shadow: 0 1px 0 #fff;
	font-family: "ff-meta-serif-web-pro-1","ff-meta-serif-web-pro-2";
	font-style: normal;
	font-weight: bold;
	font-size: 0.9em;
	color: #5f5f5f;
	text-transform: uppercase;
}

span.tabLabel {
	text-shadow: 0 1px 0 #fff;
	font-family: "ff-meta-serif-web-pro-1","ff-meta-serif-web-pro-2";
	font-style: normal;
	font-weight: bold;
	font-size: 0.9em;
	color: #5f5f5f;
	text-transform: uppercase;
	margin: 0 7px;
}

/* Bad form below, but this is for a specific person */
.nowrapTabStrip div div div div { outline: none; }

div.image {
	width: 110px;
	height: 110px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	float: left;
	padding: 5px;
	margin-right: 10px;
	margin-bottom: 10px;
	background-color: rgba(0,0,0,0.8);
	border: 1px solid #111;
	overflow: hidden;
	position: relative;
}

div.discog_item .delete {
	position: absolute;
	top: -5px;
	right: -7px;
	z-index: 5;
	opacity: 0;
}

.image img.enlargeOverlay {
	position: relative;
	top: -94px;
	left: -5px;
	z-index: 10;
	display: none;
}

.last {
	margin-right: 0;
}

.dragTitle {
	text-shadow: 0 1px 0 #fff;
	font-family: "ff-meta-serif-web-pro-1","ff-meta-serif-web-pro-2";
	font-style: normal;
	font-weight: bold;
	font-size: 1em;
	color: #909090;
	text-transform: uppercase;
	text-align: center;
	width: 100%;
	margin-top: 200px;
}