#TheSlides {
	background: #eee url('/modules/admin/images/backgrounds/image_upload.png') repeat;
	border: 1px solid #BBBBBB;
	border-radius: 5px;
	padding: 15px;
	min-height: 79px;
}

#TheSlides.hover {
	border: 1px solid #77BACE;
	-webkit-box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
	-moz-box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
	box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
}

.slide {
	float: left;
	margin-left: 5px;
	position: relative;
	overflow: hidden;
	text-align: center;
	}

.slide img {
	max-height: 75px;
}

.slide:hover {
	-moz-box-shadow: 0 0 10px #000000;
	-webkit-box-shadow: 0 0 10px #000000;
	box-shadow: 0 0 10px #000000;
	}

.slide:first-child {
	margin-left: 0;
}

.slideAction {
	background-color: rgba(0,0,0,0.7);
	width: 100%;
	height: 75px;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
}

.slideAction .actionOption {
	height: 14px;
	padding-top: 3px;
	margin: 5px;
	border: 1px solid #fff;
	font: bold normal 9px "ff-meta-web-pro-1","ff-meta-web-pro-2", Arial;
	color: #ffffff;
	text-align: center;
	text-transform: uppercase;
}

.eventInfo {
	float: left;
	width: 375px;
	margin-top: 5px;
	}

.eventImage {
	float: left;
	margin-top: 14px;
	padding-right: 20px;
	}

.eventActions {
	float: right;
	margin-top: 10px;
	margin-right: 10px;
	text-align: right;
	/* visibility: hidden; */
	}

.eventActions button {
	width: 50px;
}

#EventPopUp {
	width: 100%;
	}

#MainForm {
	float: left;
	width: 460px; height: 439px;
	margin: 15px 0;
	}

#ImageUploads {
	float: right;
	width: 215px;
	margin: 15px 0;
	}

#CCDialog_underlay {
    background-color: rgba(0,0,0,0.8);
}

#CCDialog {
	background-color: #ffffff;
	border-radius: 5px;
	overflow: hidden;
}