#LinkImage {
	width: 75px;
	height: 75px;
	background: #333 url('/images/icons/linkUpload.gif') no-repeat right top;
	float: left;
	margin-right: 18px;
}

#LinkImage img {
	width: 75px;
	height: 75px;
}

#MainForm {
	margin-left: 10px;
	float: left;
}

#MainForm dd {
	margin-left: 0;
	margin-bottom: 8px;
}

#MainForm dt {
	text-transform: uppercase;
	font: normal bold .8em ff-meta-serif-web-pro-1,ff-meta-serif-web-pro-2;
}

#MainForm dl {
	margin: 0;
}

#LinkImageInput-label, #LinkImageInput-element {
	display: none;
}

#description {
	height: 90px;
	width: 338px;
}

#title, #url {
	width: 338px;
}

#LinkImage.hover {
	border: 1px solid red;
}

.linkImage {
	width: 75px;
	height: 75px;
	float: left;
	margin-right: 20px;
}

.linkText {
	float: left;
	width: 375px;
}

.row {
	width: 770px;
	border-bottom: 1px solid #999999;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

/*
.row:hover {
	background:	-webkit-gradient(linear, left top, left bottom, from(#e6e6e6), to(#f2f2f2));
	background: -moz-linear-gradient(#fbfcfb, #9d9e9d);
	background-color: #c0c2c0;
}

*/
.actions {
	float: right;
	margin-top: 10px;
	margin-right: 10px;
	text-align: right;
	/* visibility: hidden; */
}

.actions button {
	width: 50px;
}

.dojoxDialogTitleBar {
	background-color: #294f73;
	height: 25px;
	padding-left: 10px;	padding-top: 4px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	font-family: ff-meta-serif-web-pro-1,ff-meta-serif-web-pro-2;
	font-weight: bold;
	color: #fff;
}

.dojoxDialogPaneContent {
	background-color: #ffffff;
	border-radius: 0 0 5px 5px;
}

#LinkDialog_underlay {
	background-color: #000;
	opacity: .7;
}

#LinkDialog {
	border: 0;
	outline: none;
}