/* Styles for the Resources Tabs */

#TabHolder {
	padding-top: 39px;
}

#TabHolder ul {
	list-style-type: none;
	color: #666;
	padding: 0;
	margin: 0;
}

#TabHolder li {
	float: left;
	width: 90px;
	height: 25px;
	/* padding-top: 7px; */
	margin-bottom: -1px;
	border: 1px solid #aaaaaa;
	border-bottom: none;
	text-align: center;
	font: normal .8em/1em 'ff-meta-web-pro-1','ff-meta-web-pro-2', 'Myriad Pro', Helvetica, sans-serif;
	background: transparent url(/modules/admin/images/backgrounds/tab_background2.jpg) repeat-x bottom left;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	margin-left: 5px;
}

#TabHolder li.active {
	color: #fff;
	border-color: #294F73;
	background: none;
	background-color: #294F73;
}

#TabHolder li a, #TabHolder li a:visited {
	color: inherit;
	text-decoration: none;
	padding-top: 7px;
	width: 100%;
	height: 100%;
	display: block;
}

#TabHolder li a:hover {
	text-decoration: none;
	color: #294F73;
}

#TabHolder li.active a:hover {
	text-decoration: none;
	color: #fff;
}