<div class="<?php if($this->partialCounter % 4 == 0) { echo 'discog_item last'; } else { echo 'discog_item'; } ?>">
	<div class="image">
		<a href="<?php echo $this->discogItem->id; ?>/"><img src="/releases/<?php echo $this->discogItem->dir; ?>/<?php echo $this->discogItem->album_cover; ?>" alt="<?php echo stripslashes($this->discogItem->title); ?> Album Cover" width="110" border="0" height="110"></a>
		<a href="<?php echo $this->discogItem->id; ?>/"><img style="display: none;" src="/images/foregrounds/discog_view_overlay.png" class="discogOverlay" alt="View Overlay" width="110" border="0" height="112"></a>
	</div>
	<div style="clear: both;"></div>
	<div class="title">
		<a href="<?php echo $this->discogItem->id; ?>/"><?php echo stripslashes($this->discogItem->title); ?></a>
	</div>
	<div class="date">
		<?php echo date("F d, Y", strtotime($this->discogItem->release_date)); ?>
	</div>
</div>