<div class="event">
	<div class="eventImage">
		<a href="/events/<?php echo $this->escape($this->event->id); ?>/"><img src="<?php echo $this->imageResize('/images/events/' . $this->event->flyerfront, array('w' => 132, 'h' => 92, 'crop' => true)); ?>" alt="Flyer Front" width="132" height="92" border="0"></a>
	</div>
	<div class="eventInfo">
		<h3><a href="/events/<?php echo $this->escape($this->event->id); ?>/"><?php echo $this->escape($this->event->title); ?></a></h3>
		<p><?php echo date('l, F j', strtotime($this->event->date)); ?></p>		
		<p><?php echo stripslashes($this->event->synopsis); ?> <a href="/events/<?php echo $this->escape($this->event->id); ?>/">more</a></p>
	</div>
	<div style="clear: both;"></div>
</div>