<div class="<?php if($this->partialCounter % 5 == 0) { echo 'image last'; } else { echo 'image'; }?>">
	<?php
		$dimensions = getimagesize("images/galleries/{$this->partialLoop()->view->dir}/{$this->image->filename}");
		if($dimensions[0] > $dimensions[1]) {
			$size = 'height="85"';
		} else {
			$size = 'width="85"';
		};
	?>
	<a href="<?php if($this->partialCounter > 99) { echo $this->partialCounter; } elseif($this->partialCounter <= 99 && $this->partialCounter > 9) { echo '0' . $this->partialCounter; } else { echo '00' . $this->partialCounter; } ?>/"><div style="width: 85px; height:85px; overflow: hidden; text-align: center;"><img src="<?php echo $this->imageResize('/images/galleries/' . $this->partialLoop()->view->dir . '/' . $this->image->filename, array('w' => 85, 'h' => 85, 'crop' => true)); ?>" alt="Image 1" width="85" height="85" border="0" /></div></a>
	<a href="<?php if($this->partialCounter > 99) { echo $this->partialCounter; } elseif($this->partialCounter <= 99 && $this->partialCounter > 9) { echo '0' . $this->partialCounter; } else { echo '00' . $this->partialCounter; } ?>/"><img style="display: none;" src="/images/foregrounds/photo_enlarge_overlay.png" class="enlargeOverlay" id="<?php echo $this->partialLoop()->view->dir; ?>/<?php echo $this->image->filename; ?>" alt="Enlarge Overlay" width="95" border="0" height="95"></a>
</div>