<?php $date = date('F j\, Y', strtotime($this->gallery->timestamp)); ?>
<?php $flatDir = str_replace('-', '', $this->gallery->dir); ?>
<?php $cover = str_replace('-', '', $this->gallery->dir) . '-cover'; ?>

<div class="album">
	<div class="thumbnail">
		<div style="width: 150px; height: 100px; overflow: hidden;">
			<a href="<?php echo $this->gallery->dir; ?>/"><img src="<?php echo $this->imageResize('/images/galleries/' . $this->gallery->dir . '/' . $this->partialLoop()->view->{$cover}, array('w' => 150, 'h' => 100, 'crop' => true)); ?>" alt="Thumbnail" width="150" height="100" border="0" /></a>
		</div>
		<a href="<?php echo $this->gallery->dir; ?>/"><img src="/images/foregrounds/photo_album_view_overlay.png" class="albumOverlay" alt="Thumbnail Overlay" width="150" border="0" height="100" /></a>
	</div>
	<h3><a href="<?php echo $this->gallery->dir; ?>/"><?php echo stripslashes($this->gallery->title); ?></a></h3><span><?php echo $this->partialLoop()->view->{$flatDir} ?> images</span>
	<p><?php echo trim(stripslashes($this->gallery->description)); ?></p>
	<div style="clear: both;"></div>
</div>