<?php if($this->partialCounter <= 8) { ?>
<div class="homepageEntry">
	<h3><a href="/news/<?php echo $this->escape($this->newsItem->id); ?>/"><?php echo $this->escape(stripslashes($this->newsItem->title)); ?></a></h3>
	<hr style="margin-bottom: 2px; color: transparent; background-color: transparent; border: 1px dotted #ccc; border-style: none none dotted; " />
	<div class="postInfo">Posted on <?php echo date('F j\, Y', strtotime($this->newsItem->creation_date)); ?></div>
	<p><?php echo strip_tags(trim(stripslashes($this->newsItem->synopsis)), '<a><i><b><p><div><h2>'); ?></p>
</div>
<?php } ?>