<div class="link">
	<div class="linkImage">
		<a href="http://<?php echo $this->linksItem->url; ?>" target="_blank"><img src="<?php echo $this->imageResize('/images/links/thumbs/' . $this->linksItem->image_url, array('w' => 75, 'h' => 75, 'crop' => true)); ?>" alt="Link Image" width="75" height="75" border="0" /></a>
	</div>
	<div class="linkText">

		<h3><a href="http://<?php echo $this->linksItem->url; ?>" target="_blank"><?php echo stripslashes($this->linksItem->title); ?></a></h3>
		<p><?php echo trim(stripslashes($this->linksItem->description)); ?></p>
	</div>
	<div style="clear: both;"></div>
</div>