<div class="<?php echo $this->class ?>">
	<a href="<?php echo $this->imageNumber; ?>/"><img src="/images/galleries/<?php echo $this->galleryName; ?>/<?php echo $this->imageName; ?>" width="85" height="85" border="0" alt="<?php echo $this->imageTitle; ?>" /></a>
	<a href="<?php echo $this->imageNumber; ?>/"><img src="/images/foregrounds/photo_enlarge_overlay.png" class="enlargeOverlay" id="<?php echo $this->galleryName; ?>/<?php echo $this->imageName; ?>" width="95" height="95" border="0" alt="Enlarge Overlay" /></a>
</div>