<?php $this->headTitle()->append('Downloads'); ?>

<h2 style="margin-top: 0">Downloads</h2>
<p><a href="#">Download biography</a></p>
<p><a href="#">Download press</a></p>
<p><a href="#">Download logo</a></p>
<p>etc...</p>