<h1>Arrange the Slideshow</h1>

<div id="TheSlides">
	<div id="Clear" style="clear: both;"></div>
</div>

<form action="" id="theForm">
	<input type="hidden" name="theShit" value='' />
</form>

<div id="SaveChanges" style="clear: both; opacity: 0.0; padding-top: 20px;">
	Changes have been made, please <button id="SaveChangesBtn">Save</button> or <button id="CancelChangesBtn">Cancel</button> the changes.
</div>

<div id="CreditCaption">
	<div style="float: left; width: 100px; height: 100px; background-color: #cccccc;">
		<img id="CCImage" src="" width="100" height="100" alt="0" border="0" />
	</div>
	<div style="float: left; width: 450px; margin-left: 15px;">
		Url <input type="text" id="CaptionInput" name="caption" style="width: 100%; margin-bottom: 10px;" /><br />
	</div>
	<div style="clear: both;">
		<button id="CCSave" style="float: right;">Save</button>
	</div>
</div>

<h1>Change the Sitewide Banner</h1>