<img src="/modules/admin/images/icons/alert.png" width="64" height="64" alt="Alert!" border="0" style="float: left; margin-right: 25px;" />

<div style="margin: 0; padding: 0;">
        <p>This action will permanently remove the album <span class="info"><i><?php echo $this->title; ?></i></span> and all associated files. This action cannot be undone!</p>
</div>
<div style="text-align: right; margin-top: 20px;">
        <form action="/admin/discography/delete/<?php echo $this->id; ?>/" id="DeleteDialog" method="post">
                <span class="alert">Continue?</span>
                <a href="cancel/"><button id="CancelButton">Cancel</button></a>
                <input type="submit" value="Delete" class="button" />
        </form>
</div>

<div style="clear: both;"></div>