<h1>Discography</h1>

<div id="ToolBar">
	<button id="Add"><a href="add/">Add Album</a></button>
</div>

<?php
	$this->partialLoop()->setObjectKey('discogItem');
	echo $this->partialLoop('_partials/_discographyListItem.phtml', $this->entries);
?>