<p><b>Email:</b> <a href="mailto:lepse@akalepse.com">lepse@akalepse.com</a><br /><br />
<a href="http://www.facebook.com/akalepse/" target="_blank"><img src="/images/buttons/facebook.png" width="24" height="24" border="0" alt="Facebook" /></a>
<a href="http://twitter.com/akalepse/" target="_blank"><img src="/images/buttons/twitter.png" width="24" height="24" border="0" alt="Twitter" /></a>

<?php if($this->emailSent) { ?>
    <div class="emailSent">
		<img src="/images/headers/email_sent.png" width="300" height="30" border="0" alt="Your email was sent. Thank you!" />
	</div>
<?php } ?>

<?php echo $this->emailForm; ?>