<div id="Mixes">
	<div class="discogHeading">
		<img src="/images/headers/mixes.png" alt="Mixes" width="130" border="0" height="30">
	</div>
	<?php
		$this->partialLoop()->setObjectKey('discogItem');
		echo $this->partialLoop('_partials/_discogListItem.phtml', $this->discogItems);
	?>
</div>
<div style="clear: both;"></div>