<script type="text/javascript">
	function getCookie() {
		if(document.cookie.search('playerState') != -1) {
			return true;
		} else {
			return false;
		}
	}
	
	function windowCheck() {
		var windowOptions = 'location=no, menubar=no, status=no, titlebar=no, toolbar=no, width=283, height=451, resizable=no';
		if(getCookie()) {
			var mine = window.open('', 'player', windowOptions);
			// mine.playAlbumByUrl('http://akalepse.com/xml/playlist_<?php echo $this->whichOne; ?>.xml');
			mine.playAlbumByUrl('/releases/<?php echo $this->album->dir; ?>/playlist.xml');
		} else {
			var mine = window.open('/player/<?php echo $this->album->dir; ?>/', 'player', windowOptions);
		}
	}
</script>

<div id="DiscogImageFull">
	<img src="/releases/<?php echo $this->album->dir; ?>/<?php echo $this->album->album_cover; ?>" id="DiscogImage" />
</div>
<div id="DiscogOptions">
	<?php if($this->album->playable) { ?><a href="#" onclick="windowCheck(); return false;"><img src="/images/buttons/play_mix.jpg" id="PlayMix" alt="Play Mix Button" width="70" border="0" height="18" /></a><?php } ?>
    <?php if($this->album->downloadable == '1') { ?><a href="/releases/<?php echo $this->album->dir; ?>/<?php echo $this->album->zipfile; ?>"><img src="/images/buttons/download.jpg" id="DownloadMix" alt="Download Mix Button" width="70" border="0" height="18"></a><?php } ?>
    <?php if($this->album->album_interior != '' || $this->album->album_back_cover != '') { ?>
		<div class="imageThumb"><a href="#" id="Thumb1" onClick="document.getElementById('DiscogImage').src = '/releases/<?php echo $this->album->dir; ?>/<?php echo $this->album->album_cover; ?>'; return false;"><img src="/releases/<?php echo $this->album->dir; ?>/<?php echo $this->album->album_cover; ?>" alt="" border="0" height="30"></a></div>
	<?php } ?>
    <?php if($this->album->album_interior != '') { ?>
		<div class="imageThumb"><a href="#" id="Thumb2" onClick="document.getElementById('DiscogImage').src = '/releases/<?php echo $this->album->dir; ?>/<?php echo $this->album->album_interior; ?>'; return false;"><img src="/releases/<?php echo $this->album->dir; ?>/<?php echo $this->album->album_interior; ?>" alt="" border="0" height="30"></a></div>
    <?php } ?>
    <?php if($this->album->album_back_cover != '') { ?>
		<div class="imageThumb"><a href="#" id="Thumb3" onClick="document.getElementById('DiscogImage').src = '/releases/<?php echo $this->album->dir; ?>/<?php echo $this->album->album_back_cover; ?>'; return false;"><img src="/releases/<?php echo $this->album->dir; ?>/<?php echo $this->album->album_back_cover; ?>" alt="" border="0" height="30"></a></div>
    <?php } ?>
	<div style="clear: both;"></div>
</div>
<div id="DiscogHeader">
	<h2><?php echo stripslashes($this->album->title); ?></h2>
	<p class="discogDate">Recorded on <?php echo date("F d, Y", strtotime($this->album->release_date)); ?></p>
	<p><?php echo stripslashes($this->album->description); ?></p>
</div>

<?php if(count($this->tracks) > 2 ) { ?>
<h4 class="track_listing">Track Listing</h4>
<ul class="track_listing_list">
    <?php foreach($this->tracks as $track) { ?>
	<li><span class="number"><?php echo (strlen($track->track_num) == 1)?'0':''; ?><?php echo $track->track_num; ?></span> <span class="track_name">"<?php echo stripslashes($track->title); ?>"</span> <span class="track_artist"><?php echo stripslashes($track->artist); ?></span></li>
    <?php } ?>
</ul>
<?php } ?>

<br /><span><a href="/discography/"><span class="button">Back to Discography</span></a></span>